<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
    content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <title>Engineering Microorganisms: Review</title>
            <h1>Engineering Microorganisms: Review</h1>
            <p>
                Quick question and answers on engineering microorganisms.
            </p>
            <br>
            <div class="quiz-questions">
                <p class="questions">
                    What are the main steps in the when using microorganisms for production?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            When using microorganisms for production, the following steps are essential:
                        </p>
                            <figure>
                                <img src="/courses/documents/engineering-microorganisms/microbesIndustry.pdf">
                                <figcaption>Different kinds of organisms and their applications in industry.</figcaption>
                            </figure>
                            <ol>
                                <li>
                                    Selecting the microbe and modifying the strain for our production. For the selection process, here we should consider:
                                    <ul>
                                        <li>
                                            Adaptibility to simple and inexpensive mediums.
                                        </li>
                                        <li>
                                            Quick growth in high temperature environements.
                                        </li>
                                        <li>
                                            Good level of production.
                                        </li>
                                        <li>
                                            Good resistance to technological stresses; stirring etc.
                                        </li>
                                        <li>
                                            Stable genetic traits.
                                        </li>
                                        <li>
                                            Compatible behaviour with life in a bioreactor.
                                        </li>
                                        <li>
                                            Ease of product recovery; do we have to lyse the cells or is the product secreted?
                                        </li>
                                        <li>
                                            Toxicity especially when producing food products.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Optimising the culture medium, we should make sure that it is apt to the physiology of our selected microbe.
                                </li>
                                <li>
                                    Select our fermentation technology. Scale should be considered here, a beaker vs a 2000 L bioreactor.
                                </li>
                                <li>
                                    Recovering the bioproduct or cells.
                                </li>
                            </ol>
                    </div>
                <p class="questions">
                    Explain what experimental evolution is, and what the advantages of such a process are for industrial productions.
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            Experimental evolution is the process of guiding the selection of certain organisms for the creation of a useful/desired organism. The advantages in industrial production for such a process are the following:
                        </p>
                            <ul>
                                <li>
                                    Product organisms are not considered GMOs, thus can be sold used freely.
                                </li>
                                <li>
                                    We can optimise our strains to our growth medium.
                                </li>
                            </ul>
                        <p>
                            Experimental evolution can be applied for: the production of vaccines, study of resistant bacteria, adapting strains to new conditions etc.
                        </p>
                    </div>
                <p class="questions">
                    You would like to produce a vitamin by using a bacteria. This will be for consumption. You start by cloning the genes used in the production of said vitamin, into a plasmid. What are the characteristics taken into consideration of the plasmid used if you wish to directly use the bacteria in this production?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            When using a plasmid for holding genes inside a bacteria for production the following should be taken into account and for the following reasons:
                        </p>
                            <ol>
                                <li>
                                    In general the plasmid should be compatible to the host organism. This will depend on the origin of replication and segregation systems used by the host, and even the size of the plasmid.
                                </li>
                                <li>
                                    The plasmid should be stable inside our host organism. For this we can use one of three systems, toxin/antitoxin (TA system), metablism based systems, or operator repressor titration (ORT) systems.
                                </li>
                                <li>
                                    The replication and copy number inside our host should be taken into account. We don't want the production to be to feeble nor to too great; should it impact the bacteria's health.
                                </li>
                                <li>
                                    We should make sure that the plasmid does not have any proteins or elements that might be toxic to the host organism. Moreover the system of selection for this plasmid should be compatible with the host.
                                </li>
                            </ol>
                    </div>
                <p class="questions">
                    What are the different types markers for selection? What difference is there between a comlementation marker and a dominant marker.
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            There are two main types of markers used for selection. Those are:
                        </p>
                            <ol>
                                <li>
                                    Complementation or dominant markers: resistance to antibiotics, heavy metals, metabolic markers.
                                </li>
                                <li>
                                    Homologous markers for food grade production.
                                </li>
                            </ol>
                        <p>
                            The difference between a complementation and a dominant marker is... INCOMPLETE
                        </p>
                    </div>
                <p class="questions">
                    What systems allow us to maintain plasmids in our microorganisms when scaling production?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <figure>
                            <img class="lazy" data-src="/courses/documents/engineering-microorganisms/addictionSys.pdf">
                            <figcaption>Addiction systems for maintaining a plasmid in a microbe during industrial production.</figcaption>
                        </figure>
                        <ol>
                            <li>
                                Toxin/antitoxin (TA):
                                <ul>
                                    <li>
                                        Protein regulated loci.
                                    </li>
                                    <li>
                                        Antisense RNA regulated.
                                    </li>
                                    <li>
                                        Restriction modfication.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Metabolism based:
                                <ul>
                                    <li>
                                        Catabolism based.
                                    </li>
                                    <li>
                                        Anabolism based.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Operator repressor titration (ORT).
                            </li>
                        </ol>
                        <p>
                            Plasmid addiction systems are used in order to maintain a plasmid during production. There are three types of plasmid addiction systems they are shown in the figure.
                        </p>
                    </div>
                <p class="questions">
                    Explain what genome editing is.
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            Genome editing is the process of actively modifying one or more genetic sequences in an organism. Molecular tools must be used (different from experimental evolution) to manipulate the genome. Such tools are: TALEN, CRISPR, and MAGE.
                        </p>
                        <p class="warning">
                            MAGE is not necessarily a targetted method, but it does require the use of molecular tools. Thus it is a genome editing tool.
                        </p>
                    </div>
                <p class="questions">
                    What are the main steps in a fermentation production? What parameters can be taken into account and or controlled?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            A fermentation process is a multistep system, it can be complex but simply put it involves the following:
                        </p>
                        <figure>
                            <img class="lazy" data-src="/courses/documents/engineering-microorganisms/fermentationProcess.pdf">
                            <figcaption>The fermentation process requires a multitude of variables but the main goal is to grow a microbe which will produce a product for us.</figcaption>
                        </figure>
                        <ol>
                            <li>
                                Sterlising our materials, including the reactors (seed reactor and production reactor) and the culture medium.
                            </li>
                            <li>
                                Placing the innoculum and culture medium into the reactor.
                            </li>
                            <li>
                                Centrifuging/filtering the product of reaction.
                            </li>
                            <li>
                                Recovering the surnatant and the biomass. 
                            </li>
                            <li>
                                Purifying and extracting the product.
                            </li>
                        </ol>
                        <p>
                            During production there are a number of variables to consider inside of the reactor, including: temperature, airation/agitation, foam prevention, pH levels, O<sub>2</sub> & CO<sub>2</sub> levels, finally the time of the reaction.
                        </p>
                    </div>
                <p class="questions">
                    What are the different methods for quantifying biomass?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            Biomass can be assessed in a few different ways.
                        </p>
                        <ol>
                            <li>
                                Gravimetry g/L mesured by weight.
                            </li>
                            <li>
                                Optical density UDO/mL (turbidometry or nephelemetry).
                            </li>
                            <li>
                                Other UFC/mL (hematimetry (Thoma cell), bioluminescence (ATPase activity), cytometry, or simply counting).
                            </li>
                        </ol>
                        <p>
                            The mathematics behind the measure are the folowing. We should know the number of generations, and the number of cells. 
                        </p>
                        <table>
                            <tr>
                                <td>n</td>
                                <td>0</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td rowspan="2">X</td>
                                <td>1</td>
                                <td>2</td>
                                <td>4</td>
                                <td>8</td>
                                <td>16</td>
                                <td>32</td>
                                <td>64</td>
                                <td>128</td>
                            </tr>
                            <tr>
                                <td>2<sup>0</sup></td>
                                <td>2<sup>1</sup></td>
                                <td>2<sup>2</sup></td>
                                <td>2<sup>3</sup></td>
                                <td>2<sup>4</sup></td>
                                <td>2<sup>5</sup></td>
                                <td>2<sup>6</sup></td>
                                <td>2<sup>7</sup></td>
                            </tr>
                        </table>
                        <p>
                            The growth of cells happens in the following way for bacteria (scissiparity). As shown in the table above, note that n is the number of generations, and X is the number of cells. the number of cells can be expressed as a power of a number of generations.
                        </p>
                        <div class="mathsFormulas">
                            $$
                                X_t = 2^n X_0
                            $$
                            $$
                                \ln{X_t} = n \ln{2} + \ln{X_0}
                            $$
                            $$
                                n = t/G
                            $$
                            $$
                                \ln{X_t} = t \ln{2}/G + \ln{X_0}
                            $$
                            $$
                                V = k[X] = \frac{dX}{dt} = \int^X_{X_0} \frac{dX}{X} = \int^t_{t_0} k \cdot dt
                            $$
                            $$
                                \ln{X} = \ln{X_0} + kt
                            $$
                        </div>
                        <p>
                            k is the speed constant of the growth. 
                        </p>
                    </div>
                <p class="questions">
                    What parameters influence growth?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <figure>
                            <img class="lazy" data-src="/courses/documents/engineering-microorganisms/fissionScissiparity.png">
                            <figcaption>Exponential growth of microorganisms.</figcaption>
                        </figure>
                        <p>
                            Growth can be influenced by a number of parameters both external and internal to the organism used. One internal characteristic to take into account is the generation time of an organism.
                        </p>
                        <p>
                            Moreover different species can divide in different ways, bacteria generally do so by fission or scissiparity whereby one bacteria gives birth to two identical daughter cells (15 - 60 mins). Yeast do so by budding, the mother cell gives off smaller daughter cells one at a time generally (45 - 120 mins). Fungii filament (4 - 8 h).
                        </p>
                    </div>
                <p class="questions">
                    What is a batch culture? What are the advantages of such a method; and the disadvantages?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            Batch culture is a discontinous culture. Whereby the substrate is introduced at once in the begining, and then the reaction is run. The system is closed for the duration of the reaction. Once finished, the products are removed the bioreactor is cleaned and the process is started again.
                        </p>
                        <p>
                            The advantages of a batch culture are the following:
                        </p>
                        <ol>
                            <li>
                                The reaction volume remains constant.
                            </li>
                            <li>
                                The biomass increases as per the growth curve. The substrate is consumed and a product appears.
                            </li>
                            <li>
                                There is no loss of microorganisms.
                            </li>
                            <li>
                                There is little to no chance of contamination (reactions tend to be short).
                            </li>
                            <li>
                                Flexible method can be adapted to many industries.
                            </li>
                        </ol>
                        <p>
                            The disadvantages of this method are the following:
                        </p>
                        <ol>
                            <li>
                                Costly materials and reactors.
                            </li>
                            <li>
                                Difficult to sterilise the materials, requires large quantities of water.
                            </li>
                            <li>
                                Productivity is low this is linked to the type of reactor used (wasted time between reactions).
                            </li>
                            <li>
                                Productivity is low because of the culture (long waits during cell growth).
                            </li>
                            <li>
                                Difficult to reproduce exactly the same.
                            </li>
                        </ol>
                    </div>
                <p class="questions">
                    What is the fed-batch method? What is it used for?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            In the fed-batch method the substrate is introduced but without removing the previous the previous substrate. The advantages of this method are:
                        </p>
                        <ol>
                            <li>
                                The initial volume is small so the growth happens at a constant rate while the substrate is being added. Growth is faster.
                            </li>
                            <li>
                                The volume increases little by little, along with the biomass.
                            </li>
                            <li>
                                There is a possibility to modify the composition of the medium as needed.
                            </li>
                            <li>
                                Alows for the orientation of the organisms metabolism if needed and to then stimulate the production of the metabolite after growth.
                            </li>
                            <li>
                                Possibility to increase the concentration in substrate to levels that would be inhibiting to growth, had they been introduced at the begining of growth.
                            </li>
                        </ol>
                        <p>
                            Fed-batch cultures are great for industrial applications, where the levels of a nutrient are susceptible to have a retarding effect on the growth of our strains. A typical example of use is when working with yeast, in order to avoid the production of ethanol, which can harm their later production, sugar is added progressively. This will stimulate growth but not allow for the production of ethanol.
                        </p>
                    </div>
                <p class="questions">
                    What is a chemostat reactor? What are the advantages/disadvantages?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <figure>
                            <img class="lazy" data-src="/courses/documents/engineering-microorganisms/bioreactorChemostat.jpg">
                            <figcaption>Illustration of a chemostat reactor. The reaction is done continously and the media is simultaneously added and removed.</figcaption>
                        </figure>
                        <p>
                            Chemostat culture is a reactor where the substrate is introduced and some of the system (products) is removed at the same time. The advantages disadvantages of this system are:
                        </p>
                        <ol>
                            <li>
                                The culture is homogenous, microbe population is constant and in a state of growth.
                            </li>
                            <li>
                                Transformation of substrates can be done indefinitely.
                            </li>
                            <li>
                                Products are recovered little by little as they are produced.
                            </li>
                            <li>
                                Productivity is much higher, the reactor never has to be emptied.
                            </li>
                            <li>
                                The reactor is used 24 h a day, economically it is much more interesting.
                            </li>
                            <li>
                                Allows for evolution of our strains this can be an advantage as our strains might adapt to better suit the reactor.
                            </li>
                        </ol>
                        <p>
                            The disadvantages are:
                        </p>
                        <ol>
                            <li>
                                Contamination can be a problem.
                            </li>
                            <li>
                                There is a possibility for the initial strain to be lost.
                            </li>
                            <li>
                                Formation of a biofilm can happen, thus mutations may form.
                            </li>
                            <li>
                                Denaturation might inactivate proteins needed.
                            </li>
                            <li>
                                There is no possibility to produce secondary metabolites, such as antibiotics, as the first product is immediately removed from the reactor as it is produced.
                            </li>
                        </ol>
                        <p>
                            The chemostat culture can b used for the study of microbes, to study their kinetics, and the evolution of strains.
                        </p>
                    </div>
                <p class="questions">
                    What is a "bilan carbone"?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <div class="mathsFormula">
                            $$
                                1 \, Glucose \rightarrow 2 \, lactate + 2 \, ATP
                            $$
                        </div>
                        <p>
                            Carbon "bilan", or balance refers to the efficiency at which carbon was taken and converted to useful product. In order to calculate this we need to know a few different things: what molecule we are giving for use as a substrate (how many carbon atoms), what molecule we are trying to produce (number of carbon), and the stiochiometry that joins the two. This should allow us to calculate the percent of carbon that was taken from our substrate and put into our product. If the balance is less than 100% this indicates that there is another molecule being produced. 
                        </p>
                        <p>
                            We can see that 1 glucose molecule is used in the production of 2 lactates and 2 ATP molecules. 
                        </p>
                    </div>
                <p class="questions">
                    What are the different systems for cloning that you know? Explain the concepts.
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            I know of 9 different methods for editing genes, they act in three different ways: 3 are DNA, 2 RNA, and 4 protein based. Shown below:
                        </p>
                        <figure>
                            <img class="lazy" data-src="/courses/documents/engineering-microorganisms/genomeEditors.png">
                            <img class="lazy" data-src="/courses/documents/engineering-microorganisms/genomeEditors.pdf">
                            <figcaption>9 Different genome editors, 3 different functions. Source: <a href="https://youtu.be/Wswvf8Nrubg" target="_blank">Genomic Editing Revolution - Prof. George Church</a></figcaption>
                        </figure>
                        <p>
                            Although the classical ones are the following:
                        </p>
                        <ol>
                            <li>
                                Digestion and ligation.
                            </li>
                            <li>
                                PCR Fusion based systems.
                            </li>
                            <li>
                                GIBSON.
                            </li>
                            <li>
                                In-Fusion (LIC).
                            </li>
                            <li>
                                SLICE.
                            </li>
                            <li>
                                Gateway cloning (&lambda;<sub>red</sub>).
                            </li>
                        </ol>
                    <div class="mini-header">Digestion/Religation</div>
                        <figure>
                            <img class="lazy" data-src="/courses/documents/engineering-microorganisms/cloningDigestionReligation.png">
                            <figcaption>Here EcoR1 is used to cut and clone a gene of interest into a plasmid; the same enzyme is used both times which produces sticky ends since EcoR1 leaves overhangs.</figcaption>
                        </figure>
                        <p>
                            For digestion religation; there are 3 types of restriction enzymes. They each work differently.
                        </p>
                        <p>
                            <strong>Type I</strong> Recognises a specific sequence, then tracks down 1000 - 5000 bases before cutting only one of the strands, 75 nucleotides are release where the cut is made. A second endonuclease is required to cut the complimentary strand. This should leave hanging ends which can be used for hybridisation.
                        </p>
                        <p class="inline-foot-note">
                            Requires Mg<sup>2+</sup>, ATP, and S-Adenosyl Methionine (SAM).
                        </p>
                        <p>
                            <strong>Type II:</strong> Recognises a specific target sequence in the DNA then makes a break in both strands at or close to the recognition site. 
                        </p>
                        <p class="inline-foot-note">
                            Usually requires Mg<sup>2+</sup>.
                        </p>
                        <p>
                            <strong>Type III:</strong> Has intermediate properties between I and II. It breaks both strands of DNA at a specific distance from the recognition site.
                        </p>
                        <p class="inline-foot-note">
                            Requires Mg<sup>2+</sup> and ATP.
                        </p>
                        <p>
                            There are various disadvantages associated to this method. Such as:
                        </p>
                        <ol>
                            <li>
                                Not very effective, low efficiency when transformed.
                            </li>
                            <li>
                                Scars are left.
                            </li>
                            <li>
                                Dependant on the enzyme and cloning site in question.
                            </li>
                        </ol>
                    <div class="mini-header">Fusion PCR</div>
                        <figure>
                            <img class="lazy" data-src="/courses/documents/engineering-microorganisms/temp_fusionPCR.png">
                            <figcaption>PCR amplification, for the creation of homologous sequences is capital to the functioning of this method. Tedious, but works quite well.</figcaption>
                        </figure>
                        <p>
                            PCR based fusion is the use of PCR and sequences with overlapping homologous parts. Once amplification elongation etc happens, these parts become fused at their overlapping sequences. Note that this system can also be used to delete parts of a plasmid. Homologous parts should be a minimum of 15 bp long; this can vary depending on GC content. This method relies on <em>E. coli's</em> recombinase activity for religating the strands.
                        </p>
                        <div class="warning">
                            A polymerase without displacement activity is used!
                        </div>
                        <p>
                            The plasmid is nicked, both strands are broken, Dpnl will digest the parent plasmid, finally after transformation the nicks are repaired by the host.
                        </p>
                        <div class="warning">
                            Dpn1 is a type II restriction enzyme which digest methylated DNA; in our case the newly produced (PCR) DNA is not methylated and is thus untouched. The parent sequences are digested and eliminated leaving only the modified strands.
                        </div>
                        <p>
                            PCR cloning will be affected by various different factors. Such as the number of cycles done during the reaction, or the length of the insert used.
                        </p>
                        <p>
                            Using this system we can either insert sequences or even delte them by creating the correct strands for PCR use.
                        </p>
                    <div class="mini-header">SLiCE (Seamless ligation cloning extract)</div>
                        <blockquote>
                            <p>
                                We describe a novel cloning method termed SLiCE (Seamless Ligation Cloning Extract) that utilizes easy to generate bacterial cell extracts to assemble multiple DNA fragments into recombinant DNA molecules in a single in vitro recombination reaction. SLiCE overcomes the sequence limitations of traditional cloning methods, facilitates seamless cloning by recombining short end homologies (15bp) with or without flanking heterologous sequences and provides an effective strategy for directional subcloning of DNA fragments from Bacteria Artificial Chromosomes (BACs) or other sources. SLiCE is highly cost effective as a number of standard laboratory bacterial strains can serve as sources for SLiCE extract. In addition, the cloning efficiencies and capabilities of these strains can be greatly improved by simple genetic modifications. As an example, we modified the DH10B Escherichia coli strain to express an optimized j prophage Red recombination system. This strain, termed PPY, facilitates SLiCE with very high efficiencies and demonstrates the versatility of the method.
                            </p>
                            <p class="quote-author">
                                <a class="foot-note" data-href="/courses/documents/engineering-microorganisms/docs/2012_SLiCE A novel bacterial cell extract-based DNA cloning method.pdf">SLiCE: Zhang <em>et al.</em> 2012</a>
                            </p>
                        </blockquote>
                        <figure>
                            <img class="lazy" data-src="/courses/documents/engineering-microorganisms/temp_slice.png">
                            <figcaption>Multiple cloning methods are possible by SLiCE; simply put what it is, is a reaction medium that will catalyse our reaction.</figcaption>
                        </figure>
                        <p>
                            This method allows for recombineering <em>in vitro</em>. Transformation is done into chemocompetent cells by electroporation. The steps for this process are to add homologous ends to a sequence of interest (overlap with target sequence). Then linearise the plasmid, and add RecA<sup>-</sup> bacterial extract which allows for the ligation. 
                        </p>
                        <p class="warning">
                            This whole process happens in vitro, the last part is transformation into <em>E. coli</em>.
                        </p>
                    <div class="mini-header">Gibson Cloning</div>
                        <figure>
                            <img class="lazy" data-src="/courses/documents/engineering-microorganisms/micro_biobuilderGibsonAssembly.pdf">
                            <figcaption>From BioBuilder (2015).</figcaption>
                        </figure>
                        <blockquote>
                            <p>
                                Developed by Dr. Daniel Gibson at the J. Craig Venter Institute during their work on full genome assembly, the Gibson technique uses PCR to prepare multiple DNA fragments for simultaneous assembly.
                            </p>
                            <p>
                                Gibson assembly has several advantages over both traditional cloning and BioBrick assembly methods, the greatest of which might be its usefulness for assembling many DNA parts simultaneously. Even in its earliest stage of development, a single Gibson assembly reaction can piece together about ten DNA parts.
                            </p>
                            <p class="quote-author">
                                <a class="foot-note" data-href="http://derecksnotes.com/owncloud/index.php/s/S6aWeucrBGN3Snr" target="_blank">BioBuilder (2015)</a>
                            </p>
                        </blockquote>
                        <p>
                            Gibson cloning is the insertion of a sequence into a plasmid. It is done in <em>in vitro</em> in the following way. First homologous regions are added to our gene of interest by PCR. Then these two strands with homologous parts, the gene of interest and the vector, are partially digested (thermolabile T5 exonuclease) to produce complimentary overhanging sections. Finally ligation is done by a Taq ligase, to produce a single strand. This strand can then be transformed into <em>E. coli</em>. Multiple fragments can be cloned at once.
                        </p>
                        <blockquote>
                            <p>
                                The PCR step both generates enough DNA to work with and modifies each DNA part with short sequences that overlap with its partnered part in the final assembly. The overlapping sequences with its intended neighboring part must be at least 25 base pairs for this technique to work. In a second step, the PCR products are pasted together based on the overlapping sequences that have been introduced. No restriction enzymes, or their cognate restriction sites, are required. Instead, a commercially available enzyme, an exonuclease, trims back one of the strands on each DNA part, leaving a DNA overhang on both ends of the fragments. The exonuclease has no sequence specificity; it simply chews back any linear piece of double-stranded DNA moving from the 3′ to 5′ direction. This reaction reveals the customized “sticky ends” that were introduced by the PCR amplification of each DNA part.
                            </p>
                            <p class="quote-author">
                                BioBuilder (2015)
                            </p>
                        </blockquote>
                    <div class="mini-header">Ligation independant cloning (LIC), In-Fusion<sup>&REG;</sup></div>
                        <figure>
                            <img class="lazy" data-src="/courses/documents/engineering-microorganisms/temp_inFusion.png">
                            <figcaption></figcaption>
                        </figure>
                        <p>
                            Commonly refered to as In-Fusion<sup>&REG;</sup>, the correct name is ligation independant cloning (LIC). This method still uses the same logic as all others <em>ie</em> homologous sequences, and recombination.
                        </p>
                        <p>
                            This cloning process is done in a similar way to gibson cloning. It uses the following:
                        </p>
                        <ol>
                            <li>
                                3'-5' exonuclease activity from <em>Poxvirus</em>
                            </li>
                            <li>
                                DNA polymerase
                            </li>
                            <li>
                                Mg<sup>2+</sup>
                            </li>
                            <li>
                                dNTPs
                            </li>
                        </ol>
                        <p>
                            This means that we can use blunt PCR fragments, as the DNA polymerase will chew back the 3'-5' strand to create complimentary overhangs. Multiple fragments can be cloned at once. Once this <em>in vitro</em> part is done the whole is then transformed into <em>E. coli</em> where it will be ligated by the host's ligase.
                        </p>
                    <div class="mini-header">Gateway &lambda;<sub>red</sub> Systems</div>
                        <p>
                            The gateway technique is a methodology by which we clone and store our gene of interest into a holding vector. This holding vector will allow us to reuse our materials and clone it into multiple other target vectors if so desired.
                        </p>
                        <p>
                            The &lambda;<sub>red</sub> part refers to the use of the machinery behind the &lambda; phage. 
                        </p>
                        <p>
                            This technique makes use of the phage &lambda;. The phage is capable of infecting, and inserting itself (DNA) into the host by recombination.
                        </p>
                        <p>
                            The fragment of interest is first cloned into a donor vector (plasmid); PCR then cloning. This vector can then be transfered into...
                        </p>
                        <p class="inline-foot-note">
                            Did not finish this section did not understand how teh attP, attB, attL, attR fragments line up to produce recombination. And did not understand the selection process that is used specifically with ccdB, from what I understood it impedes the gyrase; questions what does the gyrase do? Reverse the coiling so that the cell can maintain/segregate the plasmid? So if it doesn't work that specific plasmid is dead or the whole cell?
                        </p>
                    </div>
                <p class="questions">
                    How can we invert chromosomal fragments of DNA with the CRE/LOX system?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            Here's a short explanatory video on the CreLox system.
                        </p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/oLPjiwM0G7A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <p>
                            The Cre/LOX system is a recombineering method that makes use of the Cre recombinase enzyme. It is derived from the P1 bacterial phage. It is designed to cut out sequences between two LoxP (Locus of X-over from P1 bacteriophage). sites. 
                        </p>
                        <p>
                            The LoxP sites flank the target sequences. They are composed of two symetric 13 bp in between which is an asymetric 8 bp sequence. This asymetric sequence gives the sites directionality.
                        </p>
                        <p>
                            Cre recombinase can catalyse a deletion, inversion or translocation of a sequence. Depending on the orientation of the flanking LoxP sites.
                        </p>
                        <p>
                            LoxP sites in the same direction results in deletion. Opposite directions, inversion. And interchromsomal recombinations can also produce translocations.
                        </p>
                        <p>
                            Thus to answer the question in order to invert a sequence we would have to use sites that face in opposite directions.
                        </p>
                    </div>
                <p class="questions">
                    How can we use the CRE/LOX system in order to exchange cassettes?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            The exchange of cassettes is known as the recombinase mediated cassette exchange (RMCE). Sequences which differ in their flanking Lox sites are used in both cassettes. The heterologous lox sites, can be used to swap the pre-placed genome cassette from one sequence for a target sequence which is also flanked by the same lox sites. 
                            <p class="inline-foot-note">
                                Note that the lox sites in both of these are opposite facing.
                            </p>
                        </p>
                    </div>
                <p class="questions">
                    What are the main actors in &lambda;<sub>red</sub> recombination?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            The main actors in the &lambda;<sub>red</sub> reaction are exo, &beta;, &gamma;. This system can happen in the mutant <em>E. coli</em> recA, recB, or recC.
                        </p>
                        <p>
                            In order for this system to work it must be inducible. It can be done so commonly by heat. This is because the natural regulator of &lambda; is a thermosensitive repressor. Thus when temperature is elevated to 42&deg;C for about 15 mins we get expression of the &lambda; system.
                        </p>
                        <p>
                            Exo is an exonuclease which fixes itself to the begining of a sequence and digest from 5'-3' leaving simple strand overhangs. &beta; fixes itself onto the simple strand overhangs where it recognises the homologous regions. Then &gamma; inhibits recBCD.
                            <p class="inline-foot-note">
                                Note that recA is not necessary. Find more information on recBCD, NOT COMPLETE.
                            </p>
                        </p>
                    </div>
                <p class="questions">
                    What are the conditions necessary for the most efficient single strand &lambda;<sub>red</sub> recombination?
                </p>
                <div class="collapseContentDisabled">
                    <figure>
                        <img class="lazy" data-src="/courses/documents/intro-biology/20190328_DnaReplication.svg">
                        <figcaption>Review of the replication fork of DNA.</figcaption>
                    </figure>
                    <p>
                        The conditions for a most efficient recombination by use of &lambda;<sub>red</sub> are the following:
                    </p>
                    <ol>
                        <li>
                            Our chosen primer must hybridise onto the lagging strand of the replication fork.
                        </li>
                        <li>
                            The bacteria must not have a mismatch repair system.
                        </li>
                    </ol>
                </div>
                <p>
                    
                </p>
                <!-- <p class="questions">
                    Relative to &lambda;<sub>red</sub>, do you know any other orthologues to EXO and BET?
                </p> -->
                <p class="questions">
                    Define TALEN.
                </li>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            TALEN stands for transcription activator-like effector nuclease. It is an artificial protein which can be used for cutting DNA at a precise sequence. It is a TAL transactivator-like protein plus a nuclease. The TAL will recognise a sequence and then allow for the nuclease to act and cut the DNA.
                        </p>
                        <p>
                            Sequence recognition can be quite simply engineered by changing the DNA sequence that will produce our TALEN. It has been found that the following amino acids recognise the following nucleotides: NG - T, NI - A, HD - C, NN - G or A.
                        </p>
                        <p>
                            Note that TALEN works in a dimer where one recognised one sequence and another recognises another sequence on the other strand. They should have their neuclease domains meet in the middle which is what allows for the cut to occur.
                        </p>
                    </div>
                <p class="questions">
                    How does the CRISPR-Cas type II system work?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/MnYppmstxIs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <p>
                            The type II CRISPR-Cas system is the one that specifically invovles the Cas9 protein. It was first identified in <em>E. coli</em> as an immune system.
                        </p>
                        <p>
                            CRISPR stands for clustered regularly interspaced palindromic repeats. The way it works is the following, it produces the Cas9 protein, the tracrRNA, and the crRNA. The crRNA hybridises to the target, the tracrRNA fixes the crRNA to the CAS9 protein. The CAS9 protein has endonuclease capabilities.
                        </p>
                        <p>
                            For use in biotechnology, what needs to be done is to simply modify the target sequence in the crRNA, not much else needs to be changed. This will now allow for targetting a new desired sequence and to thus cut it.
                        </p>
                        <p class="inline-foot-note">
                            The type I system is the one responsible for integrating new DNA sequences into the the CRISPR.
                        </p>
                    </div>
                <p class="questions">
                    What do we call guide RNA and what is it made from?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            The guide RNA is more specifically called crRNA. This RNA is responsible for determining the target sequence to be attacked. <em>In vivo</em> it is typically composed of previous DNA sequences of viruses (bacteriophages) that have attacked the host, and part of it complexes to the tracrRNA, which is what binds it to the CAS protein.
                        </p>
                    </div>
                <!-- <p class="questions">
                    What is a counter selection marker?
                </p> -->
                <p class="questions">
                    What is a thermosensitive replication vector? What can it be used for?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            A thermosensitive replication vector is a vector which will allow for integration of a sequence by homologous recombination, but is sensitive to temperature. That is that the vector will not replicate at a certain temperature (normally above 37&deg;C). This allows us to clean out the cells from our vector.
                        </p>
                    </div>
                <!-- <p class="questions">
                    Draw a schematic showing the deletion of a chromosomal gene by using the &lambda;<sub>red</sub> system; show both versions: with scar, and no scar.
                </p> -->
                <p class="questions">
                    How would you mutate a gene by using overlapping extension PCR (OEing PCR).
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            In order to mutate a gene by using overlapping PCR, or otherwise known as fusion PCR, I would do the following:
                        </p>
                        <ol>
                            <li>
                                Select a cloning vector, this cloning vector should be compatible with my host strain into which I will transform it into. 
                            </li>
                            <li>
                                PCR amplify my desired sequence, also adding homologous ends which target an insertion point in the vector.
                            </li>
                            <li>
                                Put a nick in my plasmid vector, each strand should be broken.
                            </li>
                            <li>
                                PCR amplify both my insert and vector together, this will allow for them to denature and rehybridise along their homologous regions. Extension happens to form a complete plasmid with the insert.
                            </li>
                            <li>
                                Dpn1 is then used to digest the parent plasmid.
                            </li>
                            <li>
                                The whole is then purified if necessary, and then transformed into <em>E. coli</em>.
                            </li>
                        </ol>
                    </div>
                <p class="questions">
                    Explain the concept behind MAGE and describe the different steps. What is the use for such a system?
                </p>
                    <!-- <button class="collapsible">View Solution</button> -->
                    <div class="collapseContentDisabled">
                        <p>
                            MAGE stands for Multiplex Automated Genome Engineering. It allows for one to scope many targets at the same time, on the chromosome (in a single cell or multiple), and to modifiy it. Simply put it produces genomic diversity <em>en masse</em>.
                        </p>
                        <p>
                            The steps involved in this machine are the following:
                        </p>
                        <ol>
                            <li>
                                Grow the cells.
                            </li>
                            <li>
                                Induce &beta; protein expression at 42&deg;C.
                            </li>
                            <li>
                                Chill the cells to 4&deg;C.
                            </li>
                            <li>
                                Wash away media and suspend in H<sub>2</sub>O.
                            </li>
                            <li>
                                Add primers to washed cells, and electroporate cells.
                            </li>
                            <li>
                                Recover cells, and resuspend in growth media.
                            </li>
                            <li>
                                Restart cycle.
                            </li>
                        </ol>
                        <p>
                            MAGE can perform up to 50 different modifications at the same time, in about 25% of the cell population; thus creating billions of variants. The cycle takes about 3 h. This method is great for experimental evolution.
                        </p>

                    </div>

                <p class="questions">
                    What is the CRISPR-Cas9 system used for? Can it modify a chromosomal gene?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        The CRISPR-Cas9 system is a powerful. It much like a hammer can be used for a variety of purposes. Simply put what it does is create double strand breaks in DNA. So if one were to design a DNA strand with a gene of interest, or one to recombine with the broken strands then one could either add, or delete genetic information from DNA; even chromosomal DNA.
                    </p>
                </div>
                <p class="questions">
                    How can we use the sacB system as a counter selection marker? In which organisms can it be used?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        The sacB system originates from <em>Bacillus subtilis</em> and other <em>Bacillus</em> species (Gay P. <em>et al.</em> 1985). What the gene does is produce a levansucrase, which synthesises a polymer of sucrose when the bacteria grows in sucrose.
                    </p>
                    <p>
                        This polymer accumulates in the periplasm and thus has a toxic effect.
                    </p>
                    <p class="warning">
                        Since the toxicity of this system relies on the accumulation of the molecule in the periplasm it can only be used in gram- bacteria; notably in <em>Mycobacterium</em> and <em>Corynebacterium glutamicum</em>.
                    </p>
                    <!-- <p>
                        Thus we can use this marker for negative selection by ... <span>FINISH QUESTION</span>
                    </p> -->
                </div>
                <p class="questions">
                    Describe the galK system in the context of positive and negative selection. What is the disadvantage when using it?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        The galK system is based on the galactose metabolic system. Normally galactose is taken up by galactokinase and by hydrolysis of ATP into ADP transformed into galactose-1-P. If instead of giving the bacteria galactose we feed 2-deoxy-D-galactose (2-DOG) an analogue of galactose the bacteria produces a toxic molecule, and thus kills itself.
                    </p>
                    <p>
                        This system can be used for both positive and negative selection. 
                    </p>
                </div>
                <p class="questions">
                    What does GRAS and QPS mean?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        GRAS stands for generally recognised as safe (FDA: Food and drug administration), and QPS is the European equivalent: Qualified presumption of safety (EFSA: European food safety authority).
                    </p>
                    <p>
                        This is a status given to historically safe to use microorganisms or other organics; these have a history, over multiple generations, of being safe for use by humans and for human consumption.
                    </p>
                </div>
                <p class="questions">
                    Define lactic bacteria?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        Lactic bacteria refers to a group of bacteria with specific phenotypic characteristics. These are the characterstics:
                    </p>
                    <ol>
                        <li>
                            Produce lactic acid by fermentation of sugars. 
                        </li>
                        <li>
                            "Coques", or gram+ <em>Bacillius</em>.
                        </li>
                        <li>
                            Mesophiles or thermophiles.
                        </li>
                        <li>
                            Anaerobic, aerotolerant, they do not have catalase.
                        </li>
                        <li>
                            Nutritionally picky; they have a reduced capacity for biosynthesis.
                        </li>
                        <li>
                            Non-toxic, nor pathogenic. These are recognised as GRAS.
                        </li>
                    </ol>
                </div>
                <p class="questions">
                    Which lactic bacteria posses the biggest chromosome? The smallest?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        <em>Lactobacillus plantarum</em> has the biggest chromosome at 3300 kb; amongst the lactic bacteria species. On the other hand <em>Oenococcus oeni</em> has the smallest at 1750 kb.
                    </p>
                </div>
                <p class="questions">
                    What about the genome of <em>S. thermophilus</em> allows us to say that this bacteria is perfectly adapted to growing in milk?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        It seems that <em>S. thermophilus</em> is perfectly adapted to its niche; growth in milk. This is because of various genetic and phenotypic characterics it demonstrates.
                    </p>
                    <p>
                        <strong>Sugars:</strong> <em>Thermophilus</em> uses various kinds of sugars: lactose, sucrose, and glucose. Note that it has however lost the ability to use certain sugars, those that are not present in milk. It has 3 hydrolases which are adapted to the sugars mentioned before; and 8 systems for the transport of sugars: lactose + glucose.
                    </p>
                    <p>
                        <strong>Proteolytic system:</strong> It has a PrtS system in its cell wall, <em>ie</em> a protease. It also has 12 different cytoplasmic peptidases, and 9 different oligopeptide transport systems.
                    </p>
                    <p>
                        <strong>Stress:</strong> It is pH resistant, resistant to oxydative stresses, and even changes in osmolarity. <em>Thermophilus</em> has an F0F1 ATPase system for the translocation of protons. It also has a superoxydase dismutase, and a NADH ocydase.
                    </p>
                    <p>
                        <strong>Phages &phi;:</strong> Moreover, <em>Thermophilus</em> has a CRISPR system for combating phagic &phi; infections. It also has other resistance systems.
                    </p>
                </div>
                <p class="questions">
                    What are the 2 main roles of BL for the creation of yogurts?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        The two main properties necessary for the creation of a good yougurt with use of lactic acid bacteria are: acidification, and the produciton of flavour compounds.
                    </p>
                    <p>
                        Notably the change in pH allows for the gelification of the substrate (milk) into yogurt. The flavour compounds give the aroma and taste to the yogurt.
                    </p>
                </div>
                <p class="questions">
                    What are we referring to when we speak of starters? What are the different types?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        Starters when speaking of lactic bacteria are strains that are used for fermentation. There are multiple types.
                    </p>
                    <p>
                        One can use traditional complex mixes of strains that are poorly known. The disadvantage to using these is that the trials are difficult to reproduce exactly as we do not control nor know 100% of the bacterial proportions or properties.
                    </p>
                    <p>
                        We can use pure mixes, <em>ie</em> one isolated strain that is well characterised. This is simple to control and to reproduce.
                    </p>
                    <p>
                        Mixed starters are a mix of partially predetermined strains (Flora Danica).
                    </p>
                    <p>
                        Selected mixes are mixes including various predetermined strains in specific proportions. These are all well known and controlled.
                    </p>
                </div>
                <p class="questions">
                    What makes a fermentation homolactic?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        An homolactic fermentation is characterised by use of at least 90% of all glucose being consumed and converted into lactate. This can be done by metabolically homofermenating bacteria: <em>Lactococcus, Pediococcus, Lactobacillus</em>.
                    </p>
                    <p class="warning">
                            During homolactic fermentation the main product formed is lactate. This is known as the EMP or fructose-diphosphate pathway.
                        </p>
                    <p>
                        On the other hand heterolactic fermentation is when we use <em>Leuconostoc</em> and other <em>Lactobacillus</em> strains that do not have FBP aldolase nor PTS.
                    </p>
                </div>
                <p class="questions">
                    What are the main products synthesised during a heterolactic fermentation?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        During heterolactic fermentation the main products formed are: CO<sub>2</sub>, acetate, and ethanol. This is known as the pentose-phosphate, or hexose-phosphate pathway.
                    </p>
                    <p class="warning">
                        Note that the heterolactic fermentation can move from acetate/ehtanol production, to lactate production as they are linked.
                    </p>
                </div>
                <p class="questions">
                    What are the 2 main systems for the transport of sugars? Explain how they work.
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        There are two main systems for transporting sugars; these are active transport systems in lactic bacteria.
                    </p>
                    <figure>
                        <img class="lazy" data-src="/courses/documents/engineering-microorganisms/microPermeaseSugarTransport.svg">
                        <figcaption>Schematic depicting the cooperation between a permease and ATPase. ATPase produces a proton imbalance and ATP for subsequent phosphorylation of the sugars.</figcaption>
                    </figure>
                    <p>
                        <strong>Permease:</strong> These work in either a symport or antiport way. Permease works in conjunction with an ATPase who produces a proton asymetry. These protons are used for transporting by a symport mechanisms the sugars into the cells. These sugars are then phosphorylated by hydrolysis of the previosuly produced ATP.
                    </p>
                    <figure>
                        <img class="lazy" data-src="/courses/documents/engineering-microorganisms/micro_ptsSugarTransport.pdf">
                        <figcaption>The phosphotransferase system (PTS) <em>ie </em>sugar transport system. Sugars who entry by this system are systematically phosphorylated upon entry.</figcaption>
                    </figure>
                    <p>
                        <strong>Phosphotransferase system (PTS):</strong> The PTS system is compsed of two small cytoplasmic proteins: El, and HPr which are common to all lactic bacteria. There is a permease that is specific per sugar, it is composed of one or more proteins (A, B, C, D); at least one of these is a membranary protein.
                    </p>
                    <p>
                        For entry of a sugar into the cell by PTS: PEP-Pyruvate is first converted to pyruvate by El, then P-El is converted back to El and the phosphate group is passed onto Hpr, which produces P-His-HPr. This phosphate group is finally passed onto the A unit of the permease, then B and finally to the sugar upon entry. Thus the sugar is systematically phosphorylated upon entry. This system is more efficient in use of energy.
                    </p>
                    <figure>
                        <img class="lazy" data-src="/courses/documents/engineering-microorganisms/microLactic_sugarTransportSys.png">
                        <figcaption>EII refers to sugar-specificmembrane components of the PEP: PTS superscript P indicates active transport systems. Bold indicates Embden-Meyerhof-Parnas (glycolytic) pathway (Thompson 1987).</figcaption>
                    </figure>
                    <p>
                        Here is an overview of other sugar transport systems in lactic bacteria.
                    </p>
                </div>
                <p class="questions">
                    What is catabolic repression in firmicutes?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        Firmicutes refers to a phylum of bacteria most whom are gram+, they are generally cocci (round), or bacillus (rod-like) in shape. Firmicutes a role in the spoilage of beer, wine, and cider.
                    </p>
                    <p>
                        Catabolic repression refers to the down regulation of certain metabolic pathways in favour for the use of others. 
                    </p>
                </div>
                <!-- <p class="questions">
                    What happens when glucose and lactose are present together in a system and the bacteria are capable of using both sugars? What is the molecular mechanism?
                </p>
                <p class="questions">
                    What are the different components of the proteolytic system in <em>L. lactis</em>? Explain the mechanism.
                </p>
                <p class="questions">
                    Describe the mechanism for the biosynthesis of PrtP.
                </p>
                <p class="questions">
                    What does the LPXTG motif do?
                </p>
                <p class="questions">
                    Define protocooperation.
                </p>
                <p class="questions">
                    What is a bacteriocine? How are they classified?
                </p> -->
                <p class="questions">
                    Describe the biosynthesis and regulation of nisin.
                </p>
                <div class="collapseContentDisabled">
                        <p>
                            Nisin is a bacterial antibacterial enzyme often used as a food preservative. For industrial use, it is obtained by the culture of <em>L. lactis</em> on natural substrates such as dextrose or milk. Moreover, nisin is special in that it is a bacteriocin that affects a broad spectrum of microbes, including: lactic acid bacteria (responsible for spoilage) and <em>Listeria monocytogenes</em> a known pathogen. Most bacteriocins affect closely related species. Finally nisin must penetrate the outer membrane, this can happen by heat shock, or when used in conjunction with ethylenediaminetetraacetic acid (EDTA).
                        </p>
                    <figure>
                        <img class="lazy" data-src="/courses/documents/engineering-microorganisms/temp_microBiosynthRegNisine.png">
                        <figcaption>Regulation and biosynthesis of nisin.</figcaption>
                    </figure>
                    <p>
                        Synthetisis happens first 
                    </p>
                </div>
                <!-- <p class="questions">
                    What are the biochemical characteristics of lactocoques that produce the most diacetyle?
                </p> -->
                <p class="questions">
                    What are the EPS used for? Describe their genetic organisation. How can we better the texturante properties of a strain by classical genetics?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        EPS stands for exopolysaccharides. EPSs are excreted outside the cells and play a role in:
                    </p>
                    <ul>
                        <li>
                            Protection against dry environements, osmotic stresses, attacks by phages &phi;, and other toxic compounds.
                        </li>
                        <li>
                            Helps to confuse the immune system, resistance to phagocytosis.
                        </li>
                        <li>
                            Helps adhere to surfaces and induce the formation of biofilms.
                        </li>
                    </ul>
                    <figure>
                        <img class="lazy" data-src="/courses/documents/engineering-microorganisms/micro_EpsGeneOrg.svg">
                        <figcaption>Here is a small schematic of what a general EPS cluster looks like.</figcaption>
                    </figure>
                    <p>
                        The genetic organisation of EPS are generally conserved in lactic bacteria. They present themselves in multiple modules; for regulation, polymerisation, etc. They are also often located between two insertion sequences (IS) for a transposon.
                    </p>
                </div>
                <p class="questions">
                    In the production of cheeses can the presence of a urease be bothersome?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        Generally yes the presence of urease is undesirable as it produces CO<sub>2</sub> and ammonia which is toxic to mammals. Although urease can be found in humans and mammals, they do not produce it themselves, it is produces by bacteria found on the bodies of these organisms, speficically the intenstines.
                    </p>
                </div>
                <p class="questions">
                    Explain the functioning of both systems of induction NICE and ZitR in <em>L. lactis</em>.
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        NICE stands for Nisine controlled gene expression. It is a method for the controlled expression of proteins in lactic bacteria.
                    </p>
                    <figure>
                        <img class="lazy" data-src="/courses/documents/engineering-microorganisms/micro_NiceSystem.pdf">
                        <figcaption>Nisine controlled gene expression system; works through signal transduction.</figcaption>
                    </figure>
                    <p>
                        <strong>NICE Mechanism:</strong> The way the NICE system works is the following:
                    </p>
                    <ol>
                        <li>
                            Nisin binds to NisK transmembranary receptor protein.
                        </li>
                        <li>
                            NisK phosphorylates NisR.
                        </li>
                        <li>
                            NisR-P fixes the gene promotor, and induces expression.
                        </li>
                    </ol>
                </div>
                <figure>
                    <img class="lazy" data-src="/courses/documents/engineering-microorganisms/micro_geneExpressionZitR.pdf">
                    <figcaption>ZitR or Zinc-Responsive Repressor expression system.</figcaption>
                </figure>
                <p>
                    <strong>ZitR or Zinc-Responsive Repressor</strong>, is also a method for controlling gene expression in lactic bacteria; it works in the following way: 
                </p>
                <ol>
                    <li>
                        <strong>Zn<sup>2+</sup> is in excess:</strong> ZitR is complexed with Zn<sup>2+</sup> and thus fixed on before the zitR sequence before our gene of interest.
                    </li>
                    <li>
                        <strong>Zn<sup>2+</sup> starvation:</strong> ZitR is inactive and thus the RNA polymerase can fix itself to the promotor and transcribe our gene of interest.
                    </li>
                </ol>
                <p class="questions">
                    How can we stick on proteins to the surface of a lactic bacteria?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        Lactic bacteria can be used in healthcare, they are generally non-toxic, and are GRAS. Moreover lactic bacteria have probiotic qualities. It is for this reason they can be used for human healthcare; we can make them even better by sticking proteins to the surface of these organisms in order to give them new properties and interaction with the immune system.
                    </p>
                    <p>
                        There a few different methods for anchoring proteins to the surface of a lactic bacteria:
                    </p>
                    <figure>
                        <img class="lazy" data-src="/courses/documents/engineering-microorganisms/micro_anchoringMethodsLacticBacteria.pdf">
                        <figcaption>Illustration of the 5 different anchoring methods to the cellular surface of a lactic bacteria.</figcaption>
                    </figure>
                    <ol>
                        <li>
                            Transmembranary anchor.
                        </li>
                        <li>
                            Lipoprotein anchor.
                        </li>
                        <li>
                            LPXTG domain.
                        </li>
                        <li>
                            AcmA domain (3 motifs LysM) which link covalently to the peptidoglycan layer of gram+ bacteria; method used in the production of vaccines.
                        </li>
                        <li>
                            Surface protein sticks on the S layer (surface of the peptidoglycan layer) of the cell.
                        </li>
                    </ol>
                </div>
                <p class="questions">
                    Define a GEM. What is their use for the production of vaccines?
                </p>
                <div class="collapseContentDisabled">
                    <p>
                        A GEM is defined as a genetically engineered microorganism. A GEM is in principle the same as a GMO; genetically modified organism.
                    </p>
                    <p>
                        The goals remain more or less the same:
                    </p>
                    <ol>
                        <li>
                            Amplify or modify genes that code for interesting metabolic enzymes.
                        </li>
                        <li>
                            Minimise metabolic dead ends.
                        </li>
                        <li>
                            Increase efficiency and production of energy.
                        </li>
                        <li>
                            Add heterologous genes that may give new metabolic properties.
                        </li>
                    </ol>
                    <p>
                        There are some downsides when creating GMOs/GEMs:
                    </p>
                    <ol>
                        <li>
                            The manipulations we apply may reduce fitness of the organism.
                        </li>
                        <li>
                            There may be an imbalance or increase in energy consumption; we may inadvetently make the organism less efficient because of the increase in genetic material.
                        </li>
                        <li>
                            There is a risk that the modifications may spread to other wild organisms.
                        </li>
                    </ol>
                    <p>
                        This is why the development of a suicide-GMO/GEM is important, as if it were to get out into the wild it should not be able to live on its own without our artificial environements. A way of doing this classically is making the organism auxotrophic for something we provide in the lab.
                    </p>
                </div>
            </p>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
