<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>

    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>
            <h1>Statistics: Probabilities and distributions 1</h1>
            <h2>Context</h2>
            <p>
                We are studying the factors influencing heart disease. For this study we will analyse 40 subjects for which we have multiple variables including blood pressure (systolic), and the consumption of cigarettes and or alcohol.
            </p>
            <h2>Symbology</h2>
            <p>
                A short reference for the symbols and terminology used on this page:
            </p>
            <ul>
                <li>
                    &sigma;: Standard deviation.
                </li>
            </ul>
            <h2>Questions</h2>
            <h3>Part one</h3>
            <p class="question">
                Here are the data for 5 out of the 40 total subjects. Calculate the mean, and the standard deviation; there are two formulas for this which is necessary?
            </p>
            <table>
                <tr>
                    <th>Blood pressure (mmHg):</th>
                    <td>110</td>
                    <td>115</td>
                    <td>122</td>
                    <td>112</td>
                    <td>125</td>
                </tr>
            </table>
            <p>
                The mean:
            </p>
            <div class="mathsFormula">
                $$
                    \mu = \frac{110 + 122 + 115 + 122 + 125}{5} = 116.8
                $$
            </div>
            <p>
                The standard deviation requires us to calculate the deviation first then the squared deviation (area) or variance, the finally the standard deviation is the result of the square root of the variance.
            </p>
            <div class="note">
                Data point &rarr; measure/observation &rarr; measure - &mu; (mean) = deviation &rarr; &sigma;<sup>2</sup> (deviation<sup>2</sup>) &rarr; &Sigma;(&sigma;<sup>2</sup>)/n - 1 = unbiased variance &rarr; &Sqrt;(variance) = &sigma; (standard deviation/ecart type)
            </div>
            <table>
                <tr>
                    <th>measure - &mu; = deviation</th>
                    <th>deviation<sup>2</sup></th>
                </tr>
                <tr>
                    <td>110 - 116.8 = -6.8</td>
                    <td>46.2</td>
                </tr>
                <tr>
                    <td>122 - 116.8 = -4.8</td>
                    <td>23.04</td>
                </tr>
                <tr>
                    <td>115 - 116.8 = -1.8</td>
                    <td>3.24</td>
                </tr>
                <tr>
                    <td>122 - 116.8 = 5.2</td>
                    <td>27.04</td>
                </tr>
                <tr>
                    <td>125 - 116.8 = 8.2</td>
                    <td>67.24</td>
                </tr>
                <tr>
                    <th>&Sigma;(&sigma;<sup>2</sup>)</th>
                    <td>166.8</td>
                </tr>
            </table>

            <div class="warning">
                Variance can be baised (n) or unbiased (n - 1), this will determine what all subsequent values will be (baised or not). 
            </div>

            <div class="mathsFormula">
                <p>
                    Biased variance:
                </p>
                $$
                    \sigma_{biased} = \frac{166.8}{5} = 33.36
                $$
                <p>
                    Unbiased variance:
                </p>
                $$
                    \sigma_{unbiased} = \frac{166.8}{5 - 1} = 41.7
                $$
            </div>
            <p>
                We will use the unbiased variance.
            </p>
            <div class="mathsFormula">
                <p>
                    Unbiased standard deviation/ecart type:
                </p>
                $$
                    \frac{\sigma}{n - 1} = \frac{41.7}{4} = 6.45
                $$
            </div>
            <p class="question">
                The Shapiro-Wilk test is done on the sample. What are the hypothesis: H<sub>0</sub>, H<sub>1</sub>? The p-value = 0.53, and &alpha; = 10%. Please evaluate.
            </p>
            <p>
                The Shapiro-Wilk test is used to see if a data set adheres to a normal distribution (we are testing normality). The hypothesis set for this test are the following:
            </p>
            <ol>
                <li>
                    H<sub>0</sub>: We accept normality.
                </li>
                <li>
                    H<sub>1</sub>: We reject normality.
                </li>
            </ol>
            <div class="warning">
                    This test is the "opposite" of all others in setting the H<sub>0/1</sub>. Another way to word for a more logical fit is:
                <ol>
                    <li>
                        H<sub>0</sub>: We fail to reject anmormal distribution, there is no difference.
                    </li>
                    <li>
                        H<sub>1</sub>: We accept that there is a difference from normal distribution.
                    </li>
                </ol>
            </div>
            <p>
                The chosen &alpha; is used as a threshold for this check. <em>Eg.</em> &alpha; = 0.05 = 5%. If p &lt; 0.05, then the distribution is not normal, <em>ie.</em> H<sub>1</sub> is the chosen hypothesis.
            </p>
            <p>
                We found that p = 0.53 &gt; &alpha; = 0.1; p &gt; &alpha; so the H<sub>0</sub> hypothesis is accepted, the distribution is normal.
            </p>
            <div class="note">
                <ol>
                    <li>
                        &alpha;: The probability of rejecting H<sub>0</sub> even though it might be true.
                    </li>
                    <li>
                        &beta;: The probability of accepting H<sub>0</sub> even though it may be false.
                    </li>
                </ol>
            </div>
            <p class="question">
                Calculate the probability of having a blood pressure superior to 125 mmHg. A F(u) table for the normal distribution centred and reduced is given.
            </p>
            <p>
                We know that with normally distributed data sets. 68% of all values fall within 1 standard deviation to the mean. We are given 125 with a standard deviation of &sigma; = 6.45 and a mean &mu; = 116.8.
            </p>
            <div class="mathsFormula">
                $$
                    116.8 + 6.45 = 122.45
                $$
                $$
                    116.8 - 6.45 = 110.35
                $$
                $$
                    \mu - \sigma < \mu + \sigma < 125
                $$
            </div>
            <p>
                Thus 125 as a value falls outside the 1st standard deviation, but within the 2nd.
            </p>
            <p>
                There are two methods of doing this:
            </p>
            <ol>
                <li>
                    Integrating using the normal distribution formula.
                </li>
                <li>
                    Using the F(u) table.
                </li>
            </ol>
            <p>
                Since what we are looking for is the probability that a given point or value will fall under the curve within a certain interval of x then integration can accomplisht this since a probability is simply equal to an area under the curve that describes the distribution.
            </p>
            <div class="mathsFormula">
                <p>
                    Formula for a normal distribution:
                </p>
                $$
                    f(x|\mu, \sigma^2) = \frac{1}{\sqrt{2 \pi \sigma^2}} \cdot e^{\frac{-(x - \mu)^2}{2 \sigma^2}}
                $$
            </div>
            <p>
                What we would want to calculate in our case is the following; x = 125, and the interval of the integral is 125 &rarr; +&infin;.
            </p>
            <div class="mathsFormula">
                <p>
                    Calculation: f(125 | 0, 1)
                </p>
                $$
                    f(125|0, 1) = \frac{1}{\sqrt{2 \pi 6.45^2}} \cdot e^{\frac{-(125 - 116.8)^2}{2 \cdot 6.45^2}}
                $$
            </div>
            <p>
                This can be easily calculated on a calculator such as the TI Voyage 200. Simply save the formula in memory, and replace the necessary variables during integration. The integration option is found at the home menu (calculations application), under integrate. Once selected, type the formula for the normal distribution as shown above, after the fomula type a comma then variable x, another comma the lower bound, and finally the upper bound.
            </p>
            <div class="mathsFormula">
                $$
                    p(t) > 125 = \int_{125}^{+\infty}{\frac{1}{\sqrt{2 \pi 6.45^2}} \cdot e^{\frac{-(125 - 116.8)^2}{2 \cdot 6.45^2}}}
                $$
            </div>
            <p>
                For finding the answer by use of the table do the following.
            </p>
            <p>
                Note that our data set is distributed normally. We must thus convert our value to be tested to a normal distribution, <em>ie.</em> we must normalise it. This is done by calculating the associated z value:
            </p>
            <div class="mathsFormula">
                <p>
                    What we know so far:
                </p>
                $$
                    \mu = 116, \, \sigma = 6.45
                $$
                <p>
                    We want to calculate what the probability of a value falling after 125 is, or:
                </p>
                $$
                    p(t) > 125
                $$
                $$
                    t = 125 \in normal \, non \, centred \, distribution.
                $$
                $$
                    z \in \mathcal{N} normal \, centred \, distribution.
                $$
                $$
                    z \to \mathcal{N}(0; 1)
                $$
                <p>
                    The formula for calculating z is:
                </p>
                $$
                    z = \frac{t - \mu}{\sigma} = \frac{125 - 116.8}{6.45} = 1.27
                $$
            </div>
            <p>
                In order to interpret this result we must use a centred and reduced table of for a normal distribution. As per a normal distribution table as seen below: 
            </p>
            <table>
                <tr>
                    <th></th>
                    <th>0</th>
                    <th>0.001</th>
                    <th>0.002</th>
                    <th>0.003</th>
                    <th>0.004</th>
                    <th>0.005</th>
                    <th>0.006</th>
                    <th>0.007</th>
                    <th>0.008</th>
                    <th>0.009</th>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0.5000</td>
                    <td>0.5040</td>
                    <td>0.5080</td>
                    <td>0.5120</td>
                    <td>0.5160</td>
                    <td>0.5199</td>
                    <td>0.5239</td>
                    <td>0.5279</td>
                    <td>0.5319</td>
                    <td>0.5359</td>
                </tr>
                <tr>
                    <td>0.1</td>
                    <td>0.5398</td>
                    <td>0.5438</td>
                    <td>0.5478</td>
                    <td>0.5517</td>
                    <td>0.5557</td>
                    <td>0.5596</td>
                    <td>0.5636</td>
                    <td>0.5675</td>
                    <td>0.5714</td>
                    <td>0.5753</td>
                </tr>
                <tr>
                    <td>0.2</td>
                    <td>0.5793</td>
                    <td>0.5832</td>
                    <td>0.5871</td>
                    <td>0.5910</td>
                    <td>0.5948</td>
                    <td>0.5987</td>
                    <td>0.6026</td>
                    <td>0.6064</td>
                    <td>0.6103</td>
                    <td>0.6141</td>
                </tr>
                <tr>
                    <td>0.3</td>
                    <td>0.6179</td>
                    <td>0.6217</td>
                    <td>0.6255</td>
                    <td>0.6293</td>
                    <td>0.6331</td>
                    <td>0.6368</td>
                    <td>0.6406</td>
                    <td>0.6443</td>
                    <td>0.6480</td>
                    <td>0.6517</td>
                </tr>
                <tr>
                    <td>0.4</td>
                    <td>0.6554</td>
                    <td>0.6591</td>
                    <td>0.6628</td>
                    <td>0.6664</td>
                    <td>0.6700</td>
                    <td>0.6736</td>
                    <td>0.6772</td>
                    <td>0.6808</td>
                    <td>0.6844</td>
                    <td>0.6879</td>
                </tr>
                <tr>
                    <td>0.5</td>
                    <td>0.6915</td>
                    <td>0.6950</td>
                    <td>0.6985</td>
                    <td>0.7019</td>
                    <td>0.7054</td>
                    <td>0.7088</td>
                    <td>0.7123</td>
                    <td>0.7157</td>
                    <td>0.7190</td>
                    <td>0.7224</td>
                </tr>
                <tr>
                    <td>0.6</td>
                    <td>0.7257</td>
                    <td>0.7291</td>
                    <td>0.7324</td>
                    <td>0.7357</td>
                    <td>0.7389</td>
                    <td>0.7422</td>
                    <td>0.7454</td>
                    <td>0.7486</td>
                    <td>0.7517</td>
                    <td>0.7549</td>
                </tr>
                <tr>
                    <td>0.7</td>
                    <td>0.7580</td>
                    <td>0.7611</td>
                    <td>0.7642</td>
                    <td>0.7673</td>
                    <td>0.7704</td>
                    <td>0.7734</td>
                    <td>0.7764</td>
                    <td>0.7794</td>
                    <td>0.7823</td>
                    <td>0.7852</td>
                </tr>
                <tr>
                    <td>0.8</td>
                    <td>0.7881</td>
                    <td>0.7910</td>
                    <td>0.7939</td>
                    <td>0.7967</td>
                    <td>0.7995</td>
                    <td>0.8023</td>
                    <td>0.8051</td>
                    <td>0.8078</td>
                    <td>0.8106</td>
                    <td>0.8133</td>
                </tr>
                <tr>
                    <td>0.9</td>
                    <td>0.8159</td>
                    <td>0.8186</td>
                    <td>0.8212</td>
                    <td>0.8238</td>
                    <td>0.8264</td>
                    <td>0.8289</td>
                    <td>0.8315</td>
                    <td>0.8340</td>
                    <td>0.8365</td>
                    <td>0.8389</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>0.8413</td>
                    <td>0.8438</td>
                    <td>0.8461</td>
                    <td>0.8485</td>
                    <td>0.8508</td>
                    <td>0.8531</td>
                    <td>0.8554</td>
                    <td>0.8577</td>
                    <td>0.8599</td>
                    <td>0.8621</td>
                </tr>
                <tr>
                    <td>1.1</td>
                    <td>0.8643</td>
                    <td>0.8665</td>
                    <td>0.8686</td>
                    <td>0.8708</td>
                    <td>0.8729</td>
                    <td>0.8749</td>
                    <td>0.8770</td>
                    <td>0.8790</td>
                    <td>0.8810</td>
                    <td>0.8830</td>
                </tr>
                <tr>
                    <td>1.2</td>
                    <td>0.8849</td>
                    <td>0.8869</td>
                    <td>0.8888</td>
                    <td>0.8907</td>
                    <td>0.8925</td>
                    <td>0.8944</td>
                    <td>0.8962</td>
                    <td style="color: white; font-weight: bold; background: black;">0.8980</td>
                    <td>0.8997</td>
                    <td>0.9015</td>
                </tr>
                <tr>
                    <td>1.3</td>
                    <td>0.9032</td>
                    <td>0.9049</td>
                    <td>0.9066</td>
                    <td>0.9082</td>
                    <td>0.9099</td>
                    <td>0.9115</td>
                    <td>0.9131</td>
                    <td>0.9147</td>
                    <td>0.9162</td>
                    <td>0.9177</td>
                </tr>
                <tr>
                    <td>1.4</td>
                    <td>0.9192</td>
                    <td>0.9207</td>
                    <td>0.9222</td>
                    <td>0.9236</td>
                    <td>0.9251</td>
                    <td>0.9265</td>
                    <td>0.9279</td>
                    <td>0.9292</td>
                    <td>0.9306</td>
                    <td>0.9319</td>
                </tr>
                <tr>
                    <td>1.5</td>
                    <td>0.9332</td>
                    <td>0.9345</td>
                    <td>0.9357</td>
                    <td>0.9370</td>
                    <td>0.9382</td>
                    <td>0.9394</td>
                    <td>0.9406</td>
                    <td>0.9418</td>
                    <td>0.9429</td>
                    <td>0.9441</td>
                </tr>
                <tr>
                    <td>1.6</td>
                    <td>0.9452</td>
                    <td>0.9463</td>
                    <td>0.9474</td>
                    <td>0.9484</td>
                    <td>0.9495</td>
                    <td>0.9505</td>
                    <td>0.9515</td>
                    <td>0.9525</td>
                    <td>0.9535</td>
                    <td>0.9545</td>
                </tr>
                <tr>
                    <td>1.7</td>
                    <td>0.9554</td>
                    <td>0.9564</td>
                    <td>0.9573</td>
                    <td>0.9582</td>
                    <td>0.9591</td>
                    <td>0.9599</td>
                    <td>0.9608</td>
                    <td>0.9616</td>
                    <td>0.9625</td>
                    <td>0.9633</td>
                </tr>
                <tr>
                    <td>1.8</td>
                    <td>0.9641</td>
                    <td>0.9649</td>
                    <td>0.9656</td>
                    <td>0.9664</td>
                    <td>0.9671</td>
                    <td>0.9678</td>
                    <td>0.9686</td>
                    <td>0.9693</td>
                    <td>0.9699</td>
                    <td>0.9706</td>
                </tr>
                <tr>
                    <td>1.9</td>
                    <td>0.9713</td>
                    <td>0.9719</td>
                    <td>0.9726</td>
                    <td>0.9732</td>
                    <td>0.9738</td>
                    <td>0.9744</td>
                    <td>0.9750</td>
                    <td>0.9756</td>
                    <td>0.9761</td>
                    <td>0.9767</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>0.9772</td>
                    <td>0.9778</td>
                    <td>0.9783</td>
                    <td>0.9788</td>
                    <td>0.9793</td>
                    <td>0.9798</td>
                    <td>0.9803</td>
                    <td>0.9808</td>
                    <td>0.9812</td>
                    <td>0.9817</td>
                </tr>
                <tr>
                    <td>2.1</td>
                    <td>0.9821</td>
                    <td>0.9826</td>
                    <td>0.9830</td>
                    <td>0.9834</td>
                    <td>0.9838</td>
                    <td>0.9842</td>
                    <td>0.9846</td>
                    <td>0.9850</td>
                    <td>0.9854</td>
                    <td>0.9857</td>
                </tr>
                <tr>
                    <td>2.2</td>
                    <td>0.9861</td>
                    <td>0.9864</td>
                    <td>0.9868</td>
                    <td>0.9871</td>
                    <td>0.9875</td>
                    <td>0.9878</td>
                    <td>0.9881</td>
                    <td>0.9884</td>
                    <td>0.9887</td>
                    <td>0.9890</td>
                </tr>
                <tr>
                    <td>2.3</td>
                    <td>0.9893</td>
                    <td>0.9896</td>
                    <td>0.9898</td>
                    <td>0.9901</td>
                    <td>0.9904</td>
                    <td>0.9906</td>
                    <td>0.9909</td>
                    <td>0.9911</td>
                    <td>0.9913</td>
                    <td>0.9916</td>
                </tr>
                <tr>
                    <td>2.4</td>
                    <td>0.9918</td>
                    <td>0.9920</td>
                    <td>0.9922</td>
                    <td>0.9925</td>
                    <td>0.9927</td>
                    <td>0.9929</td>
                    <td>0.9931</td>
                    <td>0.9932</td>
                    <td>0.9934</td>
                    <td>0.9936</td>
                </tr>
                <tr>
                    <td>2.5</td>
                    <td>0.9938</td>
                    <td>0.9940</td>
                    <td>0.9941</td>
                    <td>0.9943</td>
                    <td>0.9945</td>
                    <td>0.9946</td>
                    <td>0.9948</td>
                    <td>0.9949</td>
                    <td>0.9951</td>
                    <td>0.9952</td>
                </tr>
                <tr>
                    <td>2.6</td>
                    <td>0.9953</td>
                    <td>0.9955</td>
                    <td>0.9956</td>
                    <td>0.9957</td>
                    <td>0.9959</td>
                    <td>0.9960</td>
                    <td>0.9961</td>
                    <td>0.9962</td>
                    <td>0.9963</td>
                    <td>0.9964</td>
                </tr>
                <tr>
                    <td>2.7</td>
                    <td>0.9965</td>
                    <td>0.9966</td>
                    <td>0.9967</td>
                    <td>0.9968</td>
                    <td>0.9969</td>
                    <td>0.9970</td>
                    <td>0.9971</td>
                    <td>0.9972</td>
                    <td>0.9973</td>
                    <td>0.9974</td>
                </tr>
                <tr>
                    <td>2.8</td>
                    <td>0.9974</td>
                    <td>0.9975</td>
                    <td>0.9976</td>
                    <td>0.9977</td>
                    <td>0.9977</td>
                    <td>0.9978</td>
                    <td>0.9979</td>
                    <td>0.9979</td>
                    <td>0.9980</td>
                    <td>0.9981</td>
                </tr>
                <tr>
                    <td>2.9</td>
                    <td>0.9981</td>
                    <td>0.9982</td>
                    <td>0.9982</td>
                    <td>0.9983</td>
                    <td>0.9984</td>
                    <td>0.9984</td>
                    <td>0.9985</td>
                    <td>0.9985</td>
                    <td>0.9986</td>
                    <td>0.9986</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>0.9987</td>
                    <td>0.9987</td>
                    <td>0.9987</td>
                    <td>0.9988</td>
                    <td>0.9988</td>
                    <td>0.9989</td>
                    <td>0.9989</td>
                    <td>0.9989</td>
                    <td>0.9990</td>
                    <td>0.9990</td>
                </tr>
            </table>
            <p>
                As per the table we find that a f(u) with u = 1.27 yeilds 0.8980. 
            </p>
            <p>
                To interpret this result we have three cases.
            </p>
            <ol>
                <li>
                    z is positive:
                </li>
                <div class="mathsFormula">
                    $$
                        1 - f(u) = p(t) > x
                    $$
                    $$
                        1 - 0.8980 = 0.102 \to 10.2\%
                    $$
                </div>
                <li>
                    z is negative:
                </li>
                <div class="mathsFormula">
                    <p>
                        The absolute value is taken.
                    </p>
                    $$
                        1 - |f(u)| = p(t) < x
                    $$
                </div>
                <li>
                    There is an interval to interpret:
                </li>
                <div class="mathsFormula">
                    $$
                        x < t < y = 125 < t < 126
                    $$
                    $$
                        z' = \frac{125 - 116.8}{6.45} = 1.27
                    $$
                    $$
                        z' = \frac{126 - 116.8}{6.45} = 1.42
                    $$
                    $$
                        f_1(1.27) = 0.8980
                    $$
                    $$
                        f_2(0.31) = 0.9222
                    $$
                    $$
                        z'' - z' = 0.9222 - 0.8980 = 0.024 \to 2.5\%
                    $$
                </div>
            </ol>
            <p class="question">
                Calculate the standard error SE (erreur type) of the mean.
            </p>
            <p>
                The standard error should not be confused with the standard deviation.
            </p>
            <p>
                The standard deviation is the measure of dispersion of the data from the mean.
            </p>
            <p>
                The standard error of the mean however is a measure of how precise the estimation of the mean was. The main use of the standard error is to give confidence intervals around the estimated means. 
            </p>
            <div class="mathsFormula">
                <p>
                    The formula is:
                </p>
                $$
                    SE = \frac{\sigma}{\sqrt{n}} = \left(\frac{variance}{n}\right)^{0.5}
                $$
                $$
                    SE = \frac{6.45}{\sqrt{5}} = 2.88791
                $$
            </div>
            <p class="question">
                Calculate the interval of confidence for the mean at 95%.
            </p>
            <p>
                When we give a parameter for a population it is standard practice to give it as a confidence interval, this tells us how accurate the our data/calculation is.
            </p>
            <p>
                We note &sigma; for the standard deviation.
            </p>
            <div class="mathsFormula">
                $$
                    SE = \frac{\sigma}{\sqrt{n}}
                $$
                <p>
                    Margin of error:
                </p>
                $$
                    ME = t \frac{S}{\sqrt{n}}
                $$
                <p>
                    Note that the t value is found with a table in this case the Student table shown below:
                </p>
            </div>
            <table>
                <tbody>
                    <tr>
                        <th colspan="12">Student's Table, t-test</th>
                    </tr>
                    <tr>
                        <th><i>One-sided</i></th>
                        <th>75%</th>
                        <th>80%</th>
                        <th>85%</th>
                        <th>90%</th>
                        <th>95%</th>
                        <th>97.5%</th>
                        <th>99%</th>
                        <th>99.5%</th>
                        <th>99.75%</th>
                        <th>99.9%</th>
                        <th>99.95%</th>
                    </tr>
                    <tr>
                        <th><i>Two-sided</i></th>
                        <th>50%</th>
                        <th>60%</th>
                        <th>70%</th>
                        <th>80%</th>
                        <th>90%</th>
                        <th>95%</th>
                        <th>98%</th>
                        <th>99%</th>
                        <th>99.5%</th>
                        <th>99.8%</th>
                        <th>99.9%</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>1.000</td>
                        <td>1.376</td>
                        <td>1.963</td>
                        <td>3.078</td>
                        <td>6.314</td>
                        <td>12.71</td>
                        <td>31.82</td>
                        <td>63.66</td>
                        <td>127.3</td>
                        <td>318.3</td>
                        <td>636.6</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>0.816</td>
                        <td>1.080</td>
                        <td>1.386</td>
                        <td>1.886</td>
                        <td>2.920</td>
                        <td>4.303</td>
                        <td>6.965</td>
                        <td>9.925</td>
                        <td>14.09</td>
                        <td>22.33</td>
                        <td>31.60</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>0.765</td>
                        <td>0.978</td>
                        <td>1.250</td>
                        <td>1.638</td>
                        <td>2.353</td>
                        <td>3.182</td>
                        <td>4.541</td>
                        <td>5.841</td>
                        <td>7.453</td>
                        <td>10.21</td>
                        <td>12.92</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>0.741</td>
                        <td>0.941</td>
                        <td>1.190</td>
                        <td>1.533</td>
                        <td>2.132</td>
                        <td>2.776</td>
                        <td>3.747</td>
                        <td>4.604</td>
                        <td>5.598</td>
                        <td>7.173</td>
                        <td>8.610</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>0.727</td>
                        <td>0.920</td>
                        <td>1.156</td>
                        <td>1.476</td>
                        <td>2.015</td>
                        <td>2.571</td>
                        <td>3.365</td>
                        <td>4.032</td>
                        <td>4.773</td>
                        <td>5.893</td>
                        <td>6.869</td>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td>0.718</td>
                        <td>0.906</td>
                        <td>1.134</td>
                        <td>1.440</td>
                        <td>1.943</td>
                        <td>2.447</td>
                        <td>3.143</td>
                        <td>3.707</td>
                        <td>4.317</td>
                        <td>5.208</td>
                        <td>5.959</td>
                    </tr>
                    <tr>
                        <th>7</th>
                        <td>0.711</td>
                        <td>0.896</td>
                        <td>1.119</td>
                        <td>1.415</td>
                        <td>1.895</td>
                        <td>2.365</td>
                        <td>2.998</td>
                        <td>3.499</td>
                        <td>4.029</td>
                        <td>4.785</td>
                        <td>5.408</td>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td>0.706</td>
                        <td>0.889</td>
                        <td>1.108</td>
                        <td>1.397</td>
                        <td>1.860</td>
                        <td>2.306</td>
                        <td>2.896</td>
                        <td>3.355</td>
                        <td>3.833</td>
                        <td>4.501</td>
                        <td>5.041</td>
                    </tr>
                    <tr>
                        <th>9</th>
                        <td>0.703</td>
                        <td>0.883</td>
                        <td>1.100</td>
                        <td>1.383</td>
                        <td>1.833</td>
                        <td>2.262</td>
                        <td>2.821</td>
                        <td>3.250</td>
                        <td>3.690</td>
                        <td>4.297</td>
                        <td>4.781</td>
                    </tr>
                    <tr>
                        <th>10</th>
                        <td>0.700</td>
                        <td>0.879</td>
                        <td>1.093</td>
                        <td>1.372</td>
                        <td>1.812</td>
                        <td>2.228</td>
                        <td>2.764</td>
                        <td>3.169</td>
                        <td>3.581</td>
                        <td>4.144</td>
                        <td>4.587</td>
                    </tr>
                    <tr>
                        <th>11</th>
                        <td>0.697</td>
                        <td>0.876</td>
                        <td>1.088</td>
                        <td>1.363</td>
                        <td>1.796</td>
                        <td>2.201</td>
                        <td>2.718</td>
                        <td>3.106</td>
                        <td>3.497</td>
                        <td>4.025</td>
                        <td>4.437</td>
                    </tr>
                    <tr>
                        <th>12</th>
                        <td>0.695</td>
                        <td>0.873</td>
                        <td>1.083</td>
                        <td>1.356</td>
                        <td>1.782</td>
                        <td>2.179</td>
                        <td>2.681</td>
                        <td>3.055</td>
                        <td>3.428</td>
                        <td>3.930</td>
                        <td>4.318</td>
                    </tr>
                    <tr>
                        <th>13</th>
                        <td>0.694</td>
                        <td>0.870</td>
                        <td>1.079</td>
                        <td>1.350</td>
                        <td>1.771</td>
                        <td>2.160</td>
                        <td>2.650</td>
                        <td>3.012</td>
                        <td>3.372</td>
                        <td>3.852</td>
                        <td>4.221</td>
                    </tr>
                    <tr>
                        <th>14</th>
                        <td>0.692</td>
                        <td>0.868</td>
                        <td>1.076</td>
                        <td>1.345</td>
                        <td>1.761</td>
                        <td>2.145</td>
                        <td>2.624</td>
                        <td>2.977</td>
                        <td>3.326</td>
                        <td>3.787</td>
                        <td>4.140</td>
                    </tr>
                    <tr>
                        <th>15</th>
                        <td>0.691</td>
                        <td>0.866</td>
                        <td>1.074</td>
                        <td>1.341</td>
                        <td>1.753</td>
                        <td>2.131</td>
                        <td>2.602</td>
                        <td>2.947</td>
                        <td>3.286</td>
                        <td>3.733</td>
                        <td>4.073</td>
                    </tr>
                    <tr>
                        <th>16</th>
                        <td>0.690</td>
                        <td>0.865</td>
                        <td>1.071</td>
                        <td>1.337</td>
                        <td>1.746</td>
                        <td>2.120</td>
                        <td>2.583</td>
                        <td>2.921</td>
                        <td>3.252</td>
                        <td>3.686</td>
                        <td>4.015</td>
                    </tr>
                    <tr>
                        <th>17</th>
                        <td>0.689</td>
                        <td>0.863</td>
                        <td>1.069</td>
                        <td>1.333</td>
                        <td>1.740</td>
                        <td>2.110</td>
                        <td>2.567</td>
                        <td>2.898</td>
                        <td>3.222</td>
                        <td>3.646</td>
                        <td>3.965</td>
                    </tr>
                    <tr>
                        <th>18</th>
                        <td>0.688</td>
                        <td>0.862</td>
                        <td>1.067</td>
                        <td>1.330</td>
                        <td>1.734</td>
                        <td>2.101</td>
                        <td>2.552</td>
                        <td>2.878</td>
                        <td>3.197</td>
                        <td>3.610</td>
                        <td>3.922</td>
                    </tr>
                    <tr>
                        <th>19</th>
                        <td>0.688</td>
                        <td>0.861</td>
                        <td>1.066</td>
                        <td>1.328</td>
                        <td>1.729</td>
                        <td>2.093</td>
                        <td>2.539</td>
                        <td>2.861</td>
                        <td>3.174</td>
                        <td>3.579</td>
                        <td>3.883</td>
                    </tr>
                    <tr>
                        <th>20</th>
                        <td>0.687</td>
                        <td>0.860</td>
                        <td>1.064</td>
                        <td>1.325</td>
                        <td>1.725</td>
                        <td>2.086</td>
                        <td>2.528</td>
                        <td>2.845</td>
                        <td>3.153</td>
                        <td>3.552</td>
                        <td>3.850</td>
                    </tr>
                    <tr>
                        <th>21</th>
                        <td>0.686</td>
                        <td>0.859</td>
                        <td>1.063</td>
                        <td>1.323</td>
                        <td>1.721</td>
                        <td>2.080</td>
                        <td>2.518</td>
                        <td>2.831</td>
                        <td>3.135</td>
                        <td>3.527</td>
                        <td>3.819</td>
                    </tr>
                    <tr>
                        <th>22</th>
                        <td>0.686</td>
                        <td>0.858</td>
                        <td>1.061</td>
                        <td>1.321</td>
                        <td>1.717</td>
                        <td>2.074</td>
                        <td>2.508</td>
                        <td>2.819</td>
                        <td>3.119</td>
                        <td>3.505</td>
                        <td>3.792</td>
                    </tr>
                    <tr>
                        <th>23</th>
                        <td>0.685</td>
                        <td>0.858</td>
                        <td>1.060</td>
                        <td>1.319</td>
                        <td>1.714</td>
                        <td>2.069</td>
                        <td>2.500</td>
                        <td>2.807</td>
                        <td>3.104</td>
                        <td>3.485</td>
                        <td>3.767</td>
                    </tr>
                    <tr>
                        <th>24</th>
                        <td>0.685</td>
                        <td>0.857</td>
                        <td>1.059</td>
                        <td>1.318</td>
                        <td>1.711</td>
                        <td>2.064</td>
                        <td>2.492</td>
                        <td>2.797</td>
                        <td>3.091</td>
                        <td>3.467</td>
                        <td>3.745</td>
                    </tr>
                    <tr>
                        <th>25</th>
                        <td>0.684</td>
                        <td>0.856</td>
                        <td>1.058</td>
                        <td>1.316</td>
                        <td>1.708</td>
                        <td>2.060</td>
                        <td>2.485</td>
                        <td>2.787</td>
                        <td>3.078</td>
                        <td>3.450</td>
                        <td>3.725</td>
                    </tr>
                    <tr>
                        <th>26</th>
                        <td>0.684</td>
                        <td>0.856</td>
                        <td>1.058</td>
                        <td>1.315</td>
                        <td>1.706</td>
                        <td>2.056</td>
                        <td>2.479</td>
                        <td>2.779</td>
                        <td>3.067</td>
                        <td>3.435</td>
                        <td>3.707</td>
                    </tr>
                    <tr>
                        <th>27</th>
                        <td>0.684</td>
                        <td>0.855</td>
                        <td>1.057</td>
                        <td>1.314</td>
                        <td>1.703</td>
                        <td>2.052</td>
                        <td>2.473</td>
                        <td>2.771</td>
                        <td>3.057</td>
                        <td>3.421</td>
                        <td>3.690</td>
                    </tr>
                    <tr>
                        <th>28</th>
                        <td>0.683</td>
                        <td>0.855</td>
                        <td>1.056</td>
                        <td>1.313</td>
                        <td>1.701</td>
                        <td>2.048</td>
                        <td>2.467</td>
                        <td>2.763</td>
                        <td>3.047</td>
                        <td>3.408</td>
                        <td>3.674</td>
                    </tr>
                    <tr>
                        <th>29</th>
                        <td>0.683</td>
                        <td>0.854</td>
                        <td>1.055</td>
                        <td>1.311</td>
                        <td>1.699</td>
                        <td>2.045</td>
                        <td>2.462</td>
                        <td>2.756</td>
                        <td>3.038</td>
                        <td>3.396</td>
                        <td>3.659</td>
                    </tr>
                    <tr>
                        <th>30</th>
                        <td>0.683</td>
                        <td>0.854</td>
                        <td>1.055</td>
                        <td>1.310</td>
                        <td>1.697</td>
                        <td>2.042</td>
                        <td>2.457</td>
                        <td>2.750</td>
                        <td>3.030</td>
                        <td>3.385</td>
                        <td>3.646</td>
                    </tr>
                    <tr>
                        <th>40</th>
                        <td>0.681</td>
                        <td>0.851</td>
                        <td>1.050</td>
                        <td>1.303</td>
                        <td>1.684</td>
                        <td>2.021</td>
                        <td>2.423</td>
                        <td>2.704</td>
                        <td>2.971</td>
                        <td>3.307</td>
                        <td>3.551</td>
                    </tr>
                    <tr>
                        <th>50</th>
                        <td>0.679</td>
                        <td>0.849</td>
                        <td>1.047</td>
                        <td>1.299</td>
                        <td>1.676</td>
                        <td>2.009</td>
                        <td>2.403</td>
                        <td>2.678</td>
                        <td>2.937</td>
                        <td>3.261</td>
                        <td>3.496</td>
                    </tr>
                    <tr>
                        <th>60</th>
                        <td>0.679</td>
                        <td>0.848</td>
                        <td>1.045</td>
                        <td>1.296</td>
                        <td>1.671</td>
                        <td>2.000</td>
                        <td>2.390</td>
                        <td>2.660</td>
                        <td>2.915</td>
                        <td>3.232</td>
                        <td>3.460</td>
                    </tr>
                    <tr>
                        <th>80</th>
                        <td>0.678</td>
                        <td>0.846</td>
                        <td>1.043</td>
                        <td>1.292</td>
                        <td>1.664</td>
                        <td>1.990</td>
                        <td>2.374</td>
                        <td>2.639</td>
                        <td>2.887</td>
                        <td>3.195</td>
                        <td>3.416</td>
                    </tr>
                    <tr>
                        <th>100</th>
                        <td>0.677</td>
                        <td>0.845</td>
                        <td>1.042</td>
                        <td>1.290</td>
                        <td>1.660</td>
                        <td>1.984</td>
                        <td>2.364</td>
                        <td>2.626</td>
                        <td>2.871</td>
                        <td>3.174</td>
                        <td>3.390</td>
                    </tr>
                    <tr>
                        <th>120</th>
                        <td>0.677</td>
                        <td>0.845</td>
                        <td>1.041</td>
                        <td>1.289</td>
                        <td>1.658</td>
                        <td>1.980</td>
                        <td>2.358</td>
                        <td>2.617</td>
                        <td>2.860</td>
                        <td>3.160</td>
                        <td>3.373</td>
                    </tr>
                    <tr>
                        <th>∞</th>
                        <td>0.674</td>
                        <td>0.842</td>
                        <td>1.036</td>
                        <td>1.282</td>
                        <td>1.645</td>
                        <td style="background: black; color: white; font-weight: bold;">1.960</td>
                        <td>2.326</td>
                        <td>2.576</td>
                        <td>2.807</td>
                        <td>3.090</td>
                        <td>3.291</td>
                    </tr>
                </tbody>
            </table>
            <p class="warning">
                Note that here we will be using a two tailed test. What this means is that our &alpha; value for the check will be divided into two, this will check both sides of the distribution in both directions, +&infin; and -&infin;. A one tailed test only looks at one side of the distribution. Since the distribution is symetrical, it does not matter which side is used.
            </p>
            <p>
                Since we are using the two tailed test, and our &alpha; = 5%, our t value is 1.960. This is a common value; when &alpha; = 5%, t-value = 1.96.
            </p>
            <div class="mathsFormula">
                <p>
                    The formula for the confidence interval:
                </p>
                $$
                    CI = \mu \pm t\frac{\sigma}{\sqrt{n}}
                $$
                $$
                    CI_{95\%} = 116.8 \pm 1.96\frac{6.45}{\sqrt{5}} = [111.146; 122.454]
                $$
            </div>
            <p class="question">
                We want to test if the mean of the population is equal to 120 mmHg. Which test shall we use? What are the associated hypothesis? (Do not actually do the test)
            </p>
            <p>
                For this purpose we are comparing two values, one arbitrary to the mean of the distribution. With Student's T-test we can do exactly this; we can compare two means to each other, or a value to a mean of a distribution. 
            </p>
            <p>
                This can be used to check if a sample comes from a population with a specific mean, or if there is a difference in mean between two different sets; the mean of a sample, and a theoretical mean.
            </p>
            <p>
                The associated hypothesis are the following:
            </p>
            <ol>
                <li>
                    H<sub>0</sub>: &mu; = &mu;<sub>theoretical</sub>. <em>Ie.</em> there is no difference.
                </li>
                <li>
                    H<sub>1</sub>: &mu; &NotEqual; &mu;<sub>theoretical</sub>. <em>Ie.</em> there is a difference.
                </li>
            </ol>
            <div class="warning">
                Note that in order to apply this test, the following conditions must be true:
                <ol>
                    <li>
                        n &gt; 30.
                    </li>
                    <li>
                        Normal distribution.
                    </li>
                    <li>
                        Equality of variances (&sigma;).
                    </li>
                </ol>
            </div>

            <h3>Part two</h3>
            <p>
                We now focus on the 40 subjects. In these we find 20 that consume tabacco products, and 20 that do not.
            </p>
            <figure>
                <img src="/exercises/documents/statistics-probabilities-and-distributions-1/smokersNonsmokers.png">
                <figcaption>The subdivision of the 40 subjects, smokers vs non-smokers.</figcaption>
            </figure>
            <p class="question">
                If we take normality as a given, which test should we use to show the difference in blood pressure between the smokers and non-smokers? What are the hypothesis associated?
            </p>
            <p>
                Since we are comparing two groups, we could use their means for comparison. Thus a simple unpaired t-test comparing the means of their distributions should do. The associated hypothesis are:
            </p>
            <ol>
                <li>
                    H<sub>0</sub>: &mu;<sub>non-smokers</sub> = &mu;<sub>smokers</sub>. <em>Ie.</em> there is no difference.
                </li>
                <li>
                    H<sub>1</sub>: &mu;<sub>non-smokers</sub> &NotEqual; &mu;<sub>smokers</sub>. <em>Ie.</em> there is a difference.
                </li>
            </ol>
            <p class="question">
                Calculate the degrees of freedom (df) for this test.
            </p>
            <p>
                In order to do this we must do it part by part. That is group by group, smokers and non smokers. Then bring the whole together to find the degrees of freedom for the ensemble and thus the test.
            </p>
            <div class="mathsFormula">
                $$
                    df_1 = n_1 - 1 = 20 - 1 = 19
                $$
                $$
                    df_2 = n_2 - 1 = 20 - 1 = 19
                $$
                $$
                    df = df_1 + df_2 = 19 + 19 = 38
                $$
            </div>
            <p class="question">
                We obtain T = -3.44, with a cut off of &alpha; = 5%. Which conclusion do we come to? (Student's table included above)
            </p>
            <p>
                We previously found that our df = 38, thus df &gt; 20, ou table tells us:
            </p>
            <div class="mathsFormula">
                $$
                    t(0.95; 38) = 2.021
                $$
            </div>
            <p>
                What this means is that our boundries are set based on the chosen &alpha; value and the degrees of freedom we previously calculated. If the value for out test falls outside these boundries then the means are not the same, <em>ie.</em> we reject H<sub>0</sub>.
            </p>
            <figure>
                <img src="/exercises/documents/statistics-probabilities-and-distributions-1/questionB3.png">
                <figcaption>Illustration of the resulting t-test, with &alpha; = 5%.</figcaption>
            </figure>
            <p>
                As can be seen the t-test's result falls out of this interval, thus the means are not equal. This means that H<sub>0</sub> is rejected and we accept H<sub>1</sub> that the means are different. <em>Ie.</em> the smokers have a different mean blood pressure than the non-smokers.
            </p>
            <p class="question">
                Within the 20 subjects who smoke, there are two subgroups: heavy smokers and normal smokers. If we wanted to compare the blood pressure of these subjects who do not smoke to those who are heavy smokers, and normal smokers what method must we use? Write the model for this method.
            </p>
            <figure>
                <img src="/exercises/documents/statistics-probabilities-and-distributions-1/smokersNonsmokersHeavysmokers.png">
                <figcaption>The smokers group is further subdivided into heavy smokers and normal smokers.</figcaption>
            </figure>
            <p>
                The associated hypothesis for this test are:
            </p>
            <ol>
                <li>
                    H<sub>0</sub>: &mu;<sub>non-smokers</sub> = &mu;<sub>normal smokers</sub> = &mu;<sub>heavy smokers</sub>. <em>Ie.</em> there is no difference.
                </li>
                <li>
                    H<sub>1</sub>: &mu;<sub>X</sub> &NotEqual; &mu;<sub>Y || Z</sub> &NotEqual; &mu;<sub>2</sub> <em>Ie.</em> there is a difference between at least one of the groups to another.
                </li>
            </ol>
            <div class="warning">
                Multiple t-test is not the correct solution, the margin of error compounds with each test, thus it becomes a multiple of itself for each test. This means that the error is larger the more test are done:
                <div class="mathsFormula">
                    $$
                        0.95^3 = 0.857
                    $$
                    $$
                        &alpha; = 1 - 0.857 = 0.143
                    $$
                </div>
            </div>
            <p>
                For this the correct test to do is the ANOVA (analysis of variance). What this means simply put is the following:
            </p>
            <div class="mathsFormula">
                $$
                    \frac{variability \, between \, \mu}{variability \, within \, distributions}
                $$
            </div>
            <p>
                This gives us a ratio allowing us to analyse the differen hypothesis and either accept or reject H<sub>0</sub>.
            </p>
            <div class="mathsFormula">
                $$
                    \frac{large}{small} = reject \, H_0
                $$
            </div>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>

</body>

</html>
