<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>
            <h1>Robert Hooke</h1>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/HookesMicroscope.jpg">
                <figcaption>
                    An unfortunate side effect of Hooke's rivalry with Newton seems to be a lack of portaits of the scientist. Here is a microscope very much like the one he could have used.
                </figcaption>
            </figure>
            <h2>Life</h2>
            <p>
                Robert Hooke was a scientist, polymath, renaissance man, and influential figure of the Royal Society in London. His works range from astronomy, and physics to biology. He was born in Freshwater, England on the Isle of Wight in 1635. Son to John Hooke a priest at the Freshwater Parish and Cecily Hyles. He is the last of four children.
            </p>
            <p>
                He was educated at Wadham College University of Oxford and spent his career in the Royal Society and at Gresham College. Robert Hooke is particularly important for his experimentation. Hooke was at one-point assistant to Thomas Willis and Robert Boyle. During his time with John Wilkins the Invisible College was formed which would later become the Royal Society. Hooke later became member of the council of the Royal Society, Gresham Professor of Geometry (A position at Gresham College which gives free educational lectures to the general public), and Surveyor of the City of London after the Great Fire of London.
            </p>
            <p>
                He was an important architect of the time and was responsible for many buildings erected after the Great Fire of London, many of which are unfortunately misattributed today, and the for a set of planning controls for the City of London which are still visible today.
            </p>
            <p>
                Robert Hooke famously maintained a rivalry with Isaac Newton. Hooke claimed that Isaac Newton's Philosophiæ Naturalis Principia Mathematica was inspired by his work and even insinuated that some parts were copied from him. This of course did not sit well with Newton and sparked a lifelong feud between the two great scientist. It is suspected that Newton as president of the Royal Society may have “misplaced” some of Hooke's important works and famously his portraits. No portraits of Hooke survive today, and no one knows what he looks like. All that remains are a few descriptions of the man by his contemporaries.
            </p>
            <h2>Works</h2>
            <p>
                Robert Hooke is famous in science and biology for his publication Micrographia (1665), in this revolutionary publication Hooke takes a microscope to study the structure, composition, and behaviour of many mundane substances and objects: snow, fleas, ticks, hair, and even urine. Such an in depth and detailed study had never been done before and was revolutionary for science. He is the person to have put a name to cells, the name comes from the fact that Hooke thought the spaces in cork resembled monk's cells. Hooke also peer-reviewed some of Leeuwenhoek's work which demonstrated the existence of what we know today to be bacteria and protozoa.
            </p>
            <p>
                Here are some excerpts of his work in Micrographia:
            </p>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/micrographiaExcerpt1.pdf">
                <figcaption>
                    Excerpt from Hooke's Micrographia published in 1665.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/micrographiaExcerpt2.pdf">
                <figcaption>
                    Excerpt from Hooke's Micrographia published in 1665.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/micrographiaExcerpt3.pdf">
                <figcaption>
                    Excerpt from Hooke's Micrographia published in 1665.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/micrographiaExcerpt4.pdf">
                <figcaption>
                    Excerpt from Hooke's Micrographia published in 1665.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/micrographiaExcerpt5.pdf">
                <figcaption>
                    Excerpt from Hooke's Micrographia published in 1665.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/micrographiaExcerpt6.pdf">
                <figcaption>
                    Excerpt from Hooke's Micrographia published in 1665.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/micrographiaExcerpt7.pdf">
                <figcaption>
                    Excerpt from Hooke's Micrographia published in 1665.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/micrographiaExcerpt8.pdf">
                <figcaption>
                    Excerpt from Hooke's Micrographia published in 1665.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/micrographiaExcerpt9.pdf">
                <figcaption>
                    Excerpt from Hooke's Micrographia published in 1665.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/micrographiaExcerpt10.pdf">
                <figcaption>
                    Excerpt from Hooke's Micrographia published in 1665.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/micrographiaExcerpt11.pdf">
                <figcaption>
                    Excerpt from Hooke's Micrographia published in 1665.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/micrographiaExcerpt12.pdf">
                <figcaption>
                    Excerpt from Hooke's Micrographia published in 1665.
                </figcaption>
            </figure>
            <p>
                Hooke also made many improvements to the microscope, he invented ways of controlling the height and angle of the microscope as well as mechanisms for illumination. Hooke's microscopes were capable of 50x magnification which for his time was rather good.
            </p>
            <p>
                Many of Hooke's publications are beautifully illustrated, Hooke had a rather developed talent for illustrating his observations accurately. Hooke was a true polymath gifted in mathematics, physics, and art.
            </p>
            <p>
                In other fields Hooke even has a law named after him; Hooke's Law - The force required to stretch or compress a spring is proportional to the distance of the extension or compression.
            </p>
            <h2>The Royal Society Archives</h2>
            <p>
                If you have the honour of visiting the Royal Society Archives, you may have the opportunity to see some of Robert Hooke's works first hand. I had some fun with a first edition of Robert Hooke's Micrographia, and here are some of its most famous images for you to enjoy!
            </p>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/royalSocietyHooke1.gif">
                <figcaption>
                    An original copy of Robert Hooke's Micrographia at the Royal Society Archives London.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/royalSocietyHooke2.gif">
                <figcaption>
                    An original copy of Robert Hooke's Micrographia at the Royal Society Archives London.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/royalSocietyHooke3.gif">
                <figcaption>
                    An original copy of Robert Hooke's Micrographia at the Royal Society Archives London.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/royalSocietyHooke4.jpg">
                <figcaption>
                    An original copy of Robert Hooke's Micrographia at the Royal Society Archives London.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/royalSocietyHooke5.jpg">
                <figcaption>
                    An original copy of Robert Hooke's Micrographia at the Royal Society Archives London.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_robert-hooke/royalSocietyHooke6.jpg">
                <figcaption>
                    An original copy of Robert Hooke's Micrographia at the Royal Society Archives London.
                </figcaption>
            </figure>
            <h2>Extras</h2>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/SvWSNEO8aww" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p>
                In episode 43 of Objectivity Robert Hooke, and Antonie Philips van Leeuwenhoek are featured take a look. Subscribe to objectivity it really is a fantastic channel!
            </p>

            <ol class="foot-notes">
                <div class="foot-notes-head">
                    Footnotes:
                </div>
                <li id="">
                    <a href="http://derecksnotes.com/owncloud/index.php/s/dFC9fhnRkhXf0He" target="_blank">Micrographia - Original Version</a>
                </li>
            </ol>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
