<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>
            <h1>Aristotle</h1>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_aristotle/schoolOfAthens_raphael.jpg">
                <figcaption>
                    School of Athens by Raphael at the Vatican Museum Rome.
                </figcaption>
            </figure>
            <h2>Life</h2>
            <p>
                Aristotle was a student to Plato who was in turn pupil to the great Socrates. These three men established the bedrock and foundation for our western societies! Aristotle had wide and varied interests, he wrote about many subjects; maths, biology, physics, metaphysics, ethics, and theatre just to name a few.
            </p>
            <p>
                At the death of his great pupil Alexander, Aristotle would go into voluntary exile from Athens. The Athenian state would rebel against Macedonian rule and charge Aristotle with impiety. He was buried somewhere around Chalkidiki along with his wife.
            </p>
            <h2>Works</h2>
            <p>
                Aristotle is particularly important to us for his work in science and epistemology. Aristotle thought that human knowledge and beliefs ultimately influenced a person's perception of the world. His works on natural philosophy and physical science remained deeply influential and uncontested for almost two millennia. His ideas were not contested up until the Renaissance and the Enlightenment period in Europe.
            </p>
            <p>
                Aristotle made great advances in many subjects and many in scientific subjects: biology, anatomy, embryology, zoology.
            </p>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_aristotle/hectocotyleArm_historyOfAnimals.jpg">
                <figcaption>
                    A drawing of the hectocotyle arm in Aristotle's History of Animals.
                </figcaption>
            </figure>
            <p>
                Aristotle is known to have dissected animals to study their anatomy. He spent a lot of time on the island of Lesbos studying the sea life captured by fishermen or in the wild. He made some detailed descriptions of octopus and cuttlefish. He was the first to describe the hectocotylus a specialised arm used for reproduction in cephalopods. This observation was largely dismissed and regarded as invention until rediscovery in the 19th century. He had the insight to separate aquatic mammals from fish and even knew that sharks and rays were to be placed in a separate group from fish; today named Selachimorpha.
            </p>
            <p>
                Aristotle would be one of the first persons to try and classify the living world. He distinguished 500 different species of birds, fish and mammals. Aristotle would also make the distinction between animals "with blood" and animals "without blood", groups we know today as vertebrates and invertebrates.
            </p>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_aristotle/historiaAnimaliumConstantinople12thCenturyBiblioteca MediceaLaurenzianaPluteo.JPG">
                <figcaption>
                    Oldest known copy of Aristotle's Historia Animalium in Constantinople dating from the 1
                    2th century at the Biblioteca Medicea Laurenziana Pluteo.
                </figcaption>
            </figure>
            <p>
                Aristotle's works are of great influence they are however, to be taken with a grain of salt today. Today we know of many mistakes in reasoning and sometimes errors of observation in his works. In his History of Animals Aristotle claims that men have more teeth than women, in his attempt to classify the living world he erroneously implicates design and will into the "creation" of different animals. He has a deep anthropological view where he places mankind at the top of a pyramid above all other animals. These errors would largely go uncontested for millennia and influence scientist later on. His views on the classification of living world would guide many scientists to place men as the final step in evolution; at the inception of what could be called proto-evolutionary theory.
            </p>
            <blockquote>
                He who thus considers things in their first growth and origin ... will obtain the clearest view of them. — Aristotle - Politics
            </blockquote>

            <ol class="foot-notes">
                <div class="foot-notes-head">
                    Footnotes:
                </div>
                <li>
                    <a href="/references/documents/biography_aristotle/aristotleHistoriaAnimalium.pdf">Historia Animalium</a>
                </li>
            </ol>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
