<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>
            <h1>Antonie Philips van Leeuwenhoek</h1>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_antoine-philips-van-leeuwenhoek/portraitLeeuwenhoek.png">
                <figcaption>
                    Portrait of Antonie van Leeuwenhoek
                </figcaption>
            </figure>
            <h2>Life</h2>
            <p>
                Antonie Philips van Leeuwenhoek was born 24 October 1632 in Delft, Dutch Republic. Leeuwenhoek was educated at Warmond school for a period of time and then sent to his uncle in Benthuizen. At 16 Leeuwenhoek would become apprentice to a bookkeeper in Amsterdam with whom he would stay for six years. Leeuwenhoek would later become a tradesman and later a scientist. Leeuwenhoek was native to the same city as another famous citizen of Delft, Johannes Vermeer. There are some suggestions that the man in two of Vermeer's paintings might be Leeuwenhoek: The Astronomer and The Geographer. After the death of Vermeer in 1675 Leeuwenhoek would act as executor of his will.
            </p>
            <h2>Works</h2>
            <p>
                Leeuwenhoek was inspired by Hooke's Micrographia, he started sending letters to the Royal Society in the 1670's with his own observations and even specimens. In one instance Leeuwenhoek took a sample from his teeth and observed what we know of today as bacteria! It is indeed thought that Leeuwenhoek may have been one of the first persons to observe bacteria.
            </p>
            <p>
                Leeuwenhoek maintained a close correspondence with Robert Hooke to whom he sent hundreds of letters; Robert Hooke even learned Dutch so as to read Leeuwenhoek's letters first hand.
            </p>
            <p>
                Leeuwenhoek used mostly single lens microscopes, with a pin and paddle as a stage. They are rather strange looking objects and one would not immediately recognise them as microscopes today. He used small spherical lenses which for their time were of extremely high quality. He famously kept the details as to how he made such lenses secret; it is however hypothesised that he pulled apart a melted piece of glass to form a small thread, and then melted the broken end of one of these small threads over a hot flame to form a perfect small bead of glass. The smaller the sphere of glass the higher the magnification of the microscope.
            </p>
            <p>
                It is thought that Leeuwenhoek's original intention for the creation of such sophisticated instruments may have been to have a better look at textiles, as he was a textile merchant. Although it seems that his interest in science and the natural world may have quickly surpassed his original intent.
            </p>
            <p>
                Leeuwenhoek's microscopes could magnify objects by a factor of about 200 to 300 whilst Hooke's instruments were at around the 40 to 50 mark. This means that Leeuwenhoek could have easily observed large plant 100μm cells, or even some bacteria which are usually around 10μm in size.
            </p>
            <blockquote>
                ...my work, which I've done for a long time, was not pursued in order to gain the praise I now enjoy, but chiefly from a craving after knowledge, which I notice resides in me more than in most other men. And therewithal, whenever I found out anything remarkable, I have thought it my duty to put down my discovery on paper, so that all ingenious people might be informed thereof. — Antonie van Leeuwenhoek, Letter of June 12, 1716
            </blockquote>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_antoine-philips-van-leeuwenhoek/leeuwenhoek1.png">
                <figcaption>
                    Publication in Philisophical Transactions.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_antoine-philips-van-leeuwenhoek/leeuwenhoek2.png">
                <figcaption>
                    Drawings of sperm.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_antoine-philips-van-leeuwenhoek/leeuwenhoek3.png">
                <figcaption>
                    Kidneys and uterus.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_antoine-philips-van-leeuwenhoek/leeuwenhoek4.png">
                <figcaption>
                    Plant tissue.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_antoine-philips-van-leeuwenhoek/leeuwenhoek5.png">
                <figcaption>
                    Early microscope.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_antoine-philips-van-leeuwenhoek/leeuwenhoek6.png">
                <figcaption>
                    Use of Leeuwenhoek's microscope.
                </figcaption>
            </figure>

            <ol class="foot-notes">
                <div class="foot-notes-head">
                    Footnotes:
                </div>
                <li>
                    <a href="/references/documents/biography_antoine-philips-van-leeuwenhoek/Antonie Philips van Leeuwenhoek_Philosophical_Transactions.pdf" target="_blank">Leeuwenhoek's Publication in Philosophical Transactions</a>
                </li>
            </ol>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
