<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>
            <h1>Gregor Johann Mendel</h1>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_gregor-mendel/portraitMendel.jpeg">
                <figcaption>
                    Portrait of Mendel.
                </figcaption>
            </figure>
            <h2>Life</h2>
            <p>
                Gregor Johann Mendel is known today as the father of modern genetics. His works would first perplex the scientific world and would then remain largely ignored for some time. Scientist at the time were not ready to recognise the quality of his works and the conclusions he took from his experimental results. His work took over ten years of breeding different species of plants.
            </p>
            <p>
                He was born 22 July 1822 in Hynčice, today known as Heinzendorf bei Odrau, a small village in what was then the Austrain Empire and is today the Czech Republic. He would commence his studies in 1840 and for two years would remain at the Institut of Philisophy in Olomouc with the goal of eventualy going to university. A lack of money would eventually force Mendel to join the Noviciat at the Brno Monastary. Il would be ordained a priest in 1848.
            </p>
            <p>
                He was encouraged by the abbot Napp to go on with his studies and would leave in 1851 to join the Institut of Physics of Johann Christian. He would study botany, plant physiology, entomoloy, paleontology, and even experimental physics.
            </p>
            <p>
                During his stay at the institute Mendel would become interested by Franz Unger's theories. Unger was a professor of plant physiology and had worked on an experiemental model for the apparition of traits in plants this with the question of solving the problem of hybridisation in plants.
            </p>
            <h2>Works</h2>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_gregor-mendel/peasMendel.jpeg">
                <figcaption>
                    Representative of the kind of Pea plants with which Mendel worked.
                </figcaption>
            </figure>
            <p>
                Upon return to the monastery Mendel decided to work on pea plants P. caccharatum. He would study seven traits in all, each with two identifiable forms:
            </p>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_gregor-mendel/peasCharacteristics_page45-46_1.png">
                <figcaption>
                    Excerpt from Mendel's Experiments in Plant Hybridisation.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_gregor-mendel/peasCharacteristics_page45-46_2.png">
                <figcaption>
                    Excerpt from Mendel's Experiments in Plant Hybridisation.
                </figcaption>
            </figure>
            <ol>
                <li>
                    The difference in the form of the ripe seeds
                </li>
                <li>
                    The difference in the colour of the seed albumen
                </li>
                <li>
                    The difference in the seed coat
                </li>
                <li>
                    The difference in the form of the ripe pod
                </li>
                <li>
                    The difference in the colour of the unripe pod
                </li>
                <li>
                    The difference in the in the position of the flowers
                </li>
                <li>
                    The difference in the in the length of the stem
                </li>
            </ol>
            <p>
                His first experiment consisted in studying the results of hybridisations obtained for only a single pair of traits. He crossed two varieties one with smooth seeds and the second with wrinkled grains. The results showed that the first generation F1 always had a 100% smooth phenotype. Then by crossing the F1 plants with themselves (autofecondation) he obtained the F2 generation whom had both smooth and wrinkled seeds in 3 to 1 proportions.
            </p>
            <p>
                From his work Mendel would discover that the trait for a wrinkled grain stayed present in the F1 generation, and this is why it reappears in the F2! The trait would skip a generation, this would become known as a recessive gene! He concluded that the hybrids received a “factor” (allele) from each parent for each trait. This would put away the idea of heredity through mixing of traits. Thus Mendel would conclude that the F1 generation possessed both traits but only showed one; the dominant one. This would become Mendel's first law of heredity: Law of Dominance.
            </p>
            <p>
                He would later be interested in the transmission and heredity of more than one trait at a time, his subsequent studies would lead him to the discovery of two other laws in heredity; the law of segregation of genes, and the law of independent assortment.
            </p>
            <p>
                Mendel's work was revolutionary it would however go ignored until long after his death. His greatest contributions were the discovery and characterisation of some of the mechanisms behind heredity, but maybe just as important his approach to the study of such a problem. He would apply mathematics to a biological problem and create a mathematical model which characterised the passage of physical traits through heredity. The usage of mathematics in his work was pivotal and makes him the first true modern geneticist.
            </p>
            <h2>End of Life</h2>
            <p>
                After 10 years of meticulous work and a relatively ignored publication Mendel would cease his work in heredity. He would take on more religious responsibilities and work less on genetics eventually leaving the science completely; Mendel is elected superior of his covenant. In the later half of his life (from 1856) he would become passionate about meteorology and die in 1884.
            </p>


            <ol class="foot-notes">
                <div class="foot-notes-head">
                    Footnotes:
                </div>
                <li>
                    <a href="/references/documents/biography_gregor-mendel/experimentsInPlantHybridisation.pdf" target="_blank">Scanned Version: Experiments in Plant Hybridisation</a>
                </li>
                <li>
                    <a href="/references/documents/biography_gregor-mendel/experimentsInPlantHybridisation2.pdf" target="_blank">Computer Version: Experiments in Plant Hybridisation</a>
                </li>
            </ol>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
