<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>
            <h1>Carl von Linnaeus</h1>
            <figure>
            <img class="lazy" data-src="/references/documents/biography_carl-von-linnaeus/portraitLinneaus.jpg">
            <figcaption>
                Portrait of Carl von Linnaeus
            </figcaption>
            </figure>
            <h2>Life</h2>
            <p>
                Carl von Linnaeus was born 23 May 1707 in Råshult, southern Sweden. His father was a church minister and amateur botanist who shared his passion with his son from an early age. Latin was one of the first languages that Linnaeus learned. This was important as it would give him access to the academic world later on, in which Latin was the dominant language. Linnaeus was home schooled in his early life by his father and a tutor, until the age of 10 at which point he began attending school. His main interest would however remain his botanical studies which he had begun as a child in the family's garden.
            </p>
            <p>
                Linnaeus was deemed unfit for university by his professors, they emphasised and held high expectations in mathematics, Greek, and theology. Linnaeus would however be recognised by one of his professors, Johan Rothman, who advised his father that an education and career in medicine might be fit for his son. Linnaeus would thus move into Rothman's home where he was instructed in anatomy, physiology and botany. Linnaeus would later enrol in Lund University where would spend one year and then move to Uppsala University in order to peruse a better education in botany and medicine. It was remarked at one point that Linnaeus' knowledge in botany was expansive and actually even surpassed that of the university's professors. He would subsequently become a lecturer at Uppsala University at the young age of 23.
            </p>
            <h2>Works</h2>
            <p>
                Linnaeus' most important contribution to science is most clearly his system for classification of life. It was in Flora Lapponica that Linnaeus would introduce his ideas about nomenclature and classification. This book was written based on an expedition he made to the north of Sweden where he discovered over 100 new plants. He used his new system of classification to classify the plants presented in this book. His system of classification would later be known as the Linnaean or the binomial system of classification. The key to the success of his system was that it was flexible enough to accept new discoveries and yet precise enough to allow for clear distinctions of different groups of organisms. It allowed for the classification of plants just as it did animals and would later be expanded unto the rest of the living world.
            </p>
            <p>
                It was with the help of Johan Frederik Gronovius (a Dutch botanist), and Isaac Lawson (Scottish doctor) that they were able to fund the publication of Linnaeus' Systema Naturae the original book on classification of the natural world! Linnaeus continued to develop his system of classification and in a period of 30 years his book went from around 12 pages to around 2400 in its twelfth edition. This was the first attempt by anyone to classify all living things. It is difficult to overstate just how important Linnaeus' work was, it allowed for a couple of key advances:
            </p>
            <ol>
                <li>
                    Clear communication between scientist when discussing a certain animal or plant species as they would use the
                    same name.
                </li>
                <li>
                    His system would later allow to relate different species or groups of species which would eventually give rise
                    to the idea of change by descendence i.e. evolution!
                </li>
            </ol>

            <p>
                If you have the honour of visiting the Royal Society Archives, you may have the opportunity to see some of Linnaeus' work first hand as I did recently. I had some fun with a first edition of Linnaeus' Systema Naturae, and here are some images for you to enjoy!
            </p>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_carl-von-linnaeus/royalSociety_systemaNaturae1.jpg">
                <figcaption>
                    Linneaus' Systema Naturae at the Royal Society London.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_carl-von-linnaeus/royalSociety_systemaNaturae2.gif">
                <figcaption>
                    Linneaus' Systema Naturae at the Royal Society London.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/references/documents/biography_carl-von-linnaeus/royalSociety_systemaNaturae3.gif">
                <figcaption>
                    Linneaus' Systema Naturae at the Royal Society London.
                </figcaption>
            </figure>

            <ol class="foot-notes">
                <div class="foot-notes-head">
                    Footnotes:
                </div>
                <li>
                    <a href="/references/documents/biography_carl-von-linnaeus/linneaus_systemaNaturae.pdf">Systema Naturae</a>
                </li>
            </ol>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
