<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Petri dish preperation</h1>
            <p>
                Petri dish preparation allows us to create dishes of nutrient rich gel. These gels can then be used to grow bacterial strains on for testing/experimentation in the lab.
            </p>
            <br>
            <p>
                To successfully prepare our <a href="../../dicBiology.html#BDic_Petri_Dish">Petri dishes</a> following various parameters must be taken into account.
            </p>
            <p>
                One must work in a in a sterile environment; meaning, hands must be washed thouroughly, a <a href="../../dicBiology.html#BDic_Bunsen_Burner">Bunsen burner</a> must be used.
            </p>
            <div class="warning">
                <strong>DO NOT USE GLOVES WITH A BUNSEN BURNER!!!</strong>
            </div>
            <p>
                In order to prepare <a href="../../dicBiology.html#BDic_Petri_Dish">Petri dishes</a> you will need the following:
            </p>
            <ul>
                <li>
                    <a href="../../dicBiology.html#BDic_Lysogeny_Broth">Lysgeny Broth</a> growth medium with added <a href="../../dicBiology.html#BDic_Agar">agar</a> (LA).
                </li>
                <li>
                    Sterile <a href="../../dicBiology.html#BDic_Petri_Dish">Petri dishes</a>
                </li>
                <li>
                    <a href="../../dicBiology.html#BDic_Bunsen_Burner">Bunsen burner</a>
                </li>
                <li>
                    Appropriate <a href="../../dicBiology.html#BDic_Antibiotics">antibiotics</a> if necessary
                </li>
            </ul>
            <p>
                The procedure is the following. Heat the gellified LA medium in an <a href="../../dicBiology.html#BDic_Autoclave">autoclave</a> for about 30-40 mins. Take this medium back to your work bench and wait until it is cool enough to hold in order to proceed.
            </p>
            <p>
                Once the medium is close to done, set up your work bench with the appropriate tools and <a href="../../dicBiology.html#BDic_Bunsen_Burner">Bunsen burner</a>.
            </p>
            <p>
                It is important to let the medium cool before proceeding, as any <a href="../../dicBiology.html#BDic_Antibiotics">antibiotics</a> which may be added at hot temperatures would simply denature and thus be rendered useless. Make sure to also annotate the dishes being used.
            </p>
            <p>
                Once the bottle is cool enough to hold proceed to add an appropriate dose of <a href="../../dicBiology.html#BDic_Antibiotics">antibiotics</a>. In this example we will be using the following antibiotics at the following concentrations:
            </p>
            <ul>
                <li>
                    Km<sub>20</sub> (Kanamycine) - Stock concentration [Km<sub>20</sub>]<sub><em>i</em></sub> = 20 mg/mL, desired concentration [Km<sub>20</sub>]<sub><em>f</em></sub> = 20 &mu;g/mL; added 200&mu;L for 200 mL of LA gel.
                </li>
            </ul>
            <p>
                In order to calculate the appropriate does for antibiotics, find the standard dose required in the dish. For Km it is 20 &mu;g/mL, the volume of LA you are preparing and then use the formula:
            </p>
            <div class="mathsFormulas">
                $$
                    C_1 \cdot V_1 = C_2 \cdot V_2
                $$
            </div>
            <p>
                Isolate the variable we are after; V<sub>1</sub>.
            </p>
            <div class="mathsFormulas">
                $$
                    V_1 = \frac{C_2 \cdot V_2}{C_1}
                $$
            </div>
            <p>
                Make sure that all units are in agreement.
            </p>
            <p>
                Once the <a href="../../dicBiology.html#BDic_Antibiotics">antibiotics</a> have been added thouroughly mix the medium quickly. This is to prevent the antibiotics from not being even distributed in the liquid. Then proceed to pour the dishes. 
            </p>
            <p>
                In order to pour multiple dishes stack the dishes close to the <a href="../../dicBiology.html#BDic_Bunsen_Burner">Bunsen burner</a> right side up. Lift all the dishes at once with the lid of the bottom most dish. Proceed to pour one at a time going up the stack.
            </p>
            <p>
                One should want to fill the dishes in one pour, as multiple pours will cause ripples and inconsistencies in the gelled medium. Fill about half way. Let sit overnight, or heat at 35&deg;C for about 30 min with the lid slightly ajar. Be sure to cover dishes in <a href="../../dicChemistry.html#CDic_Aluminium">aluminium</a> foil if they contain antibiotics this is in order to conserve the properties of the <a href="../../dicBiology.html#BDic_Antibiotics">antibiotics</a>.
            </p>
            <p>
                If you need to speed things up and are to used the dishes the same day, try storing them in the refridgerator for 30 mins, and then in an incubator at 42&deg;C to eliminate condensation. Be careful not to leave them too long as this will dry the gel, and reduce its size thus changing the concentration of antibiotics etc.
            </p>
            <p>
                You have finished, if you wish to know how to smear bacterial cultures on Petri dishes click here: <a href="MET_Smear_Petri_Dishes">Smear Petri Dishes</a>.
            </p>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
