<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Bacterial culture</h1>
            <p>
                For micro-organisms to be able to grow, a grow culture must satisfy all of the following requirements: provide an energy source, fulfil nutritional needs: mineral ions, growth factors, and provide a steady pH and ionic force close to optimum values.
            </p>
            <p>
                A growth medium can be either liquid or solid. Many different media have been used but the most versatile and reliable has been agar.
            </p>
            <ul>
                <li>
                    Agar has a distinctive smell and is commonly used to culture bacteria. It is a polymer made of subunits of galactose sugar (D- and L-galactose). Agar is an important part of the cell walls of red algae and can be extracted from certain red-purple marine algae - Rhodophyceae - including <em>Gelidium</em>, <em>Pterocladia</em>and <em>Gracilaria</em>. These algae can be commonly found in Asia and California.
                </li>
            </ul>
            <p>
                Laboratory agar is processed and has had any impurities or pigments removed before use. It can be dissolved in hot water and when cooled solidifies into a gel on which bacteria can be grown. Agar has other used outside of the lab such as in: soup (for thickening), jellies, ice cream and even cosmetics.
            </p>
            <p>
                The reason agar is used for bacterial cell culture is that agar is not easily degraded by bacteria and is stronger and more resistant to tearing than normal gelatine. Agar gel melts at around 80ºC and solidifies between 32 and 40ºC.
            </p>
            <ul>
                <li>
                    Silicon gels are also used for the growth of autotrophic bacteria on a solid surface. This is done in order to exclude all organic molecules and allow for the growth of purely autotrophic species.
                </li>
                <li>
                    Gelatine is a historic media which was used by Robert Koch who presented it as a new technique at the 1881 International Medical Congress in London. Gelatine had many advantages over liquid based medias. It could be cleanly poured onto sterilised glass plates, and its consistency was under control of the experimenter.
                </li>
            </ul>
            <p>
                Gelatine however, is degradable by most proteolytic bacteria (gelatinase) and cannot be used to grow anything with incubation temperatures exceeding 25ºC as that is its melting point.
            </p>
            <ul>
                <li>
                    Coagulated whole eggs were used by Jensen for growing <em>Mycobateria</em>.
                </li>
                <li>
                    Historically whatever it was the micro-organism was growing on was used for culture. This is however, difficult for non-pigmented bacteria.
                </li>
            </ul>
            <h2>Media preparation</h2>
            <p>
                Most media come in dehydrated form (crystals). This assures the consistant composition of the media and allows for easy storage. Preparation is rather simple and requires few steps.
            </p>
            <p>
                For preparation the powder is mixed with sterilised ultra pure water. The agar composition of the gel is usually around 1-2%. Smaller quantities can be used for other purposes such as: 0.05 - 0.5% can be used for studying the movement (motility) of bacteria, 0.5% the growth of anaerobic bacteria, and 0.1% the growth of microaerophiles.
            </p>
            <p>
                This mixture is stirred and heated (microwave) until consistent and clear. There should be no impurities in the solution - NO DUST NOR OTHER CONTAMINANTS. Contaminants could contant micro-organisms which could eventually grow in the poured media and ruin results. Heating should be done in short burst and the solution should not be allowed to boil as this could degrade the sugar polymers of the agar. After the solution has cooled down to around 50-60ºC it can be poured into glass test tubes for sterilisation.
            </p>
            <p>
                Sterilisation is done by autoclave depends on the media being prepared. In general 15-20mins at 120ºC is recommended. Media should then be allowed to cool to 50ºC <strong>in the autoclave</strong>. Do not remove the tubes from the autoclave before as the temperature difference could cause a negative pressure in the tubes.
            </p>
            <p>
                The tubes can be stored or remelted at a later date. Once melted the gel is poured onto pre-sterilised plates - glass or plastic Petri dishes are the standard.
            </p>
            <p>
                Somes media require the addition of certain products which cannot be autoclaved - such as fresh blood, egg yolks, antibiotics, or vitamins. These adjuvants should be added to a supercooled solution. The sterility of the additives should be assured at the moment of sampling or by filtration.
            </p>
            <h2>Synthetic media</h2>
            <p>
                These media are mostly used for the study of nutritional needs of micro-organisms. These are not very common and include: Auxanogram gels, Simmons Citrate Gels, and Urea-Indole Gels. Gels also exist for the culture of chemo-lithotrophic micro-organisms such as cyanobacteria.
            </p>
            <p>
                Carbon is in the form of sodium carbonate and nitrogen in the form of a nitrate or ammoniac. There are also mineral salts such as phosphates, sulfates, and chlorures.
            </p>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
