<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Electrophoresis gel purification</h1>
            <p>
                Electrophoretic gel purification is a standard electrophoretic assay to migrate DNA in a gel, however after migration is complete we recover and purify specific bands of DNA based on their size.
            </p>
            <p>
                In order to complete this procedure we used the following materials:
            </p>
            <ul>
                <li>
                    Tubes of our frozen agar (the tubes weigh 1g each)
                </li>
                <li>
                    The GFX purification kit by Illustra GE Healthcare
                </li>
            </ul>
            <p>
                One should follow the kit instructions carefully, but nonetheless understand the basic concept. The goal of this purification is to eliminate the gel, and ethidium bromide we previously added. We will do this by washing the DNA and then fixing it to a chromatography column from where we can elute it.
            </p>
            <p>
                Here is the detailed protocol. 
            </p>
            <ol>
                <li>
                    Weigh and take note of the mass of each gel.
                </li>
                <li>
                    Add 10 &mu;L of capture buffer type 3 for every 10 mg of gel. Example: add 300 &mu;L for 300 mg of gel. The amount of buffer should always be superiour to the weight of the gel, at a minimum 300 &mu;L.
                </li>
                <li>
                    Mix by inversion.
                </li>
                <li>
                    Incubate at 60&deg;C for 15-30 mins with agitation.
                </li>
                <li>
                    For each purification to be done place one GFX MicroSpin column into a collection tube. Be sure to annotate the tubes appropriately.
                </li>
                <li>
                    Centrifuge the previously incubated gel to collect the liquid at the bottom.
                </li>
                <li>
                    Transfer up to 800 &mu;L of dissolved gel into the column.
                </li>
                <li>
                    Incubate at room temperature for 1-2 mins.
                </li>
                <li>
                    Centrifuge at 16 000 g for 1 min.
                </li>
                <li>
                    Discard the collected liquid and then refill the column with melted gel and repeat the centrifugation as necessary.
                </li>
                <li>
                    Add 500 &mu;L of wash buffer type 1 into the GFX column.
                </li>
                <li>
                    Centrifuge at 16 000 g for 1 min.
                </li>
                <li>
                    Discard the collected liquid and transfer the column into a sterile 1.5 mL eppendorf tube.
                </li>
                <li>
                    Add 10-50 &mu;L of elution buffer type 4. This will dislodge the DNA from the column's filter and elute it into our new tube. Remember to annotate all new tubes.
                </li>
                <li>
                    Store at -20&deg;C for as long as necessary.
                </li>
            </ol>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
