<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Lysogeny broth culture</h1>
            <p>
                This procedure is done in order to amplify the <a href="/dictionaries/dicBiology.php#BDic_Biomass">biomass</a> of a single bacterial <a href="/dictionaries/dicBiology.php#BDic_Clone">clone</a>. This could then allow us to proceed to different experiments on all identical cells such as: <a href="../../dicMethods.html#MDic_DNA_Extraction">DNA extraction</a> and <a href="/dictionaries/dicBiology.php#BDic_Electropheretic_DNA_Purification">electrophoretic purification</a>.
            </p>
            <p>
                In order to incubate a single clone one must work in sterile conditions. One will need the following:
            </p>
            <div class="row">
                <div class="halfColumn">
                    <ul>
                        <li>
                            Liquid <a href="/dictionaries/dicBiology.php#BDic_Lysogeny_Broth">Lysogeny Broth (LB)</a> with no added <a href="/dictionaries/dicBiology.php#BDic_Agar">agar</a>
                        </li>
                        <li>
                            Sterile long wooden sticks, about 20 cm in length is ideal (not pictured)
                        </li>
                        <li>
                            <a href="/dictionaries/dicBiology.php#BDic_Bunsen_Burner">Bunsen burner</a>
                        </li>
                        <li>
                            Sterile flask
                        </li>
                        <li>
                            A dish containing the <a href="/dictionaries/dicBiology.php#BDic_Bacterial_Colony">bacterial colonies</a> to incubate
                        </li>
                    </ul>
                </div>
                <figure>
                    <img class="lazy" data-src="/references/documents/biology-wetlab_lysogeny-broth-culture/lysogeny-broth-culture-materials.png" alt="Materials Required for LB Culture">
                    <figcaption>
                        Materials necessary for LB culture preparation.
                    </figcaption>
                </figure>
            </div>
            <p>
                Set up your work bench with the <a href="/dictionaries/dicBiology.php#BDic_Bunsen_Burner">Bunsen burner</a>. Set the dishes close to the burner and prepare the <a href="/dictionaries/dicBiology.php#BDic_Lysogeny_Broth">LB</a> medium. First place 10 mL of <a href="/dictionaries/dicBiology.php#BDic_Lysogeny_Broth">LB</a> into the sterile flask, then add antibiotics if necessary.
            </p>
            <p>
                If antibiotics are necessary refer to this formula for calculating the necessary amount: <a href="../../dictionaries/dicFormulas.html#FDic_Dilution">Dilution Formula</a>.
            </p>
            <p>
                Note that the amount of LB medium used to culture our cells will impact the growth rate. In general with <u><em>E. coli</em></u> the more diluted they are the longer it will take for them to grow. The aforementioned 10 mL is ideal for an overnight culture.
            </p>
            <p>
                If one were to be pressed for time, a trick one could employ to more quickly obtain a larger mass of cells is to culture three seperate flasks at once with small volumes such as 3 mL per. Incubate for as long as possible, and then place cells into eppendorfs in which they can be centrifuged. This will compact the cells and allow us to remove the excess liquid medium. Then simply place the remaining cells together and proceed with whatever assay necessary.
            </p>
            <p>
                Once your LB medium is prepared in the flask, remove the lid from your dishes. Search for a <a href="/dictionaries/dicBiology.php#BDic_Bacterial_Colony">colony</a> which demonstrates healthy morphology. In the case of <u><em>E. coli</em></u> this means perfectly round and about 2-3 mm in diameter. We wish to select young and healthy <a href="/dictionaries/dicBiology.php#BDic_Clone">clones</a>. A rugged outer edge indicates <a href="/dictionaries/dicBiology.php#BDic_Autolysis">autolysis</a> or <a href="/dictionaries/dicBiology.php#BDic_Cell">cell</a> death.
            </p>
            <p>
                Once an appropriate colony is found, sterlise the woodon stick over the flame, let cool, and proceed to poke only a single colony. Deposit the stick into the flask containing the medium and agitate.
            </p>
            <p>
                Place the sealed flask into an incubator with agitation for 12-16 h at 37&deg;C, or at another necessary temperature.
            </p>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
