<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Subcloning bacterial colonies</h1>
            <p>
                Subcloning can be done for a variety of reasons, here are just two: testing antibiotic resistances for a certain strain, and wanting to smear a strain in order to obtain isolated colonies.
            </p>
            <p>
                Here we will take a single colony from the original dish and then smear it onto a new dish. There are certain parameters to follow when doing this process, the most important being to work in a sterile environment.
            </p>
            <p>
                Petri dishes should have been prepared in advances and per this protocol: <a href="../../references/methods/MET_Petri_Dish_Prep.php">Petri Dish Preparation</a>.
            </p>
            <p>
                One needs the following for this process:
            </p>
            <ul>
                <li>
                    Sterile long wooden picks, about 20 cm in length is ideal
                </li>
                <li>
                    <a href="../../dicBiology.html#BDic_Bunsen_Burner">Bunsen burner</a>
                </li>
                <li>
                    Prepared antibiotic Petri dishes
                </li>
                <li>
                    A dish containing the <a href="../../dicBiology.html#BDic_Bacterial_Colony">bacterial colonies</a> to sample
                </li>
            </ul>
            <p>
                If taking from a previously incubated dish, search for a <a href="../../dicBiology.html#BDic_Bacterial_Colony">colony</a> which is perfectly round and about 2-3 mm in diameter. We wish to select young and healthy <a href="../../dicBiology.html#BDic_Clone">clones</a>. A rugged outer edge indicates <a href="../../dicBiology.html#BDic_Autolysis">autolysis</a> or simply <a href="../../dicBiology.html#BDic_Cell">cell</a> death.
            </p>
            <p>
                If you sample from an LB culture, be sure to create various dilutions of your culture to avoid forming a cellular carpet.
            </p>
            <p>
                From LB culture dilutions: place 50-100 &mu;L onto the gel and then use glass beads to smear.
            </p>
            <p>
                From a previously incubated Petri dish: once an appropriate colony is found, sterlise the woodon pick, let cool, and proceed to poke only this single colony. Place the wooden pick gently and as parallel as possible onto the gel. Smear the pick over half of the dish in as tight a pattern as possible.
            </p>
            <p>
                Then turn the dish 90&deg; and run the pick over the previously smeared area twice, and proceed to smear the pick over the remaining portion of the dish without touching the previously smeared area.
            </p>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
