<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>DNA digestion/religation</h1>
            <h2>DNA digestion</h2>
            <p>
                Often used for linearising plasmids or testing the presense and size of either an insert and or a restriction site. This is useful as it is a simple process and does not require anything else other than the enzyme and the DNA product; which can come directly from a DNA extraction.
            </p>
            <h3>Kpn1 digestion thermofisher scientific</h3>
            <p>
                The digestion was done with Kpn1 by Thermofisher Scientific; place the following materials into a new 1.5 mL tube. Incubate at 37&#176;C.
            </p>
            <table>
                <thead>
                    <tr>
                        <th class="tableHeader" colspan="5">Kpn1 Digestion V<sub>f</sub> = 30&mu;L</th>
                    </tr>
                    <tr>
                        <th>Product</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>DNA Extract</th>
                        <td>20 &mu;L</td>
                    </tr>
                    <tr>
                        <th>Kpn1 Enzyme</th>
                        <td>1 &mu;L</td>
                    </tr>
                    <tr>
                        <th>Buffer</th>
                        <td>3 &mu;L</td>
                    </tr>
                    <tr>
                        <th>MQ H<sub>2</sub>O</th>
                        <td>6 &mu;L</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Note that these amounts are only a guideline and will vary depending on the enzyme used for digestion and also the amounts that are to be used. They depends strictly on the concentration of the products in use.
            </p>
            <p>
                Note that the digestion takes place at the following site: <span class="chemicalForm">GGTAC | C</span>.
            </p>
            <p>
                After digestion the whole was placed at 80&#176;C to deactivate the enzyme.
            </p>
            <h2>Religation</h2>
            <p>
                This process is often times done after linearisation of a plasmid; the goal being to reclose it. The process is done after the removal of a fragment from the plasmid. It can be used in other situations.
            </p>
            <p>
                What is presented here is again specific to the enzyme being used and of course the concentrations in play. They should all be taken as guidelines and be recalculated as need be.
            </p>
            <h3>T4 religation thermofisher</h3>
            <table>
                <thead>
                    <tr>
                        <th class="tableHeader" colspan="5">T4 Religation V<sub>f</sub> = 20&mu;L</th>
                    </tr>
                    <tr>
                        <th>Product</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Digested Plasmid</th>
                        <td>17 &mu;L</td>
                    </tr>
                    <tr>
                        <th>T4 Enzyme</th>
                        <td>2 &mu;L</td>
                    </tr>
                    <tr>
                        <th>Buffer</th>
                        <td>2 &mu;L</td>
                    </tr>
                </tbody>
            </table>
            <p>
                The whole was incubated at 22&#176;C for 12 h overnight.
            </p>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
