<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Conjugation of bacteria</h1>
            <p>
                For this process we will try to get one plasmid to pass into another strain. This can be done for different reasons including: testing conjugative capacity, and preparing for a &lambda;<sub>red</sub> recombination.
            </p>
            <br>
            <p>
                The protocol for this process is the following:
            </p>
            <ol>
                <li>
                    Have previously prepared LB cultures of both strains to conjugate.
                </li>
                <li>
                    Sample 500 &mu;L of each LB culture and place together into a new 1.5 mL eppendorf.
                </li>
                <li>
                    Centrifuge for 2-3 mins at 13 000 g.
                </li>
                <li>
                    Eliminate the surnatant.
                </li>
                <li>
                    Resuspend in 1 ml of LB.
                </li>
                <li>
                    Centrifuge for 2-3 mins at 13 000g.
                </li>
                <li>
                    Prepare a conjugation filter with 45 &mu;m pores.
                </li>
                <ul>
                    <li>
                        Work in a sterile environment, with Bunsen burner.
                    </li>
                    <li>
                        Use tweezers to carefully remove the filter from its case and place it onto a LA dish; no antibiotics.
                    </li>
                    <li>
                        Allow the filer to adhere to the LA surface and become humid. Do not disturb after this point.
                    </li>
                </ul>
                <li>
                    Eliminate the surnatant.
                </li>
                <li>
                    Resuspend in 10 &mu;L of LB.
                </li>
                <li>
                    Carefully deposit all 10 &mu;L of the solution onto the filter.
                </li>
                <li>
                    Carefully spread it on the filter surface with the tip of a cone.
                </li>
                <li>
                    Leave to dry with the lid ajar for a few seconds.
                </li>
                <li>
                    Incubate at 30&deg;C for 1 h 30 mins.
                </li>
                <li>
                    Recover the filter and place it into a 1.5 mL eppendorf.
                </li>
                <li>
                    Add 300 &mu;L of LB.
                </li>
                <li>
                    Vortex.
                </li>
                <li>
                    Throw away the filter.
                </li>
                <li>
                    Create cascading dilutions of the resulting solution. For help with dilutions please see here: <a href="/dictionaries/dicFormulas.html#FDic_Cascading_Dilutions">Cascading Dilutions</a>.
                </li>
                <li>
                    Smear with glass beads onto LA dish with combined antibiotics of the respective resistances for the individual strains.
                </li>
            </ol>
            <p>
                Depending on what strain you are using is what temperature you would incubate at.
            </p>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
