<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Petri dish smear</h1>
            <p>
                Petri dish smears should follow a specific protocol. This in order to evenly spread the cells over a nutrient rich gel. Depending on what is being done we could be trying to isolate certain strains or just test them against an antibiotic.
            </p>
            <p>
                We previously <a href="MET_Petri_Dish_Prep.php">prepared Petri dishes</a>, new let's look at how to put something of interest on said dishes for culture.
            </p>
            <p>
                For this process you will need the following:
            </p>
            <ul>
                <li>
                    Previously prepared Petri dishes
                </li>
                <li>
                    Bunsen burner            
                </li>
                <li>
                    Long wooden sticks
                </li>
            </ul>
            <h2>Protocol</h2>
            <p>
                Take one of the wooden sticks and sterilise it over the flame of a bunsen burner. Then dip or touch the stick gently to the sample to be smeared.
            </p>
            <p>
                Place this end gently onto the gel of a petri dish to be used. And slowly smear the stick in a back and forth motion in more or less the same spot. 
            </p>
            <p>
                Turn the dish about 30&deg; and again smear the stick in this same motion. This time though pass the stick in the previous path only once.
            </p>
            <p>
                Again take turn the dish and repeat the process until you come full circle back to the previously smeared path.
            </p>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
