<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>DNA sequencing</h1>
            <p>
                The sequencing preparation is to be done in the following way with the company EuroFins. It is extremely important to take note of the bar code for each tube, and what was placed into each tube as we will receive the sequences based on these codes. Only one primer should be placed in each tube. Here is an example of what should be noted:
            </p>
            <ol>
                <li>
                    Clone 1, stb40, Tube: 72654
                </li>
                <li>
                    Clone 1, stb41, Tube: 72655
                </li>
                <li>
                    Clone 2, stb40, Tube: 72656 
                </li>
                <li>
                    Clone 2, stb41, Tube: 72657
                </li>
            </ol>
            <p>
                The sequencing process is done by extension of the DNA matrix with our included primers. The sequence information is collected by Sanger sequencing. 
            </p>
            <p>
                15 &mu;L of the extract is taken and directly put in the sequencing tubes. Then 2 &mu;L of primer is put into the tube.
            </p>
            <p>
                You will receive the sequenced in a few days in a zip file on EuroFins website. You can then open the sequences and align them to see if your manipulations are correct, and did not cause any unwanted mutations.
            </p>
            <p>
                You will receive the following a <code>.seq</code> file type which contains your sequences. The others contain extra information such as the unclipped sequences which are longer versions, of which the extra parts could not be 100% verified.
            </p>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
