<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>DNA plasmid digestion</h1>
            <p>
                Here we will take a plasmid, pAPT110 as an example, and cut it with the <a href="#DATA_Nhe1">Nhe1 restriction enzyme</a>. The cut is being made just before the KmR cassette as seen in the image below.
            </p>
            <div class="row">
                <figure class="halfColumn">
                    <img src="/references/documents/biology-wetlab_dna-plasmid-digestion/20181110_PAPT110_Nhe1RestrictionSite2.png" alt="R388 CG387b/CG392 PCR Schematic" class="imagesFullSize invertImageColours">
                    <figcaption>
                        pAPT110 Nhe1 restriction site.
                    </figcaption>
                </figure>
                <figure class="halfColumn">
                    <img src="/references/documents/biology-wetlab_dna-plasmid-digestion/20181110_PAPT110_Nhe1RestrictionSite.png" alt="R388 CG387b/CG392 PCR Schematic" class="imagesFullSize invertImageColours">
                    <figcaption>
                        pAPT110 Nhe1 restriction site.
                    </figcaption>
                </figure>
            </div>
            <p>
                For this process we require the following materials in the following quantities:
            </p>
            <table>
                <thead>
                    <tr>
                        <th class="tableHeader" colspan="5">Prime Star PCR v<sub>f</sub> = 50 &mu;L</th>
                    </tr>
                    <tr>
                        <th>Product</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Nhe1 Restriction Enzyme x2</th>
                        <td>1 &mu;L</td>
                    </tr>
                    <tr>
                        <th>MQ H<sub>2</sub>O water</th>
                        <td>26 &mu;L</td>
                    </tr>
                    <tr>
                        <th>Plasmid DNA</th>
                        <td>10 &mu;L</td>
                    </tr>
                    <tr>
                        <th>Tampon x10 Thermo Fisher Scientific</th>
                        <td>3 &mu;L</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Note these quantities are guildlines and are specific to this Nhe1 restriction enzyme by Thermo Fisher Scientific.
            </p>
            <p>
                Make sure the restriction sequence only appears once on the plasmid; in this case we use <a href="#DATA_Nhe1">Nhe1</a>.
            </p>
            <p>
                Simply place the products into a 1.5 mL tube, and incubate with agitation at 37&deg;C unless cells require otherwise (&lambda;red). Afterwards recover the tube, and purify to avoid any unspecific restrictions.
            </p>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
