<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Bacterial transformation</h1>
            <p>
                Here we look at how to transform bacteria with new plasmids. Transformation is the act of introducing a DNA sequence into the cells. We use chemocompetent cells in this case, a strain commonly used is DH5&alpha;.
            </p>
            <p>
                For this process we needed to always work in ice, and the following materials:
            </p>
            <ul>
                <li>
                    Genetic constructions to transform into cells.
                </li>
                <li>
                    DH5&alpha; cells. These should be carefully handled as they are fragile. 
                </li>
                <li>
                    Ice tray.
                </li>
                <li>
                    Hot bath, 42&deg;C.
                </li>
                <li>
                    An incubator with agitation.
                </li>
                <li>
                    Petri dishes with appropriate antibiotics.
                </li>
            </ul>
            <p>
                The process is rather straight forward. Here is what was done.
            </p>
            <ul>
                <li>
                    Add 8 &mu;L of DNA construction (from InFusion reaction). It is important to add this DNA in order to obtain about 0.01-0.1 &mu;g of DNA in the final solution.
                </li>
                <li>
                    Incubate in ice for 20-30 mins. Agitate lightly from time to time.
                </li>
                <li>
                    Incubate in hot bath, 42&deg;C for 1 min 30 s.
                </li>
                <li>
                    Plunge into the ice and leave for 5 mins.
                </li>
                <li>
                    Add 1 mL of LB medium to the tube, agitate lightly.
                </li>
                <li>
                    Finally incubate at 37&deg;C for 1 h to allow for phenotypic expression.
                </li>
            </ul>
            <p>
                This phenotypic expression being the resistance to our selective antibiotics.
            </p>
            <p>
                Place between 50-100 &mu;L of the cell's solution directly onto a dish and smear with glass beads. 
            </p>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
