<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Plasmid recombination InFusion</h1>
            <p>
                Recombination by InFusion allows for the insertion of PCR fragments or other DNA fragments into a plasmid; all this without having to linearise the plasmid. Moreover InFusion allows for the insertion of multiple sequences at once, and it all takes about 1h.
            </p>
            <p>
                For this process we will be using pAPT110 plasmid, (KmR) plus PCR amplified stbABC operon as an example and for clarity. The operon was amplified with floating tail primers so that it contains a homologous region which can be used to join it to the pAPT110 plasmid.
            </p>
            <p>
                Here is a schematic representation of the fusion of these two DNA fragments. On the left the amplified region of the R388 plasmid, being stbABC with the DR sequences upstream from ABC. On the right the Nhe1 restriction site on the pAPT110 plasmid.
            </p>
            <div class="row">
                <div class="halfColumn">
                    <figure>
                        <img class="lazy" data-src="/references/documents/biology-wetlab_polymerase-chain-reaction-pcr/20181023_schematic_PCR_1_amplifiedRegion_CG387b-CG392.png">
                        <figcaption>
                            Schematic representing PCR amplification of a region of R388 with primers: CG387b-CG392
                        </figcaption>
                    </figure>
                </div>
                <div class="halfColumn">
                    <figure>
                            <img class="lazy" data-src="/references/documents/biology-wetlab_plasmid-recombination-in-fusion/20181110_PAPT110_Nhe1RestrictionSite.png">
                            <figcaption>
                                Schematic representing restriction sites for pAPT110 with Nhe1
                            </figcaption>
                    </figure>
                </div>
            </div>
            <p>
                The fusion of these two should equal the following, shown as a plasmid map:
            </p>
            <figure>
                <img class="lazy" data-src="/references/documents/biology-wetlab_plasmid-recombination-in-fusion/20181024_p4G33_pAPT110stbDRstbABC.pdf">
                <figcaption>
                    Schematic representing p4G33 and pAPT110 stbDR with stbABC
                </figcaption>
            </figure>
            <p>
                For this protocol the following materials and steps are necessary:
            </p>
            <ul>
                <li>
                    InFusion Mix 5x.
                </li>
                <li>
                    Linearised plasmid.
                </li>
                <li>
                    Insertion sequence.
                </li>
            </ul>
            <p>
                Here are some rough guidelines for the amounts of materials to use:
            </p>
            <table>
                <thead>
                    <tr>
                        <th class="tableHeader" colspan="5">InFusion Reaction v<sub>f</sub> = 20 &mu;L</th>
                    </tr>
                    <tr>
                        <th>Product</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>InFusion Mix 5x</th>
                        <td>2 &mu;L</td>
                    </tr>
                    <tr>
                        <th>MQ H<sub>2</sub>O water</th>
                        <td>10 &mu;L</td>
                    </tr>
                    <tr>
                        <th>Linear Plasmid</th>
                        <td>5 &mu;L (50-100 ng)</td>
                    </tr>
                    <tr>
                        <th>PCR Fragments stbABC</th>
                        <td>3 &mu;L (50-100 ng)</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Note that the proportion of fragments DNA to the host vector should be somewhere in the range of 2:1; 2 fragments PCR per host plasmid, and respect the amount of material (ng) rather than the volumes indicated.
            </p>
            <p>
                Once the products have been mixed in a 1.5 mL tube simply incubate with agitation at 50&deg;C for 15 mins then place into ice to stop the reaction.
            </p>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
