<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>DNA extraction</h1>
            <p>
                For this step you will need a large biomass of cells in order to be able to extract a useful quantity of genetic materia. The ideal way to obtain large quantities of cells, is by y <a href="MET_LB_Culture.php">Lysogeny broth culture</a>. This culture can be used for <a href="/dictionaries/dicMethods.html#MDic_DNA_Extraction">DNA extraction</a>, here we will be using ENZA Plasmid DNA Mini Kit I by Omega Bio-Tek.
            </p>
            <p>
                Since a kit will be used for this process it is rather straight forward. But one should still understand the basic concepts invovled.
            </p>
            <p>
                What we will be doing is placing our cells in a buffer which contains RNAse enzymes to eliminate our unwanted material. The cells are then lysed and the DNA along with all other cell contents are freed into the liquid.
            </p>
            <p>
                Afterwards we precipate the unwanted proteins and lipids and seperate the DNA from them by pipetting off the surnatant. The precipitate is thrown away. The surnatant is plassed through a filter (mini chromatography column) onto which the DNA binds. The DNA is then be eluted by use of an elutative solution. This is where we recover our DNA sequences.
            </p>
            <p>
                Here is a more detailed protocol for this process:
            </p>
            <ol>
                <li>
                    Pipette off 5 mL of LB culture into an appropriatly sized tube.
                </li>
                <li>
                    Centrifuge the cultures at 16 000 g for 10 mins (Remember to balance the centrifuge).
                </li>
                <li>
                    Remove the surnatant, you can safetly tap the tube on a paper towel to thoroughly remove any liquid medium.
                </li>
                <li>
                    Add 250 &mu;L of RNAse A solution and vortex/pipette up and down to resuspend the cells.
                </li>
                <li>
                    Transfer the suspension into a new 1.5 mL microcentrifuge tube.
                </li>
                <li>
                    Add 250 &mu;L of solution two, rotate the tube to gently mix the liquids. This will yeild a clear lysate. Incubate for 2-3 mins at room termperature.
                    <ul>
                        <li>
                            Note: Avoid vigorous mixing as this will shear chromosomal DNA and lower plasmid purity.
                        </li>
                    </ul>
                </li>
                <li>
                    Add 350 &mu;L of solution 3 and invert immediately until a flocculent white precipate has formed.
                    <ul>
                        <li>
                            Mix instantly after adding solution 3 to avoid a heterogenous precipation.
                        </li>
                    </ul>
                </li>
                <li>
                    Centrifuge at maximum speed (13 000 g) for 10 mins. The compact white pellet which has formed is the cellular debris.
                </li>
                <li>
                    Transfer the surnatant into a DNA mini chromatography column with the appropriate collection tube.
                    <ul>
                        <li>
                            Careful not to aspirate cellular debris.
                        </li>
                    </ul>
                </li>
                <li>
                    Centrifuge at maximum speed (13 000 g) for 1 min.
                </li>
                <li>
                    Discard the filtrate that was collected in the collection tube.
                    <ul>
                        <li>
                            Note that the DNA is currently bound to the column's filter.
                        </li>
                    </ul>
                </li>
                <li>
                    Add 500 &mu;L HBC buffer.
                    <ul>
                        <li>
                            The buffer should have been diluted with isopropanol before use.
                        </li>
                    </ul>
                </li>
                <li>
                    Centrifuge at maximum speed (13 000 g) for 1 min.
                </li>
                <li>
                    Discard the filtrate.
                </li>
                <li>
                    Add 700 &mu;L DNA was buffer.
                    <ul>
                        <li>
                            The buffer should have been diluted with 100% ethanol before use.
                        </li>
                    </ul>
                </li>
                <li>
                    Centrifuge at maximum speed (13 000 g) for 1 min.
                </li>
                <li>
                    Discard the filtrate and reuse the collection tube.
                </li>
                <li>
                    Centrifuge the empty column at maximum speed (13 000 g) for 1 min in order to dry the column. This step is important so as not to obtain and eluate contaminated with ethanol.
                </li>
                <li>
                    Transfer the column into a 1.5 mL tube and add 30-100 &mu;L of elution buffer.
                </li>
                <li>
                    Let incubate at room temperature for 1 min.
                </li>
                <li>
                    Centrifuge at maximum speed (13 000 g) for 1 min, the elution buffer will detach the DNA and it will be collected in our eppendorf tube.
                </li>
                <li>
                    Store the DNA solution at -20&deg;C.
                </li>
            </ol>

            <p>
                After obtaining this DNA solution one can proceed with downstream applications. Some possible applications are a verification PCR coupled with a verification electropheretic gel. This would allow us to visualise the presence of a specific sequence of DNA in our cells.
            </p>
            <p>
                A simple electropheretic gel would allow us to visualise all contents present in the cell. If the DNA has not been sheared then it should show a couple of bands, minimum 1 for the chromosomal DNA and possibly a couple more which represent plasmid DNA.
            </p>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
