<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Lambda <sub>red</sub> recombination</h1>
            <p>
                Lambda<sub>red</sub> (referred to as &lambda;<sub>red</sub>) recombination allows for the insertion of a PCR fragment into a DNA sequence. In order for this process to be done, one needs to linearise the DNA sequence (if plasmid), and then prepare the &lambda;<sub>red</sub> strain which in this case contain the red system in their chromosome and are temperature inducible.
            </p>
            <p>
                Note that the secondary LB culture are not to be incubated for 12 h as with classical LB cultures. Here we wish to obtain our cells in the exponential growth phase, and thus must stop the culture at OD (optical density) = 0.5.
            </p>
            <p>
                In preparation for this experiment place a bottle of MQ H<sub>2</sub>O into the refridgerator, and also a bottle of 87% glycerol. Use the following these steps for &lambda;<sub>red</sub> recombination assay:
            </p>
            <p>
                Be sure to have previously produced a PCR product for insertion with homologous ends. They should be homologous to the target site of the insertion vector. For more information on the PCR protocol, see the page detailed here: <a href="MET_PCR.php">PCR</a>.
            </p>
            <p>
                Be sure to use primers with floating ends, the &lambda;<sub>red</sub> recombination system requires that the homologous regions be of 15 bp in length. It has been found to work with ends that are slightly longer or smaller than this, but 15 is the initial ideal size.
            </p>
            <h2>Activate &lambda;<sub>red</sub> recombination system</h2>
            <ol>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel">
                    Use previously created LB culture to prepare new LB culture. Create doubles of each culture as one will serve as a reference for taking the OD of the flasks.
                    </label>
                    <p>
                        We wish to disturb the cells as little as possible. <strong>Incubate at 30&#176;C in order to avoid activating the &lambda;<sub>red</sub> system</strong>.
                    </p>
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel">
                    Prepare a hot bath at exactly 42&#176;C.
                    </label>
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel">
                        Monitor the cells until OD = 0.5. At this point remove cells from incubator.
                    </label>
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel"></label>
                    Place the flasks into the hot bath at 42&#176;C for 15 mins.
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel"></label>
                    Place the flasks into an ice bath for 15 mins.
                </li>
            </ol>
            <h2>Make the cells electrocompetent</h2>
            <ol>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel"></label>
                    Transfer the cells into 25 mL tubes apt for centrifugation.
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel"></label>
                    Centrifuge the cells 10 mins at 4000 g.
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel"></label>
                    Eliminate the surnatant, and resuspend the pellet in 10 mL MQ H<sub>2</sub>O (cold).
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel"></label>
                    Centrifuge the cells 10 mins at 4000 g.
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel"></label>
                    Eliminate the surnatant, and resuspend the pellet in 10 mL MQ H<sub>2</sub>O (cold).
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel"></label>
                    Centrifuge the cells 10 mins at 4000 g.
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel"></label>
                    Eliminate the surnatant, and resuspend the pellet in 10 mL MQ H<sub>2</sub>O (cold).
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel"></label>
                    Centrifuge the cells 10 mins at 4000 g.
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel"></label>
                    Eliminate the surnatant, and resuspend the pellet in 80 &mu;L MQ H<sub>2</sub>O (cold).
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel">
                        Place an electroporation tube into the ice so that everything is cold before use.
                    </label>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel">
                        Add 8 &mu;L of PCR product, previously made with homologous sequences to the insertion point in the vector.
                    </label>
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel">
                        Transfer the whole into the electroporation tube, 
                    </label>
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel">
                        Incubate in the ice for 30 mins.
                    </label>
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel">
                        Electroporate; voltage depends on the thickness of the tube walls. In this case we have the example of a 2 mm tube at 2500 V.
                    </label>
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel">
                        Add 1 mL of LB.
                    </label>
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel">
                        Incubate at 30&#176;C for 1 h to allow for phenotypic expression.
                    </label>
                </li>
                <li>
                    <input type="checkbox" class="checkBoxToDo"><label class="checkBoxLabel">
                        Smear onto Petri dishes with the appropriate antibiotics.
                    </label>
                </li>
            </ol>
            <p>
                In this case the antibiotics we used were CmKm. Cm for the R388 plasmid and Km for the KmR insertion which replaces the stbABC operon.
            </p>
            <p>
                The cells were left over the week-end at 30&#176;C for growth.
            </p>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
