<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Periodic Tables</h1>

            <p>
                Here you'll find an assortment of periodic tables, from the standard to the more esoteric; showing electronegativity or temperature based information on the elements.
            </p>

            <h2>Standard</h2>
            <figure>
                <img class="lazy" data-src="/references/documents/cheat-sheets_periodic-tables/periodic-table-black-and-white.pdf">
                <figcaption>
                    Standard black and white periodic table.
                </figcaption>
            </figure>

            <figure>
                <img class="lazy" data-src="/references/documents/cheat-sheets_periodic-tables/periodic-table-standard.png">
                <figcaption>
                    Standard coloured periodic table.
                </figcaption>
            </figure>

            <h2>Elements by temperature</h2>
            <figure>
                <img class="lazy" data-src="/references/documents/cheat-sheets_periodic-tables/periodic-table-melting-temperatures.pdf">
                <figcaption>
                    Elements with information of their melting temperature.
                </figcaption>
            </figure>

            <h2>Elements by lectronegativity</h2>
            <figure>
                <img class="lazy" data-src="/references/documents/cheat-sheets_periodic-tables/periodic-table-electronegativities.pdf">
                <figcaption>
                    Elements with information on their electronegativity.
                </figcaption>
            </figure>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
