<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Chemistry Tables</h1>

            <p>
                Useful tables for chemistry in PDF format.
            </p>

            <figure>
                <img src="/references/documents/cheat-sheets_chemistry-tables/chem_massSpectrometry.png">
                <figcaption>
                    Mass spectrometry guide.
                </figcaption>
            </figure>

            <figure>
                <img src="/references/documents/cheat-sheets_chemistry-tables/chem_infraredSpectro.png">
                <figcaption>
                    Infrared spectroscopy.
                </figcaption>
            </figure>

            <figure>
                <img src="/references/documents/cheat-sheets_chemistry-tables/chem_c13NmrShifts.png">
                <figcaption>
                    Nuclear magnetic resonance.
                </figcaption>
            </figure>

            <figure>
                <img src="/references/documents/cheat-sheets_chemistry-tables/chem_titration.png">
                <figcaption>
                    A guide to titration.
                </figcaption>
            </figure>

            <figure>
                <img src="/references/documents/cheat-sheets_chemistry-tables/chem_neuroTrans.png">
                <figcaption>
                    Chemical structure of neurotransmittors.
                </figcaption>
            </figure>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
