<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>

    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Mathematics symbology</h1>
            <p>
                Here you'll find a basic list of maths symbols which are widely used, and often times found in science. These are used throughout the site, do not hesitate to reference this sheet when needed.
            </p>
            <h2>1. Quantifiers</h2>
            <ul>
                <li>\( \forall \) - For all; for any; for each; for every.</li>
                <li>\(\exists\) - There exists.</li>
                <li>\(\exists!\) - There exists a unique.</li>
            </ul>
            <h2>2. Subset or Includers</h2>
            <ul>
                <li>\(\in\) - Is an element of or belongs to. Negation: \(\notin\)</li>
                <li>\(\subset\) - Is included in; inclusion of one ensemble in another. Negation: ⊄</li>
                <li>= - Is equal to. Negation: \(\neq\)</li>
                <li>\(\emptyset\) - An empty set.</li>
                <li>\(\cup\) - Union of.</li>
                <li>\(\cap\) - Intersection of or overlap of.</li>
                <li>\(\setminus\) - Deprived of, can be used to signal the difference of two sets.</li>
                <li>\(\vartriangle\) - Symetrical difference of.</li>
            </ul>
            <h2>3. Numbers Related to Numbers, Functions etc.</h2>
            <ul>
                <li>\(\infty\) - Infinity.</li>
                <li>\(\ge, \le\) - Superior or equal to, inferior or equal to.</li>
                <li>\(\gt, \lt\) - Strictly greater than, scrictly less than.</li>
                <li>\(\displaystyle\sum_{k=p}^q a_k\) - The sum of a<sub>k</sub>, k a whole number variant of p at q (= a<sub>p</sub> + a<sub>p+1</sub> +...+ a<sub>q</sub>)</li>
                <li>\(\displaystyle\prod_{k=p}^q a_k\) - Product of a<sub>k</sub>, k a whole number variant of p at q (\(= ap\times a_{p+1} \times ...\times a_q\))</li>
            </ul>
            <h2>4. Logical Connectors</h2>
            <ul>
                <li>\(\land, \lor \) (AND, OR) - Conjunction, disjunction of logical propositions.</li>
                <li>NOT - Negation of.</li>
                <li>\(\implies\) - Implies or comes to.</li>
                <li>\(\impliedby\) - Implied by or comes from.</li>
                <li>\(\iff\) - Equals by deduction or equivalence.</li>
            </ul>
            <h2>5. Ensembles of Numbers</h2>
            <ul>
                <li>\(\mathbb{N}\) - Set of whole natural numbers.</li>
                <li>\(\mathbb{Z}\) - Set of whole relative numbers.</li>
                <li>\(\mathbb{Q}\) - Set of rational numbers.</li>
                <li>\(\mathbb{R}\) - Set of real numbers.</li>
                <li>\(\mathbb{C}\) - Set of complex numbers.</li>
            </ul>
            <h2>6. Other symbols</h2>
            <ul>
                <li>\(:\) - To denote a ratio or proportion, such as: 1:2.</li>
            </ul>
            <h2>7. Greek Letters</h2>
            <ul>
                <li>&alpha;, &Alpha; - Alpha</li>
                <li>&beta;, &Beta; - Beta</li>
                <li>&gamma;, &Gamma; - Gamma</li>
                <li>&delta;, &Delta; - Delta</li>
                <li>&epsilon;, &Epsilon; - Epsilon</li>
                <li>&zeta;, &Zeta; - Zeta</li>
                <li>&eta;, &Eta; - Eta</li>
                <li>&theta;, &Theta; - Theta</li>
                <li>&iota;, &Iota; - Iota</li>
                <li>&kappa;, &Kappa; - Kappa</li>
                <li>&lambda;, &Lambda; - Lambda</li>
                <li>&mu;, &Mu; - Mu</li>
                <li>&nu;, &Nu; - Nu</li>
                <li>&xi;, &Xi; - Xi</li>
                <li>&omicron;, &Omicron; - Omicron</li>
                <li>&pi;, &Pi; - Pi</li>
                <li>&rho;, &Rho; - Rho</li>
                <li>&sigma;, &Sigma; - Sigma</li>
                <li>&tau;, &Tau; - Tau</li>
                <li>&upsilon;, &Upsilon; - Upsilon</li>
                <li>&phi;, &Phi; - Phi</li>
                <li>&chi;, &Chi; - Chi</li>
                <li>&psi;, &Psi; - Psi</li>
                <li>&omega;, &Omega; - Omega</li>
            </ul>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
