<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Mathematics sheet of formulas</h1>
            <p>
                Here you'll find a number of maths formulas useful for many different domains; from geometry to differential equations and statistics.
            </p>
            <br>
            <h2>Areas and volumes:</h2>

            <p>
                Trapezoid:
            </p>
            <div class="mathsFormula">
                $$
                    A = \frac{h(b_1 + b_2)}{2}
                $$
            </div>
            <p>
                Ellipse:
            </p>
            <div class="mathsFormula">
                $$
                    A = \pi r_1 r_2
                $$
            </div>
            <p>
                Triangle:
            </p>
            <div class="mathsFormula">
                $$
                    A = \frac{bh}{2} = \sqrt{(s(s-a)(s-b)(s-c))}
                $$
                $$
                    s = \frac{a+b+c}{2}
                $$
            </div>
            <p>
                Sphere:
            </p>
            <div class="mathsFormula">
                $$
                    V = \frac{4 \pi r^3}{3}$$    $$A = 4 \pi r^2
                $$
            </div>
            <p>
                Cone:
            </p>
            <div class="mathsFormula">
                $$
                    V = \frac{\pi r^2 h}{3}$$    $$A = \pi r \Biggl(r + \sqrt{h^2 + r^2}\Biggr)
                $$
            </div>
            <p>
                Cylinder:
            </p>
            <div class="mathsFormula">
                $$
                    V = \pi r^2 h$$    $$A = 2 \pi rh + 2 \pi r^2
                $$
            </div>
            <h2>Exponents and Logarithms:</h2>
            <div class="mathsFormula">
                $$
                    a^n \cdot a^m = a^{n+m}
                $$
                $$
                    (a^n)^m = a^{nm}
                $$
                $$
                    a^{\frac{n}{m}} = \sqrt[m]{a^n}
                $$
                $$
                    e^{\ln(n)} = n
                $$
            </div>
            <div class="mathsFormula">
                $$
                    \log_b (c) = x \to b^x = c
                $$
            </div>
            <div class="mathsFormula">
                $$
                    \log_b (a) = \frac{1}{\log_a b}
                $$
                $$
                    \log_x (y) = \frac{\ln(y)}{\ln(x)}
                $$
            </div>
            <div class="mathsFormula">
                $$
                    \log_b (xy) = \log_b (x) + \log_b (y)
                $$
                $$
                    \log_b x^r = r \cdot \log_b (x)
                $$
            </div>
            <h2>Trigonometry</h2>
            <p>
                Arc Length:
            </p>
            <div class="mathsFormula">
                $$
                    \bbox[10px,border:2px solid black]{s = \theta \cdot r}
                $$
            </div>
            <div class="note">
                where &theta; is the angle in radians.
            </div>
            <div class="mathsFormula">
                $$
                    \csc(x) = \frac{1}{\sin(x)}
                $$
                $$
                    \sec(x) = \frac{1}{\cos(x)}
                $$
                $$
                    \cot(x) = \frac{1}{\tan(x)}
                $$
            </div>  
            <div class="mathsFormula">
                $$
                    \sin^2 (x) + \cos^2 (x) = 1
                $$
                $$
                    \tan^2 (x) + 1 = \sec^2 (x)
                $$
                $$
                    1 + \cot^2 (x) = \csc^2 (x)
                $$
            </div>
            <div class="mathsFormula">
                $$
                    \sin(x \pm y) = \sin(x) \cos(y) \pm \cos(x) \sin(y)
                $$
                $$
                    \cos(x \pm y) = \cos(x) \cos(y) \mp \sin(x) \sin(y)
                $$
            </div>
            <div class="mathsFormula">
                $$
                    \tan(x \pm y) = \frac{\tan(x) \pm \tan(y)}{1 \mp \tan(x) \tan(y)}
                $$
            </div>
            <div class="mathsFormula">
                $$
                    \sin(x) \pm \sin(y) = 2 \sin \Biggl(\frac{x \pm y}{2}\Biggr) \cos \Biggl(\frac{x \mp y}{2}\Biggr)
                $$
            </div>
            <div class="mathsFormula">
                $$
                    \cos(x) - \cos(y) = -2 \sin \Biggl(\frac{x + y}{2}\Biggr) \sin \Biggl(\frac{x - y}{2}\Biggr)
                $$
                $$
                    \cos(x) - \cos(y) = 2 \cos \Biggl(\frac{x + y}{2}\Biggr) \cos \Biggl(\frac{x - y}{2}\Biggr)
                $$
            </div>
            <div class="mathsFormula">
                $$
                    \sin(2x) = 2 \sin(x) \cos(x)
                $$
                $$
                    \cos(2x) = \cos^2 (x) - \sin^2 (x)
                $$
            </div>
            <div class="mathsFormula">
                $$
                    \sin^2 (x) = \frac{1}{2} - \frac{1}{2} \cos(2x)
                $$
                $$
                    \cos^2 (x) = \frac{1}{2} + \frac{1}{2} \cos(2x)
                $$
            </div>
            <p>
                Law of sines:
            </p>
            <div class="mathsFormula">
                $$
                    \frac{\sin(A)}{a} = \frac{\sin(B)}{b} = \frac{\sin(C)}{c}
                $$
            </div>
            <p>
                Law of cosines:
            </p>
            <div class="mathsFormula">
                $$
                    c^2 = a^2 +b^2 - 2ab \cdot \cos(C)
                $$
            </div>
            <p>
                Polar coordinates:
            </p>
            <div class="mathsFormula">
                $$
                    x = r \cos(\theta)
                $$
                $$
                    y = r \sin(\theta)
                $$
            </div>
            <p>
                Polar spherical:
            </p>
            <div class="mathsFormula">
                $$
                    x = \rho \sin(\phi) \cos(\theta)
                $$
                $$
                    y = \rho \sin(\phi) \sin(\theta)
                $$
                $$
                    z = \rho \cos(\phi)
                $$
            </div>
            <p>
                Hyperbolic functions:
            </p>
            <div class="mathsFormula">
                $$
                    \sinh(x) = \frac{e^x - e^{-x}}{2}
                $$
                $$
                    \cosh(x) = \frac{e^x + e^{-x}}{2}
                $$
                $$
                    \tanh(x) = \frac{\sinh(x)}{\cosh(x)} = \frac{e^x - e^{-x}}{e^x + e^{-x}}
                $$
            </div>
            <div class="mathsFormula">
                $$
                    \sinh^2 (x) - \cosh^2 (x) = 1
                $$
                $$
                    1 - \tanh^2 (x) = \sec^2(x)
                $$
                $$
                    \coth^2 - 1 = \text{csch}^2 (x)
                $$
            </div>
            <h2>Calculus I:</h2>
            <div class="mathsFormula">
                $$
                    \frac{df(x)}{dx} = \lim_{\Delta x \to 0} \frac {f(x + \Delta x) - f(x)}{\Delta x} = \lim_{x \to a} \frac{f(a) - f(x)}{a - x}
                $$
            </div>
            <div class="mathsFormula">
                $$
                    \frac{d(f \cdot g)}{dx} = f'(x)g(x) +f(x)g'(x)
                $$
                $$
                    \frac{d(f/g)}{dx} = \frac{f'(x)g(x) - f(x)g'(x)}{[g(x)]^2}
                $$
            </div>
            <p>
                Chain rule:
            </p>
            <div class="mathsFormula">
                $$
                    \frac{df(g(x))}{dx} = \frac{df(x)}{dx} \cdot \frac{dg(x)}{dx}
                $$
            </div>
            <p>
                Linear approximation:
            </p>
            <div class="mathsFormula">
                $$
                    f(x + \sigma) \approx f(x) +f'(x) \cdot \delta
                $$
            </div>
            <p>
                Parametric differentiation:
            </p>
            <div class="mathsFormula">
                $$
                    \frac{dy}{dx} = \frac{dy}{dt} ÷ \frac{dx}{dt}
                $$
            </div>
            <p>
                Heaviside function:
            </p>
            <div class="mathsFormula">
                $$
                    u_c (t) = \begin{cases} 0 \, if \, t \, < \, c\\1 \, if \, t \, ≥ \, c \end{cases}
                $$
            </div>
            <p>
                L'Hôpital's rule:
            </p>
            <div class="mathsFormula">
                $$
                    \lim_{x \to a} \frac{f(x)}{g(x)} = \lim_{x \to a} \frac{f'(x)}{g'(x)}
                $$
            </div>
            <div class="mathsFormula">
                <table>
                    <tbody>
                        <tr>
                            <td>$$x^n$$</td>
                            <td>$$nx^{n - 1}$$</td>
                        </tr>
                        <tr>
                            <td>$$\ln(x)$$</td>
                            <td>$$\frac{1}{x}$$</td>
                        </tr>
                        <tr>
                            <td>$$e^x$$</td> <td>$$e^x$$</td>
                        </tr>
                        <tr>
                            <td>$$\sin(x)$$</td> <td>$$\cos(x)$$</td>
                        </tr>
                        <tr>
                            <td>$$\cos(x)$$</td> <td>$$- \sin(x)$$</td>
                        </tr>
                        <tr>
                            <td>$$\tan(x)$$</td> <td>$$\sec^2(x)$$</td>
                        </tr>
                        <tr>
                            <td>$$\arcsin(x)$$</td> <td>$$\frac{1}{\sqrt{1 - x^2}}$$</td>
                        </tr>
                        <tr>
                            <td>$$\arccos(x)$$</td> <td>$$\frac{-1}{\sqrt{1 - x^2}}$$</td>
                        </tr>
                        <tr>
                            <td>$$\arctan(x)$$</td> <td>$$\frac{1}{\sqrt{1 + x^2}}$$</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mathsFormula">
                <table>
                    <tbody>
                        <tr>
                            <td>$$x^x$$</td> <td>$$x^x \ln(x) + x^x$$</td>
                        </tr>
                        <tr>
                            <td>$$\log_a(x)$$</td> <td>$$\frac{1}{x \cdot \ln(a)}$$</td>
                        </tr>
                        <tr>
                            <td>$$a^x$$</td> <td>$$a^x \cdot \ln(a)$$</td>
                        </tr>
                        <tr>
                            <td>$$\csc(x)$$</td> <td>$$- \csc(x) \cot(x)$$</td>
                        </tr>
                        <tr>
                            <td>$$\sec(x)$$</td> <td>$$\sec(x) \tan(x)$$</td>
                        </tr>
                        <tr>
                            <td>$$\cot(x)$$</td> <td>$$- \csc^2(x)$$</td>
                        </tr>
                        <tr>
                            <td>$$\text{arccsc}(x)$$</td> <td>$$\frac{-1}{\vert x \vert \sqrt{x^2 - 1}}$$</td>
                        </tr>
                        <tr>
                            <td>$$\text{arcsec}(x)$$</td> <td>$$\frac{1}{\vert x \vert \sqrt{x^2 - 1}}$$</td>
                        </tr>
                        <tr>
                            <td>$$\text{arccot}(x)$$</td> <td>$$\frac{-1}{1 + x^2}$$</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h2>Complex numbers:</h2>
            <div class="mathsFormula">
                $$
                    z = a + bi =r [\cos(\theta) + i \sin(\theta)]
                $$
            </div>
            <div class="mathsFormula">
                $$
                    \bar{z} = a - bi
                $$
                $$
                    \left\Vert z \right\Vert = \sqrt{a^2 + b^2}
                $$
            </div>
            <div class="mathsFormula">
                $$
                    \frac{z_1}{z_2} = \frac{z_1 \bar{z}_2}{{\left\Vert z \right\Vert}^2}
                $$
                $$
                    z_1 \cdot z_2 = r_1 r_2 [\cos(\theta_1 + \theta_2) + i \sin(\theta_1 + \theta_2)]
                $$
            </div>
            <p>
                Euler's identity:
            </p>
            <div class="mathsFormula">
                $$
                    e^{i\theta} = \cos(\theta) + i \sin(\theta)
                $$
            </div>
            <h2>Sequences and Series:</h2>
            <p>
                Arithmetic sequence:
            </p>
            <div class="mathsFormula">
                $$
                    a_n = a + (n - 1)d
                $$
                $$
                    \sum_{i = 1}^n a_i = \frac{n(2a + (n-1)d)}{2}
                $$
            </div>
            <p>
                Geometric sequence:
            </p>
            <div class="mathsFormula">
                $$
                    b_n = b \cdot r^{n - 1}
                $$
                $$
                    \sum_{i = 1}^n b_i = \frac{b(1 - r^n)}{1 - r}
                $$
                $$
                    \sum_{i = 1}^\infty b_i = \frac{b_1}{1 - r} \, for \, - 1 < r < 1
                $$
            </div>
            <p>
                Binomial theorem:
            </p>
            <div class="mathsFormula">
                $$
                    (x + a)^n = \sum_{k = 0}^n \binom{n}{k} x^k a^{n - k}
                $$
            </div>
            <p>
                Taylor series:
            </p>
            <div class="mathsFormula">
                $$
                    f(x) = \sum_{n = 0}^\infty \frac{f^n (a)}{n!} (x - a)^n
                $$
                $$
                    f^n : n_{th} \, derivative \, of \, f
                $$
            </div>
            <p>
                Power series:
            </p>
            <div class="mathsFormula">
                $$
                    f(x) = \sum_{n = 1}^\infty a_n (x - c)^n
                $$
            </div>
            <p>
                Ratio test:
            </p>
            <div class="mathsFormula">
                $$
                    \sum_{n = 1}^\infty A_n \, converges \, if \, \lambda = \lim_{n \to \infty} \left\lvert \frac{A_{n+1}}{A_n} \right\rvert < 1
                $$
            </div>
            <p>
                Radius of convergence:
            </p>
            <div class="mathsFormula">
                $$
                    \rho = \frac{1}{\lambda}
                $$
            </div>
            <p>
                Permutations:
            </p>
            <div class="mathsFormula">
                $$
                    nPr = \frac{n!}{(n - r)!}
                $$
            </div>
            <p>
                Combinations:
            </p>
            <div class="mathsFormula">
                $$
                    nCr = \frac{n!}{r!(n - r)!}
                $$
            </div>
            <div class="mathsFormula">
                $$\sum_{k = 1}^n k = \frac{n(n + 1)}{2}$$
                $$\sum_{k = 1}^n k^2 = \frac{n(n + 1)(n + 2)}{6}$$
                $$\sum_{k = 1}^n k^3 = \frac{n^2(n + 1)^2}{4}$$
            </div>
            <h2>Calculus II</h2>
            <div class="mathsFormula">
                $$
                    \int_{a}^b f(x)dx = \lim_{n \to \infty} \sum_{i = 1}^n f(a + i\Delta x) \Delta x = F(b) - F(a)
                $$
                $$
                    \Delta x = \frac{b - a}{n}
                $$
            </div>
            <div class="mathsFormula">
                $$
                    \int_{a}^x f(t)dt = F(x)
                $$
                $$
                    where \, F'(x) = f(x)
                $$
            </div>
            <p>
                    Substitution:
            </p>
            <div class="mathsFormula">
                $$
                    \int y(x) \cdot y'(x)dx = \int{u} \cdot du \, where \, u = y(x)
                $$
            </div>
            <p>
                Integration by parts:
            </p>
            <div class="mathsFormula">
                $$
                    \int u \cdot dv = uv - \int v \cdot du
                $$
            </div>
            <p>
                Partial fractions:
            </p>
            <div class="mathsFormula">
                $$
                    \frac{f(x)}{(x - a)(x - b)^2} = \frac{A}{x - a} + \frac{B}{x - b} + \frac{C}{(x - b)}^2
                $$
            </div>
            <p>
                Simpson's rule:
            </p>
            <div class="mathsFormula">
                $$
                    \int_{a}^b f(x)dx \approx \frac{b - a}{6} \Biggl( f(a) + 4f\biggl(\frac{a + b}{2}\biggr) + f(b)\Biggr)
                $$
            </div>
            <h3>Volume of revolution:</h3>
            <p>
                Discs:
            </p>
            <div class="mathsFormula">
                $$
                    \int_{a}^b A \cdot Th \
                $$
                $$
                    A = area
                $$
                $$
                    Th = thickness (dx \, or \, dy)
                $$
            </div>
            <p>
                Shells:
            </p>
            <div class="mathsFormula">
                $$
                    2\pi \int_{a}^b RH \cdot Th
                $$
                $$
                    R = radius
                $$
                $$
                    H = height
                $$
            </div>
            <p>
                Arc length:
            </p>
            <div class="mathsFormula">
                $$
                    L = \int_{a}^{b} \sqrt{1 + \biggl(\frac{dy}{dx}^2 \biggr) dx}
                $$

                or

                $$
                    \int_{t_1}^{t_2} \left\Vert \vec{r}(t) \right\Vert dt = \int_{t_1}^{t_2} \sqrt{\biggl(\frac{dx}{dt} \biggl)^2 + \biggl(\frac{dy}{dt}\biggr)^2} dt
                $$
            </div>
            <p>
                Surface area:
            </p>
            <div class="mathsFormula">
                $$
                    A = 2 \pi \int_{a}^b R \sqrt{1 + \biggl(\frac{dy}{dx}\biggr)^2} dx
                $$
            </div>
            <p>
                Improper integrals:
            </p>
            <div class="mathsFormula">
                $$
                    \int_{a}^{\infty} f(t)dt = \lim_{b \to \infty} \int_{a}^b f(t)dt
                $$
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>$$\int x^n dx$$</td>
                        <td>$$\frac{x^{n - 1}}{n + 1} + C$$</td>
                    </tr>
                    <tr>
                        <td>$$\int e^x dx$$</td>
                        <td>$$e^x + C$$</td>
                    </tr>
                    <tr>
                        <td>$$\int \sin(x) dx$$</td>
                        <td>$$- \cos(x) + C$$</td>
                    </tr>
                    <tr>
                        <td>$$\int \cos(x) dx$$</td>
                        <td>$$\sin(x) + C$$</td>
                    </tr>
                    <tr>
                        <td>$$\int \tan(x) dx$$</td>
                        <td>$$\ln{\lvert \sec(x) \rvert} + C$$</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <tbody>
                    <tr>
                        <td>$$\int \frac{1}{x} dx$$</td>
                        <td>$$\ln \lvert x \rvert + C$$</td>
                    </tr>
                    <tr>
                        <td>$$\int a^x dx$$</td>
                        <td>$$\frac{a^x}{\ln(a)} + C$$</td>
                    </tr>
                    <tr>
                        <td>$$\int \csc (x)dx$$</td>
                        <td>$$\ln \lvert \csc(x) - \cot(x) \rvert + C$$</td>
                    </tr>
                    <tr>
                        <td>$$\int \sec(x) dx$$</td>
                        <td>$$\ln \lvert \sec(x) + \tan(x) \rvert + C$$</td>
                    </tr>
                    <tr>
                        <td>$$\int \cot(x)dx$$</td>
                        <td>$$\ln \lvert \sin(x) \rvert + C$$</td>
                    </tr>
                </tbody>
            </table>
            <h2>Statistics</h2>
            <p>
                Gaussian distribution:
            </p>
            <div class="mathsFormula">
                $$
                    f(x, \bar{x}, \sigma) = \frac{1}{\sigma \sqrt{2 \pi}} \cdot e \biggl(\frac{-(x - \bar{x})^2}{2 \sigma^2}\biggr) \, where \, \bar{x} \, is \, the \, mean.
                $$
            </div>
            <p>
                Standard deviation:
            </p>
            <div class="mathsFormula">
                $$
                    \sigma = \sqrt{\frac{1}{N} \sum_{i}^N (x - \bar{x})^2}
                $$
            </div>
            <p>
                Variance:
            </p>
            <div class="mathsFormula">
                $$
                    var(x) = \sigma^2
                $$
            </div>
            <p>
                Binomial distribution:
            </p>
            <div class="mathsFormula">
                $$
                    B(k, \, n, \, p) = \binom{n}{k} p^k (1 - p)^{n - k}
                $$
            </div>

            <p>
                Poisson distribution:
            </p>
            <div class="mathsFormula">
                $$
                    P(k, \lambda) = \frac{\lambda^k}{k!} e^{-\lambda}
                $$
            </div>
            <p>
                Gamma function:
            </p>
            <div class="mathsFormula">
                $$
                    \Gamma (t) = (t - 1)! = \int_{0}^{\infty} x^{t - 1} e^{-x} dx
                $$
            </div>
            <h3>Error propagation:</h3>
            <p>
                Add/Subtract:
            </p>
            <div class="mathsFormula">
                $$
                    e_{total} = \sqrt{e_A^2 + e_B^2}
                $$
            </div>
            <p>
                Multiply/divide:
            </p>
            <div class="mathsFormula">
                $$
                    \text{%}e_{total} = \sqrt{\biggl(\frac{e_A}{A}\biggr)^2 + \biggl(\frac{e_B}{B}\biggr)^2}
                $$
            </div>
            <p>
                Functions:
            </p>
            <div class="mathsFormula">
                $$
                    \Delta y = \frac{df(x)}{dx} \Delta x  
                $$
            </div>
            <h2>Linear Algebra:</h2>
            <p>
                Norm:
            </p>
            <div class="mathsFormula">
                $$
                    \left\lVert \vec{v} \right\rVert = \sqrt{x^2 + y^2 + z^2}
                $$
            </div>
            <p>
                Unit vector:
            </p>
            <div class="mathsFormula">
                $$
                    \vec{u} = \frac{1}{\left\lVert \vec{v} \right\rVert} \cdot \vec{v}
                $$
            </div>
            <p>
                Dot product:
            </p>
            <div class="mathsFormula">
                $$
                    \vec{u} \cdot \vec{v} = {x_1} {x_2} + {y_1} {y_2} + {z_1} {z_2} = \left\lVert \vec{u} \right\rVert \cdot \left\lVert \vec{v} \right\rVert \cdot \cos(\theta)
                $$
            </div>
            <p>
                Inner product:
            </p>
            <div class="mathsFormula">
                $$
                    \langle A | A \rangle = \begin{bmatrix} \overline{a_1} & \overline{a_2} \end{bmatrix} \left[\begin{array}{c} a_1\\a_2\end{array}\right] = \left\Vert{a_1}^2 \right\Vert + \left\Vert{a_2}^2\right\Vert
                $$
            </div>
            <p>
                Cross product:
            </p>
            <div class="mathsFormula">
                $$
                    \displaystyle \vec{u} \times \vec{v} = [u_2 v_3 - u_3 v_2, \, u_3 v_1 - u_1 v_3, \, u_1 v_2 - u_2 v_1]
                $$
                $$
                    = \Biggl[ det \left[ \begin{array}{cc} {u_2} & {u_3}\\ {v_2} & {v_3}\end{array}\right] , - det \left[ \begin{array}{cc} {u_1} & {u_3}\\ {v_1} & {v_3}\end{array}\right] , det \left[ \begin{array}{cc} {u_1} & {u_2}\\ {v_1} & {v_2}\end{array}\right] \Biggr] = det \left[\begin{array}{ccc} \hat{i} & \hat{j} & \hat{k}\\{u_1} & {u_2} & {u_3}\\{v_1} & {v_2} & {v_3} \end{array}\right]
                $$
                $$
                    \left\Vert \vec{u} \times \vec{v} \right\Vert = \left\Vert\vec{u} \right\Vert \cdot \left\Vert \vec{v} \right\Vert \cdot sin(\theta)
                $$
            </div>
            <p>
                Projections:
            </p>
            <div class="mathsFormula">
                $$
                    proj_{\vec{b}} \vec{a} = \biggl( \frac{\vec{a} \cdot \vec{b}}{\left\Vert \vec{b} \right\Vert ^2} \biggr) \vec {b}
                $$
                $$
                    \left\Vert proj_{\vec{b}} \vec{a} \right\Vert = \frac{\vec{a} \cdot \vec{b}}{\left\Vert \vec{b} \right\Vert}
                $$
                $$
                    perp_{\vec{b}} \vec{a} = \vec{a} - proj_{b}^{a}
                $$
                $$
                    refl_{\vec{l}} \vec{x} = 2 \cdot proj_{\vec{l}}{\vec{x}} - \vec{x}
                $$
            </div>
            <p>
                Rotation matrix:
            </p>
            <div class="mathsFormula">
                $$
                    \left[ \begin{array}{cc} {\cos(\theta)} & {-\sin(\theta)}\\ {\sin{\theta}} & {\cos(\theta)}\end{array}\right]
                $$
            </div>
            <p>
                Scalar triple product:
            </p>
            <div class="mathsFormula">
                $$
                    \vec{u} \cdot (\vec{v} \times \vec{w}) = det \left[\begin{array}{ccc} {u_1} & {u_2} & {u_3}\\ {v_1} & {v_2} & {v_3}\\ {w_1} & {w_2} & {w_3} \end{array}\right]
                $$
            </div>
            <p>
                Lines:
            </p>
            <div class="mathsFormula">
                $$
                    \left[ \begin{array}{c} x \\ y \\ z \end{array}\right] = \left[ \begin{array}{c} {x_0} \\ {y_0} \\ {z_0} \end{array}\right] + t \left[ \begin{array}{c} a \\ b \\ c \end{array}\right]
                $$
                $$
                    \frac{x - x_0}{a} = \frac{y - y_0}{b} = \frac{z - z_0}{c}
                $$
            </div>
            <p>
                    Planes:
            </p>
            <div class="mathsFormula">
                $$
                    ax + by + cz + d = 0
                $$
                $$
                    \left[ \begin{array}{c} x \\ y \\ z \end{array}\right] = \left[ \begin{array}{c} {x_0} \\ {y_0} \\ {z_0} \end{array}\right] + t \left[ \begin{array}{c} {u_1} \\ {u_2} \\ {u_3} \end{array}\right] + s \left[ \begin{array}{c} {v_1} \\ {v_2} \\ {v_3} \end{array}\right]
                $$
            </div>
            <p>
                Matrix multiplication:
            </p>
            <div class="mathsFormula smallMathsFormulas">
                $$
                    A_{m \times n} \cdot B_{n \times p} = C{m \times p} = \begin{bmatrix} {a_11} & \cdots & {a_1n} \\ {\vdots} & {\ddots} & {\vdots} \\a_{m1} & \cdots & a_{mn} \\ \end{bmatrix} \cdot \begin{bmatrix} {b_11} & \cdots & {b_1p} \\ \vdots & \ddots & \vdots \\ {b_n1} & \cdots & {b_np} \end{bmatrix} = \begin{bmatrix} \sum_{j = 1}^n a_{1j} b_{j1} & \cdots & \sum_{j = 1}^n a_{1j} b_{jp} \\ \vdots & \ddots & \vdots \\\sum_{j = 1}^n a_{mj} b_{j1} & \cdots & \sum_{j = 1}^n a_{mj} b_{jp} \\ \end{bmatrix}
                $$
            </div>
            <p>
                Cofactor:
            </p>
            <div class="mathsFormula">
                $$
                    c_{ij} = (-1)^{i + j} \cdot det(M_{ij})
                $$
                $$
                    c_{m \times n} = \begin{bmatrix} {c_{11}} & {c_{12}} & \cdots \\ {c_{21}} & {C_{22}} & {\cdots} \\ \cdots & \cdots & \cdots \\ \end{bmatrix}
                $$
            </div>
            <p>
                Determinant:
            </p>
            <div class="mathsFormula">
                $$
                    det(A_{m \times n}) = \sum_{j = 1}^n M_{1j} \cdot c_{1j}
                $$
                $$
                    det \begin{bmatrix} a & b \\ c & d \end{bmatrix} = ad - bc
                $$
                $$
                    A-{m \times n} =\begin{bmatrix} {a_11} & \cdots & {a_1n} \\ {\vdots} & {\ddots} & {\vdots} \\a_{m1} & \cdots & a_{mn} \\ \end{bmatrix}
                $$
            </div>
            <p>
                Inverse Matrices:
            </p>
            <div class="mathsFormula">
                $$
                    [A \vert I] \sim [I \vert A^{-1}]
                $$
            </div>
            <div class="note">
                Where I is the identity of matrix.
            </div>
            <div class="mathsFormula">
                $$
                    A^{-1} = \frac{1}{det(A)} adj(A) 
                $$
            </div>
            <div class="note">
                Where adj(A) = C<sup>T</sup>
            </div>
            <p>
                Transpose:
            </p>
            <div class="mathsFormula">
                $$
                    A = [a_{ij}]_{m \times n} \to A^T = [a_{ji}]_{n \times m}
                $$
                $$
                    (AB)^T = B^T A^T
                $$
            </div>
            <p>
                Trace:
            </p>
            <div class="mathsFormula">
                $$
                    tr(A_{n \times n}) = \sum_{k = 1}^n a_{kk}
                $$
            </div>
            <p>
                Subspace:
            </p>
            <div class="mathsFormula">
                $$
                    S(\vec{v}_1 + \vec{v}_2 ) \in S \, and \, S(k \vec{v}) \in S
                $$
            </div>
            <p>
                Null space:
            </p>
            <div class="mathsFormula">
                $$
                    \{ \vec{v} \in \mathbb{R}^n | L \vec{v} = \vec{0} \}
                $$
            </div>
            <p>
                Column space (range):
            </p>
            <div class="mathsFormula">
                $$
                    \{ L \vec{v} | \vec{v} = \mathbb{R}^n \}
                $$
                $$
                    dim(range(A)) = rank(A)
                $$
            </div>
            <p>
                Rank theorem:
            </p>
            <div class="mathsFormula">
                $$
                    rank(A_{m \times n}) + nullity(A_{m \times n} = n
                $$
            </div>
            <p>
                Cramer's rule:
            </p>
            <div class="mathsFormula">
                $$
                    given \, AX = B \, x_n = \frac{det(A_n)}{det(A)} \, where \, A_n \, has \, n \, replaced \, by \, B
                $$
            </div>
            <p>
                Characteristic polynomial:
            </p>
            <div class="mathsFormula">
                $$
                    p_A (t) = det(tl_{n \times n - A_{n \times n}}) = (t - a_11)(t - a_{22}) (t - a_{33}) \ldots
                $$
            </div>
            <p>
                Eigenvalues:
            </p>
            <div class="mathsFormula">
                $$
                    A_{n \times n} \cdot \vec{v} = \lambda \vec{v} \, det(A_{n \times n} - \lambda l_{n \times n} = 0 \, p_{A}(\lambda) = 0
                $$
            </div>
            <p>
                Diagonalisation:
            </p>
            <div class="mathsFormula">
                $$
                    D = P^{-1} AP \, where \, P = [v_1, v_2 \ldots v_n]
                $$
                $$
                    D = \begin{bmatrix} \lambda_1 & 0 & 0 \\ 0 & \ddots & 0 \\ 0 & 0 & \lambda_n \end{bmatrix} \begin{matrix} v_1 \ldots v_n \, are \, the \, eigenvectors \, of \, A \\ \lambda_1 \ldots \lambda_n \, are \, the \, corresponding \, eigenvalues \end{matrix}
                $$
            </div>

            <h3>Calculus III:</h3>
            <div class="mathsFormula">
                $$
                    grad(f(x, \, y, \, z,)) = \vec{\nabla} f = \begin{bmatrix} \frac{\delta f}{\delta x} & \frac{\delta f}{\delta y} & \frac{\delta f}{\delta z} \end{bmatrix}
                $$
                $$
                    div(\vec{F}) = \vec{\nabla} \cdot \vec{F} = \begin{bmatrix} \frac{\delta P}{\delta x} & \frac{\delta Q}{\delta y} & \frac{\delta R}{\delta z} \end{bmatrix} \, where \, \vec{F} = [P(x, \, y, \, z), \, Q(x, \, y, \, z), R(x, \, y, \, z)]
                $$
                $$
                    curl(\vec{F}) = \vec{\nabla} \times \vec{F} = \begin{bmatrix} \frac{\delta R}{\delta y} - \frac{\delta Q}{\delta z} \, , \, \frac{\delta P}{\delta z} - \frac{\delta R}{\delta x} \, , \, \frac{\delta Q}{\delta x} - \frac{\delta P}{\delta y} \end{bmatrix} = det \begin{pmatrix} \begin{bmatrix} \hat{i} & \hat{j} & \hat{k} \\ \frac{\delta}{\delta x} & \frac{\delta}{\delta y} & \frac{\delta}{\delta z} \\ P & Q & R \end{bmatrix} \end{pmatrix}
                $$
            </div>
            <p>
                Laplacian:
            </p>
            <div class="mathsFormula">
                $$
                    \nabla^2 f = \vec{\nabla} \cdot \vec{\nabla}f = \frac{\delta^2 f}{\delta x^2} +\frac{\delta^2 f}{\delta y^2} + \frac{\delta^2 f}{\delta z^2}
                $$
            </div>
            <p>
                Partial chain rule:
            </p>
            <div class="mathsFormula">
                $$
                    \frac{df}{dt} = \frac{\delta f}{dx} \, \frac{dx}{dt} + \frac{df}{dy} \, \frac{dy}{dt} for \, f(x(t), \ y(t))
                $$
            </div>
            <p>
                Directional derivative:
            </p>
            <div class="mathsFormula">
                $$
                    D_{\vec{u}} f(x_0 , y_0) = \vec{\nabla} f (x_0 , y_0) \cdot \vec{u}
                $$
            </div>
            <div class="note">
                Where \(\vec{u}\) is a unit vector.
            </div>
            <p>
                Coordinate transformation:
            </p>
            <div class="mathsFormula">
                $$
                    \iint f(x, \, y) dxdy = \iint f(x(u, \, v), y(u, \, v)) \lvert \frac{\delta (x, \, y)}{\delta (u, \, v)} dudv
                $$
            </div>
            <p>
                Jacobian matrix:
            </p>
            <div class="mathsFormula">
                $$
                J(F) = \begin{bmatrix} \frac{\delta F_1}{\delta x_1} & \cdots & \frac{\delta F_1}{\delta x_n} \\ \vdots & \ddots & \vdots \\ \frac{\delta F_m}{\delta x_1} & \cdots & \frac{\delta F_m}{\delta x_n} \end{bmatrix}
                $$
            </div>
            <p>
                Hessian matrix (2D):
            </p>
            <div class="mathsFormula">
                $$
                    H(f) = \begin{bmatrix} f_{xx} & f_{xy} \\ f_{yx} & f_{yy} \end{bmatrix} \, where \, f_{xx} = \frac{\delta^2 f}{\delta x^2}
                $$
            </div>
            <p>
                Relative extremes:
            </p>
            <div class="mathsFormula">
                $$
                    at \vec{\nabla} f = 0 \, \begin{cases} max: \, det(H(f)) \, > \, 0 \, and \, f_{xx} \, < 0 \\ min: \, det(H(f)) \, > \, 0 \, and f_{xx} \, > \, 0 \\ saddle: \, det(H(f)) \, < \, 0 \end{cases}
                $$
            </div>
            <p>
                Lagrange multipliers:
            </p>
            <div class="mathsFormula">
                $$
                    \vec{\nabla} f = \lambda \cdot \vec{nabla} g \, for \, constraint \, g(x, \, y, \, z) = k
                $$
            </div>
            <p>
                Polar integrand:
            </p>
            <div class="mathsFormula">
                $$
                    dA = rdrd\theta
                $$
            </div>
            <p>
                Spherical integrand:
            </p>
            <div class="mathsFormula">
                $$
                    dV = \rho^2 sin(\phi) dpd \phi d \theta
                $$
            </div>
            <p>
                Scalar line integral:
            </p>
            <div class="mathsFormula">
                $$
                    \int_c f(x, \, y, \, z)ds = \int_a^b f(\vec{r}(t)) \lVert \vec{r}' (t) \rVert dt
                $$
            </div>
            <p>
                Vector line integral:
            </p>
            <div class="mathsFormula">
                $$
                    \int_c \vec{F} (x, \, y, \, z)ds = \int_a^b \vec{F}(\vec{r}(t)) \cdot \vec{r}' (t)dt
                $$
            </div>
            <p>
                Fundamental theorem of line integrals:
            </p>
            <div class="mathsFormula">
                $$
                    \int_a^b \vec{F} \cdot d \vec{r} = f(\vec{r}(b)) - f(\vec{r}(a)) \, where \, \vec{F} = \vec{\nabla} f
                $$
            </div>
            <p>
                Scalar surface integral:
            </p>
            <div class="mathsFormula">
                $$
                    \iint_{D_{uv}} f(\vec{r}(u, \, v)) \cdot \left\lvert \frac{d \vec{r}}{du} \times \frac{d \vec{r}}{dv} \right\rvert dudv
                $$
            </div>
            <p>
                Vector surface integral:
            </p>
            <div class="mathsFormula">
                $$
                    \iint_{D_{uv}} \vec{F} \cdot \hat{n} dA = \iint_{D_{uv}} \vec{F} \cdot \left(\frac{d \vec{r}}{du} \times \frac{d \vec{r}}{dv} \right) dudv
                $$
            </div>
            <p>
                Mass:
            </p>
            <div class="mathsFormula">
                $$
                    m = \iiint_E \rho dv
                $$
            </div>
            <p>
                Moment:
            </p>
            <div class="mathsFormula">
                $$
                    M_x = \iiint_E \rho r^2 dv
                $$
            </div>
            <p>
                Green's theorem:
            </p>
            <div class="mathsFormula">
                $$
                    \oint_{\delta D} \vec{F} \cdot d \vec{r} = \iint_D \left(\frac{\delta Q}{\delta x} - \frac{\delta P}{\delta y} \right)dA
                $$
            </div>
            <p>
                Stokes theorem:
            </p>
            <div class="mathsFormula">
                $$
                    \oint_{\delta D} \vec{F} \cdot d \vec{r} = \iint_D (\vec{\nabla} \times \vec{F}) \cdot \hat{n} dA
                $$
            </div>
            <p>
                Divergence theorem:
            </p>
            <div class="mathsFormula">
                $$
                    \iiint_E \vec{\nabla} \vec{F} \cdot dV = \iint_{\delta E} \vec{F} \cdot \hat{n} dS
                $$
            </div>

            <h2>Differential Equations:</h2>
            <p>
                Integration Factor:
            </p>
            <div class="mathsFormula">
                $$
                    \mu (t) = e^{\int p(t)dt} \, for \, y'(t) + p(t)y(t) = g(t)
                $$
                $$
                    y(t) = \frac{1}{\mu (t)} (\int g(t) \mu (t)dt)
                $$
            </div>
            <p>
                Exact equations:
            </p>
            <div class="mathsFormula">
                $$
                    M(x, \, y) + N(x, \, y) \frac{dy}{dx} = 0 \, \frac{\delta M}{\delta y} = \frac{\delta N}{\delta x}
                $$
                $$
                    \psi (x, \, y) = c \, where \, \frac{\delta \psi}{\delta x} = M \, \frac{\delta \psi}{\delta y} = N
                $$
            </div>
            <p>
                Compound interest: 
            </p>
            <div class="mathsFormula">
                $$
                    S(t) = S_0 \left(1 + \frac{r}{m} \right)^{mt} \, where \, interest \, is \, compounded \, m \, times.
                $$
                $$
                    S_0 e^{rt} + \frac{k}{r} (e^{rt} - 1) \, for \, withdrawls/deposits \, at \, rate \, k
                $$
            </div>
            <p>
                    Euler's method:
            </p>
            <div class="mathsFormula">
                $$
                    y_{n + 1} = y_{n} + f(t_n , \, y_n) \Delta (t) \, where \, f(t, \, y) = \frac{dy}{dt}
                $$
            </div>
            <p>
                Characteristic equation:
            </p>
            <div class="mathsFormula">
                $$
                    a_1 r^n + a_2 r^{n - 1} + \ldots + a_n r + a_{n + 1} = 0
                $$
            </div>
            <p>
                Singular roots:
            </p>
            <div class="mathsFormula">
                $$
                    y_n = e^{r_n t}
                $$
            </div>
            <p>
                Repeated roots:
            </p>
            <div class="mathsFormula">
                $$
                    y_n = t^{n - 1} e^{rt}
                $$
            </div>
            <div class="note">
                For root r repeated n times
            </div>
            <p>
                Complex roots:
            </p>
            <div class="mathsFormula">
                $$
                    y_1 e^{(a + bi)t} = e^{at} \cos(t)
                $$
                $$
                    y_2 = e^{(a - bi)t} = e^{at} \sin{t}
                $$
            </div>
            <p>
                Wronskian:
            </p>
            <div class="mathsFormula">
                $$
                    W(t) = det \begin{bmatrix} f_1 & \cdots & f_n \\ \vdots & \ddots & \vdots \\ f_1^{(n)} & \cdots & f_n^{(n)} \end{bmatrix} \, where \, f^{(n)} \, is \, the \, n^{th} \, derivative \, of \, f
                $$
                $$
                    W(t) = f(t)g'(t) - f'(t)g(t)
                $$
            </div>
            <p>
                Reduction of order:
            </p>
            <div class="mathsFormula">
                $$
                    for \, y'' + p(t)y' + q(t)y) = 0 \, replace \, y_2(t) \, by \, v(t)y_1 (t)
                $$
            </div>
            <div class="note">
                Where y<sub>2</sub>(t) is a known solution of DE.
            </div>
            <p>
                Non-homogeneous equations:
            </p>
            <div class="mathsFormula">
                $$
                    solution \, y(t) = c_1 y_1 + c_2 y_2 + \ldots + c_n y_n + Y(t)
                $$
                $$
                    for k_1 y^{(n)} + \ldots + k_{n - 1} y' + k_n y = g(t) where \, Y(t) \, is \, related \, to \, g(t)
                $$
            </div>
            <p>
                Variation of parameters:
            </p>
            <div class="mathsFormula">
                $$
                    Y(t) = -y_1 \int \frac{y_2 (t) g(t)}{W(t)} + y_2 \int \frac{y_1 (t) g(t)}{W(t)}
                $$
            </div>
            <p>
                Euler's equation:
            </p>
            <div class="mathsFormula">
                $$
                    ax^2y'' + bxy' + cy = 0
                $$
            </div>
            <p>
                Indicial equation:
            </p>
            <div class="mathsFormula">
                $$
                    ar(r - 1) + br + c = 0
                $$
            </div>
            <p>
                Singular roots:
            </p>
            <div class="mathsFormula">
                $$
                    y_1 = x^{r_1} \, y_2 = x^{r_2}
                $$
            </div>
            <p>
                    Repeated roots:
            </p>
            <div class="mathsFormula">
                $$
                    y_2 = x^{r_2} \ln(x)
                $$
            </div>
            <p>
                Complex roots:
            </p>
            <div class="mathsFormula">
                $$
                    y_1 = x^{a + bi} = x^a \cos(b \cdot \ln(x)) \, y_2 = x^{a - bi} = x^a \sin(b \cdot \ln(x))
                $$
            </div>
            <p>
                Series solutions:
            </p>
            <div class="mathsFormula">
                $$
                    solution \, y(x) \sum_{n = 0}^\infty a_n (x - x_0)^n
                $$
            </div>
            <p>
                Regular singular points:
            </p>
            <div class="mathsFormula">
                $$
                    for \, y'' + p(x_0)y' + q(x_0)y = 0
                $$
                $$
                    \lim_{x \to x_0} (x - x_0) p(x) \, and \, \lim_{x \to x_0} (x - x_0)2 q(x) \, are \, finite.
                $$
                $$
                    solution \, y(x) = x^r \sum_{n = 0}^{infty} a_n x^n
                $$
            </div>
            <p>
                Convolution integral:
            </p>
            <div class="mathsFormula">
                $$
                    f(t) * g(t) = \int_0^t f(t - \tau)g(\tau)d \tau
                $$
            </div>
            <p>
                Laplace transform:
            </p>
            <div class="mathsFormula">
                $$
                    \mathcal{L} \{ f(t) \} = \int_0^{\infty} e^{-st} f(t)dt
                $$
                $$
                    \mathcal{L} \{ f^{(n)} (t) \} = s^n \cdot \mathcal{L} \{ f(t) \} - \sum_{k = 0}^{n - 1} s^{n - k - 1} f^{(k)} (0)
                $$
                $$
                    \mathcal{L} \{ e^{(ct)} f(t) \}_{(s)} = \mathcal{L} \{ f(t) \}_{(s - c)}
                $$
                $$
                    \mathcal{L} \{ f(kt) \}_{(s)} = \frac{1}{k} \mathcal{L} \{ f(t) \}_{(s/c)}
                $$
                $$
                    \mathcal{L} \{ f(t) * g(t) \} = \mathcal{L} \{ f(t) \} \cdot \mathcal{L} \{ g(t) \}
                $$
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>$$\mathcal{L}\{ 1 \}$$</td>
                        <td>$$\frac{1}{s}$$</td>
                    </tr>
                    <tr>
                        <td>$$\mathcal{L} \{ t^n \}$$</td>
                        <td>$$\frac{1}{s^{n + 1}} \Gamma (n + 1) = \frac{n!}{s^{n + 1}}$$</td>
                    </tr>
                    <tr>
                        <td>$$\mathcal{L} \{ \sin{(at)} \}$$</td>
                        <td>$$\frac{a}{s^2 + a^2}$$</td>
                    </tr>
                    <tr>
                        <td>$$\mathcal{L} \{ \sinh(at)\}$$</td>
                        <td>$$\frac{a}{s^2 - a^2}$$</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>$$\mathcal{L} \{ e^{at} \}$$</td>
                        <td>$$\frac{1}{s - a}$$</td>
                    </tr>
                    <tr>
                        <td>$$\mathcal{L} \{ u_c (t) \}$$</td>
                        <td>$$\frac{e^{-cs}}{s}$$</td>
                    </tr>
                    <tr>
                        <td>$$\mathcal{L} \{ \cos(at) \}$$</td>
                        <td>$$\frac{s}{s^2 + a^2}$$</td>
                    </tr>
                    <tr>
                        <td>$$\mathcal{L} \{ \cosh(at) \}$$</td>
                        <td>$$\frac{s}{s^2 - a^2}$$</td>
                    </tr>
                </tbody>
            </table>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
