<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Bacterial origins of replication</h1>

            <p>
                This page serves as a reference point for bacterial origins of replication. These are points in bacterial chromosomes/plasmids where DNA replication starts from. These points are of interest we must track the origin of replication (ori) so we may build compatible plasmids for use in bacterial transformation/genetic engineering.
            </p>

            <h2><em>E. coli</em></h2>
            <p>
                Common origins of replication (ori) used in <em>E. coli</em>. Never put two plasmids with the same origin of replication in the same cell. Check compability; careful that two different oris are not just a few nucleotides different.
            </p>
            <p>
                If you put two plasmids with the same replication mechanism, they will compete with each other and one will eventually be lost.
            </p>
            <ol>
                <li>
                    pMB1: 100 - 200 copies.
                </li>
                <li>
                    pBR322: 50 copies.
                </li>
                <li>
                    pSC1: 10 copies.
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
            </ol>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
