<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Codon Table</h1>

            <p>
                A codon is a sequence of three nucleotides which correspond to a specific amino acid or termination signal. The table below shows the codons for the 20 standard amino acids, as well as the start and stop codons.
            </p>

            <figure>
                <img src="/references/documents/cheat-sheets_codon-table/codons.png">
                <figcaption>
                    Codons table. See the amino acids table for more information: <a href="/references/tables/displayEntry.php?entry=aminoAcids">amino acids</a>.
                </figcaption>
            </figure>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
