<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ./templates/includes/head.ejs %>
</head>

<body>
    <%- include ./templates/includes/info-bar.ejs %>
    <%- include ./templates/includes/header.ejs %>

    <%- include ./templates/includes/nav.ejs %>

    <div class="content-wrapper">

    </div>
    <!-- hidden element informs page this is -->
    <input hidden type="text" id="siteSection" value="user-account"></div>
    <%- include ./templates/includes/footer.ejs %>
</body>

</html>