<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>

    <!-- this gets injected in ts script request definition -->
    <!-- <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Chemistry Dictionary</h1>
            <p>
                Welcome to this library of definitions for chemistry; from the molecular to the macroscopic. This dictionary should serve only as a quick reference and offers short explicative definitions as refreshers or introductions to core concepts in chemistry. Please do not hesitate to signal any error or suggestion you may have, feel free to use any of the available contact forms on the site with the subject definition and the word you are referencing.
            </p>
            <p>
                For the moment if you are arriving from a website search please simply use the command/control + f to quickly find and reference the desired definition. Hyperlinks are also activated between definitions and other pages on this website
            </p>

            <h2>Dictionary Directory</h2>

            <%- include ../templates/includes/dictionary-directory.ejs %>

            <ol id="dictionary-list">
                <!-- definitions are loaded dynamically from mongodb -->
            </ol>

        </article>
    </div>

    <input hidden type="text" id="dictionary" value="chemistry"></div>
    <%- include ../templates/includes/footer.ejs %>
</body>

</html>