<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
    content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>siRNA designer</h1>
            <p>
                Hello use this page for easy design of siRNA sequences. Please enter the following information:
            </p>
            <br>
            <ul>
                <li>
                    Target sequence
                    <ul>
                        <li>
                            Minimum 15 nucleotides, 5' &rarr; 3'
                        </li>
                    </ul>
                </li>
                <li>
                    Promoter sequence
                </li>
                <li>
                    Loop sequence
                </li>
            </ul>

            <style>
                .title {
                    font-family: 'Roboto', sans-serif;
                    margin: 0px;
                    text-align: center;
                    border: none;
                    padding-top: 0px;
                    padding-bottom: 20px;
                }

                .format_form {
                    width: 70%;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-bottom: 40px;
                    padding: 26px;

                    background: #FFFAFA;
                    border: 1px solid #DDD;
                    -webkit-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
                    -moz-box-shadow: 1px 1px 5px rgba(153, 153, 153, 0.2);
                    box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
                }

                .format_output {
                    width: 70%;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 26px;

                    background: #FFFAFA;
                    border: 1px solid #DDD;
                    -webkit-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
                    -moz-box-shadow: 1px 1px 5px rgba(153, 153, 153, 0.2);
                    box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
                }

                label {
                    font-family: 'Roboto', sans-serif;
                    display: block;
                    font-weight: bold;
                }

                input[type="text"] {
                    margin-bottom: 20px;
                    border: 2px solid #DDD;
                    border-radius: 5px;
                    padding: 0px 5 0 5;
                    font-size: 16px;
                    width: 100%;
                }

                input[type="text"][disabled] {
                    background-color: #BBB;
                }

                input[type="button"] {
                    color: black;
                    background-color: #2adb20;
                    margin-bottom: 20px;
                    padding: 8px;
                    font-size: 16px;
                    border: none;
                    border-radius: 3px;
                    width: 45%;
                    display: block;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                }

                input[type="button"]:hover {
                    background-color: #22b719;
                }
            </style>

            <div class="format_form">
                <h1 class="title">Input DNA Sequences</h1>

                <label for="promoter">Desired Promoter</label>
                <input type="text" id="promoter" />

                <label for="targetSeq">Target Sequence</label>
                <input type="text" id="targetSeq" />

                <label for="loopSeq">Loop Sequence</label>
                <input type="text" id="loopSeq" />

                <input type="button" id="format_targetSeq" value="Format">
            </div>

            <div class="format_output">
                <h1 class="title">Output RNA</h1>

                <label for="rna_promoter">RNA Promoter</label>
                <input type="text" id="rna_promoter" disabled />

                <label for="sensePass">Sense/Passenger</label>
                <input type="text" id="sensePass" disabled />

                <label for="rna_loopSeq">RNA Loop Sequence</label>
                <input type="text" id="rna_loopSeq" disabled />

                <label for="antisenseGuide">Antisense/Guide</label>
                <input type="text" id="antisenseGuide" disabled />
            </div>


            <script>
                // ATGCATGTCTAAGTA

                let button = document.getElementById('format_targetSeq');

                function reverseString(string) {
                    let array = string.split("");
                    return (array.reverse()).join("");
                }

                function dna2rna(string) {
                    let newString = "";

                    for (let i = 0; i < string.length; i++) {
                        if (string.charAt(i) == "T") {
                            newString += "U";
                        } else {
                            newString += string.charAt(i);
                        }
                    }

                    return newString;
                }

                function sense2antisense(string) {
                    let newString = "";

                    for (let i = 0; i < string.length; i++) {
                        if (string.charAt(i) == "A") {
                            newString += "U"
                        } else if (string.charAt(i) == "U") {
                            newString += "A"
                        }
                        else if (string.charAt(i) == "C") {
                            newString += "G"
                        }
                        else if (string.charAt(i) == "G") {
                            newString += "C"
                        } else {
                            newString += string.charAt(i);
                        }
                    }

                    return reverseString(newString);
                }

                button.addEventListener("click", function () {
                    let promoter = (document.getElementById('promoter').value).toUpperCase();
                    let targetSeq = (document.getElementById('targetSeq').value).toUpperCase();
                    let loopSeq = (document.getElementById('loopSeq').value).toUpperCase();

                    let rna_promoter = document.getElementById('rna_promoter');
                    let sensePass = document.getElementById('sensePass');
                    let rna_loopSeq = document.getElementById('rna_loopSeq');
                    let antisenseGuide = document.getElementById('antisenseGuide');

                    if (targetSeq.length < 15) {
                        return alert("Too short, please try again with sequences < 15 nt!");
                    }

                    rna_promoter.value = dna2rna(promoter);
                    sensePass.value = dna2rna(targetSeq);
                    rna_loopSeq.value = dna2rna(loopSeq);
                    antisenseGuide.value = sense2antisense(dna2rna(targetSeq));

                    document.getElementById("rna_promoter").removeAttribute('disabled');
                    document.getElementById("sensePass").removeAttribute('disabled');
                    document.getElementById("rna_loopSeq").removeAttribute('disabled');
                    document.getElementById("antisenseGuide").removeAttribute('disabled');
                });

                /*
                
                A U
                U A
                C G
                G C
                
                ATGCATGTCTAAGTA
                UACUUAGACAUGCAU
                UUCUUUGUCUUGCUU
                
                */
            </script>

            <!-- ATGCATGTCTAAGTA -->
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
