<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

<title>Introduction to Python</title>
<h1>Introduction to Python</h1>
<!-- UE102 Introduction to mathematics and computer science for biology -->
<div class="courseInfo">
    <div class="articleData">20 September 2019</div>
    <div class="articleData">Université Paris-Saclay</div>
    <!-- <div class="articleData">Maeva Veyssiere</div> -->
</div>

<script>
    metadata = {
        "name": "102_introPython",
        "author": "Dereck de Mézquita",
        "displayName": "Introduction to Python",
        "image": "/siteImages/allPngs/83.png",
        "date": {
            "year": "2019",
            "month": "09",
            "day": "20"
        },
        "slogan": "Numbers and loops.",
        "summary": "Python is an OS independant language, it allows us to write programmes and scripts. It is an interpreted language, not compiled like C++, Fortran etc. It can be used on any computer and has a variety of packages (libraries) which can be easily used.",
        "primaryTag": "Computer Science",
        "tags": [
            "Programming",
            "Maths",
            "Computer Science",
            "Engineering",
            "Biology",
            "Python"
        ],
        "likes": 0,
        "published": "Yes"
    },
</script>

<h2>Introduction</h2>
<p>
    Python is an OS independant language, it allows us to write programmes and scripts. It is an interpreted language, not compiled like C++, Fortran etc. It can be used on any computer and has a variety of packages (libraries) which can be easily used.
</p>
<p>
    Memory is not managed in Python, data structures can be easily managed.
</p>

<p>
    Python is the language and we now have to install the interpreter on the computer. Start by opening the shell and typing the following BASH command.
</p>
<p>
    I already had it installed so it shows the following:
</p>
<pre class="brush: bash">
    MacBook-Pro-de-Dereck:~ Dereck$ python
    Python 2.7.14 (v2.7.14:84471935ed, Sep 16 2017, 12:01:12) 
    [GCC 4.2.1 (Apple Inc. build 5666) (dot 3)] on darwin
    Type "help", "copyright", "credits" or "license" for more information.
    >>> quit
    Use quit() or Ctrl-D (i.e. EOF) to exit
    >>> quit()
    MacBook-Pro-de-Dereck:~ Dereck$ 
</pre>

<h2>Some basics</h2>
<h3>Floats and integers</h3>
<p>
    Integers are given by default, to get a float we have to give at least one number after the decimal in one of the elements of the operation to get back a float.
</p>
<pre class="brush: python">
    >>> 3/2
    1
    >>> 3.0/2
    1.5
    >>> 
</pre>



<script type="text/javascript">
    SyntaxHighlighter.all()
</script>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
