<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

<title>Introduction to machine learning with R</title>
<h1>Introduction to machine learning with R</h1>

<style>
    iframe {
        background: none;
        border: none;
        box-shadow: none;
    }
</style>

<div style="margin:0px;padding:0px; overflow: hidden;">
    <iframe src="/courses/documents/intro-ml-R/intro-ML-R/intro-ML-R.html" frameborder="0" onload="this.style.height=(this.contentWindow.document.body.scrollHeight+20)+'px';" width="100%" style="overflow: hidden;" scrolling="no"></iframe>
</div>


<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <li id="">
        <a target="_blank" href="http://faculty.marshall.usc.edu/gareth-james/">Gareth James: An Introduction to Statistical Learning</a>.
    </li>
</ol>



        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
