<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
    content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

<title>Favourite Animal: The Fox</title>

    <h1>Favourite Animal: The Fox</h1>
        <p>
            Found a <a aria-describedby="foot-label" href="#newFavAnimal">new favourite animal</a> today: the Red Fox.
        </p>
        <br>
        <figure>
            <video controls src="/blog/documents/newFavouriteAnimal/20181219_fox.mov" type="video/mp4"></video>
            <figcaption>Jumping Fox, very cute. Observe the jump.</figcaption>
        </figure>

        <ol class="foot-notes">
            <div class="foot-notes-head">
                Footnotes:
            </div>
            <li id="newFavAnimal">
                Does not invalidate previous favourite animal: the Octopus.
            </li>
        </ol>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
