<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Geometry puzzle: 1</h1>
            <p>
                Here is a fun problem. It is a geometrical problem, and the goal is to prove that the area of A is equal to the area
                of B.
            </p>
            <br>
            <figure class="invertImageColours">
                <img src="/blog/documents/20181124_geometry-puzzle-1/20181124_geometry-circles-area.svg" id="20181124_blog">
                <figcaption>Drawing of geometric problem.</figcaption>
            </figure>

            <p>
                The parameters of the problem are simple; the largest external curve is a quarter circle, the two inner curves are
                half circles, they are all considered perfect circles.
            </p>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
