
<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Tableaux d'histoire naturelle</h1>
            <p>
                Some posters I had since 2014, these posters date from the mid 1800s. They are on the anatomy of a variety of animals. These posters have been digitised by the University of Artois in France. Unfortuantely I had to part ways with them the 30th of September 2019, now in the possession of Julien Perochon.
            </p>
            <p>
                These posters have been digitised by the University of Artois in France: <a target="_blank" href="http://bibnum-bu.univ-artois.fr">Univ Artois: Bibliothèque patrimonial</a>
            </p>
            
            <figure>
                <img class="lazy" data-src="/blog/documents/20191005_tableaux-dhistoire-naturelle/histoireNaturelle-1.jpeg">
                <figcaption>
                    My personal copy of the anatomy of a Reptile, digitised in with an iPhone 7 in September 2019.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20191005_tableaux-dhistoire-naturelle/histoireNaturelle-2.jpeg">
                <figcaption>
                    The anatomy of a Reptile, digitised in high quality by the <a aria-describedby="foot-label" href="#univ-artois">University of Artois</a>.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20191005_tableaux-dhistoire-naturelle/histoireNaturelle-3.jpeg">
                <figcaption>
                    The anatomy of a Scorpion, digitised in high quality by the <a aria-describedby="foot-label" href="#univ-artois">University of Artois</a>.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20191005_tableaux-dhistoire-naturelle/histoireNaturelle-4.jpeg">
                <figcaption>
                    The anatomy of an Annelid, digitised in high quality by the <a aria-describedby="foot-label" href="#univ-artois">University of Artois</a>.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20191005_tableaux-dhistoire-naturelle/histoireNaturelle-5.jpeg">
                <figcaption>
                    The anatomy of an Shark, digitised in high quality by the <a aria-describedby="foot-label" href="#univ-artois">University of Artois</a>. I did not posses a copy of this poster, but it is beautiful and would one day like to have it.
                </figcaption>
            </figure>      

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
