<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Alchemy and ancient images</h1>
            <p>
                Alchemy, a fascinating subject, once seen as a science. Now we know it was all but; it was a pseudoscience, yet can we believe that the pursuit of such a subject was done in earnest? With great minds such as Issac Newton digging into the matter, even investing considerably more energy into the subject than the very science which made him famous; was he on to something?
            </p>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy1.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy2.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy3.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy4.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy5.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy6.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy7.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy8.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy9.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy10.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy11.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy12.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy13.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy14.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy15.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy16.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy17.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy18.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy19.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy20.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy21.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy22.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy23.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy24.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy25.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy26.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy27.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy28.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy29.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy30.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy31.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy32.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy33.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy34.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy35.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy36.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy37.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy38.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy39.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy40.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy41.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy42.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy43.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy44.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy45.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy46.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy47.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy48.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy49.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy50.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy51.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy52.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy53.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy54.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy55.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy56.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy57.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy58.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy59.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy60.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy61.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy62.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy63.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy64.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy65.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy66.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy67.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy68.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy69.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy70.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy71.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy72.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy73.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy74.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy75.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy76.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy77.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy78.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy79.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy80.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy81.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy82.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy83.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy84.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy85.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy86.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy87.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy88.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy89.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy90.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy91.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy92.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy93.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy94.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy95.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy96.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy97.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy98.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy99.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy100.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy101.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy102.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy103.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy104.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy105.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy106.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy107.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy108.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy109.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy110.jpeg">
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190910_alchemy-and-ancient-images/alchemy111.jpeg">
            </figure>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
