<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Jupiter</h1>
            <p>
                Jupiter is my favourite planet. It simply is the most beautiful. It would be difficult to state otherwise and I would go so far as to argue that it posses an objective beauty that no one can deny.
            </p>
            <p>
                Here I present the following evidence for my case:
            </p>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190418_jupiter/jupiter1.jpg">
                <figcaption>The eye of the storm. <a class="foot-note" href="https://www.missionjuno.swri.edu/junocam/processing?id=6810">MissionJuno</a></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190418_jupiter/jupiter2.jpg">
                <figcaption>Some clouds floating in Jupiter's atmosphere. <a class="foot-note" href="https://www.nasa.gov/image-feature/jpl/pia21981/rose-colored-jupiter">NasaGov</a>
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190418_jupiter/jupiter3.jpg">
                <figcaption>The blue swirls of the planet. <a class="foot-note" href="https://www.nasa.gov/image-feature/jpl/chaotic-clouds-of-jupiter">NasaGov</a></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190418_jupiter/jupiter4.jpg">
                <figcaption>Jupiter being lit by our sun. <a class="foot-note" href="https://www.nasa.gov/image-feature/seeing-jupiter">NasaGov</a></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190418_jupiter/jupiter5.jpg">
                <figcaption>Comparitive shots of Jupiter. <a class="foot-note" href="https://www.nasa.gov/feature/jpl/time-lapse-sequence-of-jupiter-s-north">NasaGov</a></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190418_jupiter/jupiter6.jpg">
                <figcaption>A red view. <a class="foot-note" href="https://www.missionjuno.swri.edu/junocam/processing?id=6829">MissionJuno</a></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190418_jupiter/jupiter7.png">
                <figcaption>More swirls. <a class="foot-note" href="https://www.missionjuno.swri.edu/junocam/processing?id=6808">MissionJuno</a></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/blog/documents/20190418_jupiter/jupiter8.png">
                <figcaption>This photo is quiet impressive I feel. It gives a 3 dimensional view of the atmosphere. <a class="foot-note" href="https://www.missionjuno.swri.edu/junocam/processing?id=6801" target="_blank">MissionJuno</a></figcaption>
            </figure>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
