
<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Interesting phylogenetic tree</h1>
            <p>
                An interesting representation of a phylogenetic tree I saw during a trip in Barcelona. Unfortunately I cannot remember which book this image is from. If anyone remembers please leave me a comment, I would be interested in obtaining a copy of this book.
            </p>
            <br>
            
            <figure>
                <img class="lazy" data-src="/blog/documents/20191005_interesting-phylogenetic-tree/interesting-phylogenetic-tree.jpeg">
                <figcaption>An interesting and simplified phylogenetic tree.</figcaption>
            </figure>            

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
