<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Programming securely</h1>
            <p>
                Here are some very basic tips on programming safetly, especially when using server side languages such as PHP <a class="foot-note" href="https://www.owasp.org/index.php/PHP_Security_Cheat_Sheet">PHP security cheat sheet [owasp.org]</a><a class="foot-note" href="http://php.net/manual/en/security.php">PHP security [php.net]</a> or when taking client inputs.
            </p>
            <ol>
                <li>
                    Make different accounts for every different database action, with priviliges limited to what is needed.
                </li>
                <li>
                    Encrypt connections to database, eg. SSL.
                </li>
                <li>
                    Careful when using prepared statements, eg. PDO, MySQLi.
                </li>
                <li>
                    Close SQL connection when done!
                </li>
                <li>
                    Password hashing/salting, duh.
                </li>
                <li>
                    XSS prevention filters. (HTML Purifier as of 10/13/2017).
                </li>
                <li>
                    "expose_php = Off" and "display_errors = Off" (To prevent probing) in php.ini, "ServerTokens Prod"
                    "ServerSignature Off" and "DefaultType application/x-httpd-php" in httpd.conf.
                </li>
                <li>
                    NEVER use direct user input as file/folder names.
                </li>
                <li>
                    PHP/Apache permissions on the system.
                </li>
                <li>
                    Use UTF-8 charset.
                </li>
                <li>
                    No user input on shell_exec, exec, passthru, system.
                </li>
            </ol>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
