<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Photo dump 1: Angers and library</h1>
            <p>
                I took these in late 2016 on a newly acquired, at the time, Minolta X700. Photos include home, the Maine in Angers, and the library where I spent countless hours studying.
            </p>
            <br>
            <figure>
                <img class="lazy" data-src="/art/documents/20161216_photo-dump-1-angers-and-library/20161216_photoRoll1_1.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20161216_photo-dump-1-angers-and-library/20161216_photoRoll1_2.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20161216_photo-dump-1-angers-and-library/20161216_photoRoll1_3.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20161216_photo-dump-1-angers-and-library/20161216_photoRoll1_4.jpg">
                <figcaption></figcaption>
            </figure>
            <!-- <figure>
                <img class="lazy" data-src="/art/documents/20161216_photo-dump-1-angers-and-library/20161216_photoRoll1_5.jpg">
                <figcaption></figcaption>
            </figure>

            <figure>
                <img class="lazy" data-src="/art/documents/20161216_photo-dump-1-angers-and-library/20180917_photoRoll12_1.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20161216_photo-dump-1-angers-and-library/20180917_photoRoll12_2.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20161216_photo-dump-1-angers-and-library/20180917_photoRoll12_3.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20161216_photo-dump-1-angers-and-library/20180917_photoRoll12_4.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20161216_photo-dump-1-angers-and-library/20180917_photoRoll12_5.jpg">
                <figcaption></figcaption>
            </figure> -->

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
