<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Photo dump 5: Nantes</h1>
            <p>
                Some photos I took in mid 2017, Minolta XD7. Photos photos were done in Nantes France, depict the museum of Natural History as well as a top down view of the city.
            </p>

            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170712_photoRoll7_1.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170712_photoRoll7_2.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170712_photoRoll7_3.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170712_photoRoll7_4.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170712_photoRoll7_5.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170712_photoRoll7_6.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170712_photoRoll7_7.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170712_photoRoll7_8.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170712_photoRoll7_9.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170712_photoRoll7_10.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170712_photoRoll7_11.jpg">
                <figcaption></figcaption>
            </figure>

            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170712_photoRoll8_1.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170712_photoRoll8_2.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170712_photoRoll8_3.jpg">
                <figcaption></figcaption>
            </figure>

            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170918_photoRoll10_1.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170918_photoRoll10_2.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170918_photoRoll10_3.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170918_photoRoll10_4.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170712_photo-dump-7-nantes/20170918_photoRoll10_5.jpg">
                <figcaption></figcaption>
            </figure>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
