<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Photo dump 3: Dublin</h1>
            <p>
                Photos taken in Dublin Ireland early 2017, on a Minolta X700. Places include the bus, the Spire of Dublin, and the Temple Bar.
            </p>

            <figure>
                <img class="lazy" data-src="/art/documents/20170221_photo-dump-3-dublin/20170221_photoRoll3_1.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170221_photo-dump-3-dublin/20170221_photoRoll3_2.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170221_photo-dump-3-dublin/20170221_photoRoll3_3.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170221_photo-dump-3-dublin/20170221_photoRoll3_4.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170221_photo-dump-3-dublin/20170221_photoRoll3_5.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170221_photo-dump-3-dublin/20170221_photoRoll3_6.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170221_photo-dump-3-dublin/20170221_photoRoll3_7.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170221_photo-dump-3-dublin/20170221_photoRoll3_8.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170221_photo-dump-3-dublin/20170221_photoRoll3_13.jpg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20170221_photo-dump-3-dublin/20170221_photoRoll3_14.jpg">
                <figcaption></figcaption>
            </figure>

            <!-- <figure>
                <img class="lazy" data-src="/art/documents/20170221_photo-dump-3-dublin/20170712_photoRoll8_1.jpg">
                <figcaption></figcaption>
            </figure> -->

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
