<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Notebook dump 3: friends studies</h1>
            <p>
                I plan to collect all the drawings I make of friends on this page. Note that these are not my best drawings, and some of them will have been done in a hurry or other less than ideal conditions.
            </p>
            <br>
            <figure>
                <img class="lazy" data-src="/art/documents/20190914_notebook-dump-3-friends-studies/wadihCormier.jpg">
                <figcaption>
                    Wadih Cormier, lawyer and artist. BIC ball point pen on scrap paper.
                </figcaption>
            </figure>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
