<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Notebook dump 2: Architecture studies</h1>
            <p>
                I made these while living in Angers France. Just of random buildings in the centre. I've greatly come to admire this style of building, although I doubt the level comfort associated to living in such a place would be very high. These drawings were all made using Faber Castel india ink markers. Wonderful tools would definitly recommend trying them.
            </p>
            <br>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-2-architecture-studies/notebookDump2_1.jpeg">
                <figcaption>
                    Drawn from the old bridge in the city centre. This is a view of a modern bridge which carries the tramway across the Maine in Angers.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-2-architecture-studies/notebookDump2_2.jpeg">
                <figcaption>
                    The "Chateau fort", in Angers city centre.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-2-architecture-studies/notebookDump2_3.jpeg">
                <figcaption>
                    Le grand théatre d'Angers.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-2-architecture-studies/notebookDump2_4.jpeg">
                <figcaption>
                    Some random buildings in the centre.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-2-architecture-studies/notebookDump2_5.jpeg">
                <figcaption>
                    La cathedrale saint Maurice.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-2-architecture-studies/notebookDump2_6.jpeg">
                <figcaption>
                    Some buildings in the old town.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-2-architecture-studies/notebookDump2_7.jpeg">
                <figcaption>
                    A garden below the castle in the centre, this place no longer exists as the whole area has been renovated.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-2-architecture-studies/notebookDump2_8.jpeg">
                <figcaption>
                    The same building as in figure 4; has some red chalk in there as well.
                </figcaption>
            </figure>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
