<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Notebook dump 1: Moscow</h1>
            <p>
                Drawings I made during my trip to Moscow and some other places in between. These were all made on a Falafel book, using a graphite holder by Faber Castel; 2 mm point I believe in 2B.
            </p>

            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_1.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_2.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_3.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_4.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_5.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_6.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_7.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_8.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_9.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_10.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_11.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_12.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_13.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_14.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_15.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_16.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_17.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_18.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_19.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_20.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_21.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_22.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_23.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_24.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_25.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_26.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_27.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_28.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_29.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_30.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_31.jpeg">
                <figcaption></figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20190910_notebook-dump-1-moscow/notebookDump1_32.jpeg">
                <figcaption></figcaption>
            </figure>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
