<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
    content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

            <h1>Notebook dump four: scientific observations </h1>
            <p>
                Here are some drawings, I made from my microscope, along with a couple others done of people or other miscelaneous things. They are done in black fountain pen, a Namiki Falcon.
            </p>
            <br>

            <figure>
                <img class="lazy" data-src="/art/documents/20191005_notebook-dump-4-scientific-observations/notebookDump4_1.jpeg">
                <figcaption>
                    Some people, done with HB pencil on yellowish paper.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20191005_notebook-dump-4-scientific-observations/notebookDump4_2.jpeg">
                <figcaption>
                    Cuts of hair seen under a microscope.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20191005_notebook-dump-4-scientific-observations/notebookDump4_3.jpeg">
                <figcaption>
                    A drawing of mite I found in my bed seen under a microscope.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20191005_notebook-dump-4-scientific-observations/notebookDump4_4.jpeg">
                <figcaption>
                    A drawing of an onion.
                </figcaption>
            </figure>
            <figure>
                <img class="lazy" data-src="/art/documents/20191005_notebook-dump-4-scientific-observations/notebookDump4_5.jpeg">
                <figcaption>
                    A drawing of my sister.
                </figcaption>
            </figure>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
