<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

<title>Chemistry: Sprectrophotometry I</title>
<h1>Chemistry: Sprectrophotometry I</h1>
<div class="quizQuestions">
    <p>
        Determine the concertation of two unknown compounds A and B in a sample. An absorption spectrum was taken
        (visible light) for each of the two compounds separately and one of the mixed solution to be analysed. The
        width for each cuvette is 1 cm.
    </p>
    <p>
        The absorbance values were done at 510 and 575 nm measured for the three different spectrums. Solution A
        presented an absorbance of 0.714 at 510nm and 0 at 575 nm with concentration of 1.5x10<sup>-4</sup> mol/L.
        Solution
        b
        presented an absorbance of 0.298 at 510nm and 0.757 at 575nm with concentration of 6.0x10<sup>-5</sup> mol/L.
        The
        sample
        had an absorbance of 0.298 at 510 nm and 0.328 at 575 nm.
    </p>

    <p class="questions">
        Calculate the 4 different molar absorptivity coefficients.
    </p>
    <!-- <button class="collapsible">View solution</button>
    <div class="collapseContent"> -->
        <p>
            First let’s write down everything we know. We know l = 1 (the letter l is equal to the number 1 cm) and the
            concentration for solutions A and B. So, we can solve for &epsilon;. In order to solve this problem, we will
            need the following formula: Beer-Lambert’s Law.
        </p>
        <div class="mathsFormulas">
            $$
            A = ε_λ\times{l}\times[c]
            $$
        </div>
        <div class="mathsDescription">
            <ul>
                <li>
                    A - Without units
                </li>
                <li>
                    &epsilon; - Specific wavelength, in L/(cm&centerdot;mol)
                </li>
                <li>
                    &lambda; does not intervene in our calculations but is in nm
                </li>
                <li>
                    [c] - mol/L
                </li>
            </ul>
        </div>
        <p>
            We know that we will be having to calculate for the following: [c], and &epsilon;<sub>&lambda;</sub> so
            let's
            set out the formulas now.
        </p>
        <div class="mathsFormulas">
            $$
            [c] = \frac{A}{ε\cdot\;l}
            $$
        </div>
        <p>
            Let's lay out everything we know:
        </p>
        <ul>
            <li>
                [A] = 1.5&centerdot;10<sup>-4</sup> mol/L
            </li>
            <li>
                A<sub>A510</sub> = 0.714
            </li>
            <li>
                A<sub>A575</sub> = 0
            </li>
            <li>
                [B] = 6.0&centerdot;10<sup>-5</sup> mol/L
            </li>
            <li>
                A<sub>B510</sub> = 0.298
            </li>
            <li>
                A<sub>B510</sub> = 0.757
            </li>
            <li>
                [A + B] = ?
            </li>
            <li>
                A<sub>A + B510</sub> = 0.581
            </li>
            <li>
                A<sub>A + B575</sub> = 0.328
            </li>
        </ul>
        <p>
            Notice that compound A does not absorb at all at 575 nm. This can be used in order to find the concentration
            of
            compound B because they are independent at this wavelength. Let’s start by finding the concentrations of
            compound A and B in their individual solutions. Then we will try to find the concentrations of A and B in
            the
            sample solution A + B; first find the extinction coefficients of each compound.
        </p>
        <div class="mathsDescription">
            For &epsilon;<sub>A</sub> in solution A
        </div>
        <div class="mathsFormulas">
            $$
            ε_A510 = \frac{0.714}{1\times1.5\times10^{-4}} = 4760
            $$
        </div>
        <div class="mathsFormulas">
            $$
            ε_A575 = \frac{0.714}{1\times1.5\times10^{-4}} = 4760
            $$
        </div>
        <div class="mathsDescription">
            For &epsilon;<sub>B</sub> in solution B
        </div>
        <div class="mathsFormulas">
            $$
            ε_B510 = \frac{0.298}{1\times6.0\times10^{-5}} = 4966.67
            $$
        </div>
        <div class="mathsFormulas">
            $$
            ε_B575 = \frac{0.757}{1\times6.0\times10^{-5}} = 12616.7
            $$
        </div>
    <!-- </div> -->
    <p class="questions">
        Calculate the different molar concentrations for the two compounds A and B in the sample.
    </p>
    <!-- <button class="collapsible">View solution</button>
    <div class="collapseContent"> -->
        <p>
            Now let’s calculate the concentration of B. Remember we can do this because at 575 nm A does not absorb. We
            are
            going to use the absorption of the sample solution at 510 nm and the extinction coefficient of compound B at
            510
            nm this will give us the concentration of B in the sample.
        </p>
        <div class="mathsDescription">
            [B] in solution A + B
        </div>
        <div class="mathsFormulas">
            $$
            [B] = \frac{0.328}{1\times12616.7} = 0.000026 = 2.6\times10^{-5}\;mols/L
            $$
        </div>
        <p>
            Now know the concentration of [B]. Now we can calculate the absorbance B will have at this concentration and
            at
            510 nm.
        </p>
        <div class="mathsFormulas">
            $$
            A_B510 = 4966.67\times1\times2.6\times10^{-5} = 0.129
            $$
        </div>
        <div class="mathsFormulas">
            $$
            A_{A+B} = 0.581
            $$
        </div>
        <div class="mathsFormulas">
            $$
            A_{A+B} = 0.581-0.129 = 0.451
            $$
        </div>
        <p>
            Now we can finally find the concentration of A in the sample A + B.
        </p>
        <div class="mathsFormulas">
            $$
            [A]\in A+B = \frac{0.451}{1\times4760} = 9.5\times10^{-5} mols/L
            $$
        </div>
    <!-- </div> -->
</div>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
