<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

<h1>Review: Engineering Microorganisms</h1>

<ol>
    <li>
        Quelles sont les principales &eacute;tapes d&rsquo;un proc&eacute;d&eacute; de production microbiologique.
    </li>
    <li>
        Qu&rsquo;appelle-t-on &eacute;volution exp&eacute;rimentale et que peut-elle apporter lors de productions
        microbiologiques ?
    </li>
    <li>
        Vous souhaitez faire produire une vitamine &agrave; une bact&eacute;rie qui sera utilis&eacute; dans une production
        alimentaire. Vous clonez les g&egrave;nes impliqu&eacute;s dans cette biosynth&egrave;se sur un plasmide. Quelles
        seront les caract&eacute;ristiques de ce plasmide si vous utilisez directement la bact&eacute;rie dans le produit
        alimentaire?
    </li>
    <li>
        Quels sont les diff&eacute;rents types de marqueurs de s&eacute;lection ? Quelle diff&eacute;rence y a-t-il entre un
        marqueur de compl&eacute;mentation et un marqueur dominant ?
    </li>
    <li>
        Quels syst&egrave;mes permettent de maintenir les plasmides lors de production &agrave; grande &eacute;chelle ?
    </li>
    <li>
        Qu&rsquo;appelle-t-on &laquo; &eacute;dition des g&eacute;nomes &raquo; ?
    </li>
    <li>
        Quelles sont les grandes &eacute;tapes d&rsquo;un proc&eacute;d&eacute; de fermentation ? Quels param&egrave;tres peut-on
        contr&ocirc;ler et/ou r&eacute;guler ?
    </li>
    <li>
        Quelles sont les m&eacute;thodes de quantification de la biomasse ?
    </li>
    <li>
        Quels sont les param&egrave;tres qui vont influencer la croissance ?
    </li>
    <li>
        Qu&rsquo;appelle-t-on une culture en batch et quels sont les avantages et les inconv&eacute;nients ?
    </li>
    <li>
        Qu&rsquo;est-ce qu&rsquo;une culture en fed-batch ? Dans quel cas est-elle utilis&eacute;e ?
    </li>
    <li>
        Qu&rsquo;est-ce qu&rsquo;un ch&eacute;mostat ? Avantages et inconv&eacute;nients ?
    </li>
    <li>
        Qu&rsquo;est-ce qu&rsquo;un bilan carbone ?
    </li>
    <li>
        Quels sont les diff&eacute;rents syst&egrave;mes de clonage que vous connaissez ? Principe ?
    </li>
    <li>
        Comment obtenir des inversions de fragments chromosomiques avec le syst&egrave;me CRE/lox ?
    </li>
    <li>
        Comment utiliser ce syst&egrave;me pour faire de l&rsquo;&eacute;change de cassette ?
    </li>
    <li>
        Quels sont les principaux acteurs de la recombinaison Lambda Red ?
    </li>
    <li>
        Dans quelles conditions la recombinaison Lambda Red avec du simple brin sera-t-elle la plus
        efficace ?
    </li>
    <li>
        Connaissez-vous d&rsquo;autres orthologues d&rsquo;exo et bet ?
    </li>
    <li>
        D&eacute;finition d&rsquo;un TALEN
    </li>
    <li>
        Comment fonctionne le syst&egrave;me CRISPR-Cas de type II ?
    </li>
    <li>
        Qu&rsquo;appelle-ton guide RNA et de quoi est-il form&eacute; ?
    </li>
    <li>
        Qu&rsquo;est-ce qu&rsquo;un marqueur de contre s&eacute;lection ?
    </li>
    <li>
        Qu&rsquo;est-ce qu&rsquo;un vecteur &agrave; r&eacute;plication thermosensible ?
    </li>
    <li>
        Sch&eacute;matisez la d&eacute;l&eacute;tion d&rsquo;un g&egrave;ne sur le chromosome avec le syst&egrave;me lambda Red laissant ou
        non une cicatrice
    </li>
    <li>
        Comment feriez-vous pour muter un g&egrave;ne par overlapping Extension PCR (OEing PCR)
    </li>
    <li>
        Principe du syst&egrave;me MAGE et d&eacute;crivez les diff&eacute;rentes &eacute;tapes. Quel est l&rsquo;int&eacute;r&ecirc;t d&rsquo;un tel syst&egrave;me ?
    </li>
    <li>
        A quoi sert pr&eacute;cis&eacute;ment le syst&egrave;me CRISPR-Cas9 pour modifier un g&egrave;ne chromosomique
        bact&eacute;rien ?
    </li>
    <li>
        Comment utiliser le syst&egrave;me sacB comme marqueur de contre s&eacute;lection ? Dans quels organismes
        peut-il &ecirc;tre utilis&eacute; ?
    </li>
    <li>
        Description du syst&egrave;me galK en s&eacute;lection positive et en s&eacute;lection n&eacute;gative ? Quelle contrainte &agrave;
        son utilisation ?
    </li>
    <li>
        Que signifie GRAS et QPS ?
    </li>
    <li>
        Comment d&eacute;finir les bact&eacute;ries lactiques ?
    </li>
    <li>
        Quelles bact&eacute;ries lactiques poss&egrave;dent les plus grandes tailles de chromosome ? et les plus petites
        tailles ?
    </li>
    <li>
        D&rsquo;apr&egrave;s la s&eacute;quence du g&eacute;nome de S. thermophilus, pourquoi dit-on que cette bact&eacute;rie est
        parfaitement adapt&eacute;e au lait ?
    </li>
    <li>
        Quels sont les 2 grands r&ocirc;les des BL dans l&rsquo;&eacute;laboration des yaourts ?
    </li>
    <li>
        Qu&rsquo;appelle-t-on starters ? Quels en sont les diff&eacute;rents types ?
    </li>
    <li>
        Quand dit-on qu&rsquo;une fermentation est homolactique ?
    </li>
    <li>
        Quels sont les principaux produits synth&eacute;tis&eacute;s dans une fermentation h&eacute;t&eacute;rolactique ?
    </li>
    <li>
        Quels sont les 2 principaux syst&egrave;mes de transport des sucres ? Expliquez leur fonctionnement
    </li>
    <li>
        Qu&rsquo;est-ce que la r&eacute;pression catabolique chez les firmicutes ?
    </li>
    <li>
        Que se passe-t-il lorsque Glucose et lactose sont amen&eacute;s ensemble dans le milieu et que la
        bact&eacute;rie est capable d&rsquo;utiliser les 2 sucres. M&eacute;canismes mol&eacute;culaires ?
    </li>
    <li>
        Quels sont les diff&eacute;rents constituants du syst&egrave;me prot&eacute;olytique chez L. lactis ? M&eacute;canisme ?
    </li>
    <li>
        M&eacute;canisme de biosynth&egrave;se de PrtP ?
    </li>
    <li>
        A quoi sert le motif LPXTG ?
    </li>
    <li>
        Qu&rsquo;est-ce que la protocoop&eacute;ration ?
    </li>
    <li>
        Qu&rsquo;est-ce qu&rsquo;une bact&eacute;riocine ? Comment les classe-t-on ?
    </li>
    <li>
        Biosynth&egrave;se et r&eacute;gulation de la nisine ?
    </li>
    <li>
        Quelles sont les caract&eacute;ristiques biochimiques des lactocoques produisant le plus de diac&eacute;tyle ?
    </li>
    <li>
        A quoi servent les EPS ? Quelle est de fa&ccedil;on g&eacute;n&eacute;rale leur organisation g&eacute;n&eacute;tique ? Comment
        am&eacute;liorer les propri&eacute;t&eacute;s texturantes d&rsquo;une souche par g&eacute;n&eacute;tique classique ?
    </li>
    <li>
        En fromagerie, en quoi la pr&eacute;sence d&rsquo;une ur&eacute;ase peut-elle &ecirc;tre g&eacute;nante ?
    </li>
    <li>
        Expliquez le fonctionnement des 2 syst&egrave;mes d&rsquo;induction NICE et ZitR chez L. lactis ?
    </li>
    <li>
        Comment peut-on &laquo; accrocher &raquo; des prot&eacute;ines &agrave; la surface des bact&eacute;ries lactiques ?
    </li>
    <li>
        Qu&rsquo;est que que des GEM. Principe de leur utilisation pour la production de vaccins ?
    </li>
</ol>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
