<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
    content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

<title>Engineering Microorganisms</title>
<h1>Engineering Microorganisms</h1>
    <div class="courseInfo">
        <div class="articleData">08 April 2018</div>
        <div class="articleData">Université Paul Sabatier III</div>
    </div>
    <p>
        Welcome to this course. Here we'll cover the topic of manipulating and adapting microorganisms for our personal uses. Be it industrial or research. However this course does lean more towards the industrial scale, but can be used to produce other organisms of interest.
    </p>

<h2>Introduction</h2>
    <p>
        The engineering of microorganisms can be done for a multitude of reasons. They offer a good alternative to chemical synthesis, and can act on specific reactions and by use of natural or artificial enzymes. In an industrial context, they confer a variety of advantages such as the following:
    </p>
    <ul>
        <li>
            Reactions are inexpensive in energy
        </li>
        <li>
            Great specificity and small amounts of byproducts
        </li>
        <li>
            Can synthesise complexe molecules inaccesible to traditional chemistry
        </li>
    </ul>
    <p>
        There are a number of microorganisms/bacteria that can be used for industrial purposes. Here are some of them and their applications/characteristics:
    </p>
    <dl>
        <dt>Lactic Bacteria</dt>
        <dd>
            Agroindustrial: fermentation, aromas...
        </dd>
        <dt>Streptomyces</dt>
        <dd>
            Pharmaceutical: antibiotic production, secondary metabolite production
        </dd>
        <dt>Bacilus</dt>
        <dd>
            Agricultural: bio-insecticide
        </dd>
        <dt>Corynebacteria</dt>
        <dd>
            Agroindustrial: primary metabolites (amino acids)
        </dd>
        <dt>Clostridium</dt>
        <dd>
            Biofuels: ethanol, butanol, acetone, oragnic acids
        </dd>
        <dt>Pseudomonas</dt>
        <dd>
            Pollution control: removal of xenobiotics
        </dd>
    </dl>

    <p>
        Note that we are not limited to the use of only prokaryotes, here are some examples of eukaryotic organisms/archaea in industry:
    </p>
    <dl>
        <dt>Fungii</dt>
        <dd>
            Pharmaceutical: antibiotic production
        </dd>
        <dd>
            Agricultural: mycorhizea (symbiosis for fixation of N<sub>2</sub>)
        </dd>
        <dt>Yeast</dt>
        <dd>
            Agroindustrial: wine production
        </dd>
        <dt>Archaea</dt>
        <dd>
            Biotechnology: thermostable enzymes
        </dd>
        <dt>Algea</dt>
        <dd>
            Agroindustrial
        </dd>
        <dd>
            Pharmaceutical: produciton of natural polysaccherides, lipids, minerals
        </dd>
        <dd>
            Biofuels
        </dd>
    </dl>

    <h3>History</h3>
        <p>
            People have been using microorganisms since antiquity. For example in Ancient Babylone (6000 B.C.) for the production of beer, or Ancient Egypt for the production of wine, bread, and vinegar.
        </p>
        <p>
            Later on in the 14th century, the precursor to biotechnology was born; Louis Pasteur took an annalytical approach to biology, and focused on single organisms and the production of pure cultures.
        </p>
        <p>
            During the first world war, Germany used yeast for fermentation and the production of alcohol/glycerol. There was a lack of glycerol; a key ingredient for the production of explosives.
        </p>
        <p>
            England used <em>Clostridium</em> for formentation as well, but for the production of butyl-acetone for use as a solvant.
        </p>
        <p>
            The second great war brought into the light the use of antibiotics. In 1940 the production of penecilline at stable and larger quantities was possible. Moreover 1950 brought about the discovery of other antibiotic molecules.
        </p>
        <p>
            The 1980s brought us genetic manipulation. This allowed for the modification and reorganisation of microorganisms to suit our needs. Synthesis of new molecules/proteins by introduction of foreign genes into controllable organisms was made possible; recombinant proteins were thus invented.
        </p>
        <p>
            The 2000s brought about the era of <em>omics</em>, <em>i.e.</em> the use of data for the exhaustive study of a system. The study of genetics became genomics, gene expression; transcriptonomics, protein biology; proteonomics, metabolism; metabolomics, <em>etc.</em>. Information science and bioinformatics came to the forefront.
        </p>
        <p>
            The basic goal of these <em>omic</em> studies, is to build a complete vision of a cell, and allow systems biology to create predictable models.
        </p>
        <p>
            Today we are confronted with synthetic biology, and great ethical questions.
        </p>

    <h2>Production in Microbiology</h2>
        <p>
            The goal of production is to take a substrat add a microorganism, and produce biomass and metabolic products. The process will depend on what it is we want to recover. For example in the production of probiotics we want the microbiological biomass. in the production of aromas, amino acids, or other organic compounds we want the derived products. 
        </p>
        <p>
            The main steps in the production are the following:
        </p>
        <ol>
            <li>
                Selection and refinement of a strain; requires genetic manipulation
            </li>
            <li>
                Culture refinement; requires testing to find a suitable physiological environment for the organism
            </li>
            <li>
                Fermentation
            </li>
            <li>
                Recovery of the bioproduct or cells
            </li>
        </ol>
    <h3>Selection of the strain</h3>
        <p>
            We need our strain to have specific characteristics in order to not only be useful, but to be easy to work with. Here are just some of the characteristics we look for.
        </p>
        <ul>
            <li>
                Easily adapts to simple culture mediums (inexpensive media)
            </li>
            <li>
                Quick growth at high temperatures
            </li>
            <li>
                Good production level
            </li>
            <li>
                Good resistance to stress, physical/chemical
            </li>
            <li>
                Stable genetics
            </li>
            <li>
                Well adapted to life in a bioreactor
            </li>
            <li>
                Easily recovered from the fermentation medium
            </li>
            <li>
                Non-toxic
            </li>
        </ul>
        <p>
            Some of these characteristics are evident, for example we don't want toxic molecules mixing into our precious products. Moreover note than resistance to stress is extremely important as it will dictate how the culture can be done! Some organisms cannot be stirred in bioreactors with turbines; they are too fragile.
        </p>
        <p>
            Another thing to take into consideration is whether the product we're after is already produced by our strain. For example <em>S. cerevisae</em> can be choson for production not only beacuse we know how to work with it, but because it produces a target product, alcohol. Thus no genetic manipulation is required.
        </p>
        <p>
            If our organism does not already produce the desired product, then we have to go through manipulation; either genetic or selection. If however we need to create a strain that produces our desired molecule then we have the choice between an experimental approach and an engineering approach.
        </p> 
        <p>
            Experimental evolution can be applied, this requires the mutation and screening of organisms in order to find the one we want. A selection pressure must be applied in order to get the result we need. This can be a good method when the protein/product/molecule we want is not necessarily known entirely. Thus experimental evolution can be used in order to produce completely new enzymes. However it is a long and tedious process.
        </p>
        <p>
            An engineering approach gives us the tools for genetic manipulation. It can be quick and easy to do. However our product strains will always be considered genetically modified organisms (GMO), and thus their dissemination/sale will be controlled.
        </p>

    <h3>Diversity</h3>
        <p>
            Diversity can be assessed on a number of levels. These levels go from most general to most precise, going even further than the definition of a species. Indeed, it is important to note that bacterial/microorganisms contain not only their genome, but often times contain an auxiliary genome; plasmids.
        </p>
        <p>
            Diversity can be assessed on a number of levels, here is a quick break down and their meanings:
        </p>
        <dl>
            <dt>Taxonomic diversity</dt>
            <dd>
                Different species which have the same function: <em>Bacteroidetes</em>, <em>Actinobacteria</em>, <em>Firmicutes</em>.
            </dd>
            <dt>Genetic diversity</dt>
            <dd>
                Allelic variations within a species.
            </dd>
            <dt>Genomic diversity</dt>
            <dd>
                auxiliary genomes associated to a species; plasmids, adaptive genome.
            </dd>
        </dl>

        <p>
            This diversity can be explored, and exploited during our search for an ideal worker strain.
        </p>
    <h3>Genomic diversity</h3>
        <p>
            Genomic diversity is linked to the auxiliary genome associated to a species, <em>i.e.</em> the plasmids a species may contain: the adaptive genome, and plasmids.
        </p>
        <figure>
            <img src="/courses/documents/engineering-microorganisms/centralAuxGenome.png">
            <figcaption>Drawing illustrating central vs auxiliary genome between different species.</figcaption>
        </figure>
        <p>
            A species is first defined by the heart of its genome, this is are the common parts present in all other strains. These common parts can be interupted by variable regions. These variable regions grouped with the plasmids of a strain are what compose the auxiliary genome.
        </p>
    <h3>Experimental evolution</h3>
        <p>
            Experimental evolution is the process of instigating chnage in a microorganism with the goal of endowing it with new abilities or properties. Two main forces are behind evolution in general, which we exploit in order to obtain our desired strain: natural/artificial selection, and genetic drift.
        </p>
        <p>
            Selection is the process of creating a number of generations, during which a selective pressure is applied. This pressure eliminates any undesired organims/variants, and leaves only those which tend towards the desired characteristic.
        </p>
        <figure>
            <img src="/courses/documents/engineering-microorganisms/naturalSelection.svg">
            <figcaption>An illustration of natural selection.</figcaption>
        </figure>
        <p>
            In the figure shown note that each gray line or generational step is a point where there is a possibility for a mutation. These steps produce new and unique individuals, more or less adapted for the environment. Thus in this case it is the environment that makes the selection. We as engineers can determine and control that environment.
        </p>
        <p>
            Genetic drift is another force behind evolution. It is the process whereby the depending on the frequencies in genetic variants the future dominant population is determined. 
        </p>
        <figure>
            <img src="/courses/documents/engineering-microorganisms/geneticDrift.svg">
            <figcaption>Drawing illustrating genetic drift, sample population contains more green strains than any other, six green.</figcaption>
        </figure>
        <p>
            In the figure shown note that when the population is sampled the first time there are more green strains that any other in the founding sample. At generation 1 this is the founding population. Under the right conditions the variant with the highest frequency will come to dominate the other populations.
        </p>
        <p>
            These two forces of nature can be harnessed in artificial conditions to manipulate and produce desired strains. Note that that in both cases, we have never used a molecular tool for genetic manipulation. Thus our product strains are not to be denoted as GMOs, their sale and distribution is thus permitted.
        </p>
    <h4>How to accelerate evolution</h4>
        <p>
            An interesting experiment on the subject is/was done by Richard Lenski. He started in 1988, where he took <em>E. coli</em> placed it into a few different flasks and and started a culture. Six of those flasks contained strains that were <strong>REL606 ara-</strong> and the other six were <strong>REL606 ara+</strong>. He placed them all into a medium with limited amount of glucose.
        </p>
        <p>
            The strains have been sampled continously into new flasks with new medium, at consistent intervals. The team has published a number of studies all detailing the genetic drift and evolution of these organisms. Since 1988 there have been over 55,000 generations; note that <em>E. coli</em> can do 6.64 generations in 24 h.
        </p>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
