<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
    content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

<title>Immunology</title>
<h1>Immunology</h1>
<div class="courseInfo">
    <div class="articleData">11 March 2017</div>
    <div class="articleData">Université d'Angers</div>
</div>
<h2>The immune system</h2>
<h3>Functions of the immune system</h3>
<p>
    The immune system is responsible for three main functions in the human body. The definition of the self, the recognition of foreign signal molecules, and for the defence of the self. The immune system battles against: pathogens (parasites, bacteria, viruses, yeast...), mutated self-cells (cancer), and against foreign cells
    (transplant rejection).
</p>
<p>
    There are two kinds of immunity, innate immunity and adaptive immunity:
</p>
<ol>
    <li>
        Innate immunity
        <ul>
            <li>
                Characteristics
                <ul>
                    <li>
                        Immediate action
                    </li>
                    <li>
                        Non specific
                    </li>
                    <li>
                        No memory
                    </li>
                </ul>
            </li>
            <li>
                Parts
                <ul>
                    <li>
                        Natural barriers (skin)
                    </li>
                    <li>
                        Inflammatory reaction (phagocytes)
                    </li>
                    <li>
                        Anti-viral reaction (NK: Natural killers)
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        Adaptive immunity
        <ul>
            <li>
                Characteristics
                <ul>
                    <li>
                        Develops in a few days
                    </li>
                    <li>
                        Specific
                    </li>
                    <li>
                        Immunological memory
                    </li>
                </ul>
            </li>
            <li>
                Parts
                <ul>
                    <li>
                        Humoral immunity (LB)
                    </li>
                    <li>
                        Cellular mediation (LT)
                        <ul>
                            <li>
                                Recognition
                            </li>
                            <li>
                                Activation
                            </li>
                            <li>
                                Action
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ol>
<p>
    The whole immune system is a giant orchestra of cells all acting in perfect organisation and symphony to defend the
    body.
</p>
<h3>Properties of the adaptive immune system</h3>
<h4>Specificity</h4>
<p>
    The immune system depends on the recognition something called an epitope. An epitope (aka antigenic determinant) is
    the smallest three-dimensional antigen pattern. There are 15 amino acids which are involved in this pattern and they
    can constitute around 1% of the protein &rarr;jerne.
</p>
<ol>
    <p>
        Types of antibodies:
    </p>
    <li>
        Polyclonal antibodies: A community of different antibodies which all recognise the same antigen, although not
        necessarily the same epitope. They are produced by an ensemble of immune cells, each one producing a unique
        antibody.
    </li>
    <li>
        Antigen: The whole lot of antigenic determinants – the epitopes. An antibody is specific to one of the antigenic
        determinants not all of them.
    </li>
</ol>
<h4>Diversity</h4>
<p>
    The human immune system is capable of recognising 10<sup>7</sup> different kinds of antigens. We keep a large
    repertoire of lymphocytes which are all themselves capable of detecting and fixing one kind of antigen. A lymphocyte
    B is capable of producing 10<sup>11</sup> different antigenic receptors even though there are only 3*10<sup>9</sup>
    base pairs in the human genome. The mechanism for producing such a large diversity of antibodies is quiet complex
    and covered later on. Lymphocytes are coded by mosaic genes a discovery made in 1975.
</p>
<h4>Memory</h4>
<p>
    Memory lymphocytes can have a very long life and are capable of detecting very low concentrations of antigens in the
    body.
</p>
<h4>Determination of the self and the non-self</h4>
<p>
    A very famous experiment led to the discovery of the mechanism by which we determine the self and the non- self.
</p>
<p>
    <strong>Mouse A - Adult</strong> &rarr; transfer of cells &rarr; <strong>Mouse B - Baby</strong>
</p>
<p>
    At adult stage mouse B had a tolerance for the cells from mouse A and did not reject them, however if we were to
    isolate and inject anti-A lymphocyte into mouse B then mouse B would reject cells from mouse A. This is how it was
    determined that adaptive immunity lies in the memory lymphocytes.
</p>
<p>
    Each cell possess a molecular ID card of sorts called the major histocompatibility complex (MHC). In mice it is
    known as H2 (1938) and in humans the HLA (1958).
</p>
<p>
    <ol>
        <p>
            The MHC has two main roles:
        </p>
        <li>
            Minor: Marker for polymorphisms
        </li>
        <li>
            Major: Responsible for molecular communication and recognition of antigens by T lymphocytes and cell-cell
            cooperation.
        </li>
    </ol>
</p>
<h4>Autoregulation</h4>
<p>
    At one point antigens are degraded and thus can no longer be a stimulation agent. There is a retro-control process
    by which antibodies are formed.
</p>
<ol>
    <p>
        T lymphocytes (TL) are regulated by two ways:
    </p>
    <li>
        They can be amplified by auxiliaries known as – auxillary T lymphocytes or T helper cells Th.
    </li>
    <li>
        They can be suppressed by lymphocytes known as Tr or T regulators.
    </li>
</ol>
<h2>The three levels of organistion in the immune system</h2>
<h3>Tissues and organs</h3>
<p>
    The immune system can be split into two organ types, which both work together and do complemantary jobs. One is responsible for the creation and maturation of the immune response and the second set of organs for the action.
</p>
<ol>
    <li>
        Primary organs (central)
        <ul>
            <li>
                Organs responsible for the differentiation and maturation of immune cells (lymphocytes) independently from the antigen:
                <ul>
                    <li>
                        Thymus
                    </li>
                    <li>
                        Bone marrow
                    </li>
                    <li>
                        Bursa of Fabricius (birds)
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        Secondary organs (periphery)
        <ul>
            <li>
                Organs responsible for applying the action of the immune response:
                <ul>
                    <li>
                        Spleen
                    </li>
                    <li>
                        Lymphatic ganglions
                    </li>
                    <li>
                        Lymphocytic tissues attached to mucosae
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ol>
<h3>Cells involved</h3>
<p>
    There are two main kinds of cells involved in the immune system the lymphatic cell line and the myeloid cell line.
</p>
<table>
    <tr>
        <th>Cell line</th>
        <th colspan="2">Lymphatic cell line</th>
        <th colspan="2">Myeloid cell line</th>
    </tr>
    <tr>
        <th>Category</th>
        <td>
            Small lymphocytes
        </td>
        <td>Big Granular Lymphocytes (GLG – Grand Lymphocytes Granuleux)</td>
        <td>Mononucleic Phagocytes</td>
        <td>
            Granulocytes (Poly-nucleus)
        </td>
    </tr>
    <tr>
        <th>Cell types</th>
        <td>
            <ol>
                <li>
                    B line
                </li>
                <li>
                    T line
                </li>
            </ol>
        </td>
        <td>NK (Natural Killers)</td>
        <td>Monocytes macrophages</td>
        <td>
            <ol>
                <li>
                    Basophiles
                </li>
                <li>
                    Eosinophils
                </li>
                <li>
                    Neutrophils
                </li>
            </ol>
        </td>
    </tr>
</table>
<h3>Molecular level</h3>
<p>
    There are a variety of molecules involved in the immune system here are just a few:
</p>
<ul>
    <li>
        Immunoglobulins <em>ie</em> antibodies
    </li>
    <li>
        Cytokines
    </li>
    <li>
        Cytotoxines
    </li>
    <li>
        Chemokines
    </li>
    <li>
        Complement
    </li>
    <li>
        Membranary molecules <em>ie</em> CMH, TCR, BCR (Membrane antibodies)
    </li>
</ul>
<h2>The lymphatic system</h2>
<h3>Lymphatic organs</h3>
<p>
    There are two kinds of lymphatic organs, central or primary lymphatic organs, and secondary or periphery lymphatic organs.
</p>
<h4>Central, primary lymphatic organs</h4>
<p>
    These organs are the seat of maturation of competent lymphocytes. This maturation is done independently of the presence of an antigen. Here is where the acquisition of antigen specificity is done and whereby the antigen specific repertoire grows. This is also the place where the body learns to recognise itself.
</p>
<h5>Bone marrow and haematopoiesis</h5>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/boneMarrow.jpg">
    <figcaption>Depitiction of haematopoiesis and its main origin the bone marrow.</figcaption>
</figure>
<p>
    The bone marrow is not really an organ but plays an important role in the immunological system. This is the place for haematopoiesis –the creation of the blood cells most famously. All myeloid and lymphocyte precursors come from here and so the forms the lymphocytic and phagocytic populations from stem cells located in the bone marrow.
</p>
<p>
    The bone marrow is found on the inside of many of the body’s bones under the hard outside bone. It is a spongy substance composed of two different kinds yellow – fatty – and red. <strong>Only the red bone marrow is capable of haematopoiesis.</strong>
</p>
<p>
    In foetus’s haematopoiesis is done through the vitelline sack. When the liver develops it takes over and finally when the bones are ready they take over.
</p>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/homotopMap1.png">
    <figcaption>A map of haematopoiesis and resulting cell types.</figcaption>
</figure>
<p>
    Haematopoiesis is a process by which stem cells are divided and differentiated into various final cell types. The first cell gives progenitors for either the lymphatic cell line or the myeloid cell line.
</p>
<p>
    <strong>Lymphatic progenitors can give either T or B precursor lymphocytes.</strong>
</p>
<p>
    There are two very important and fundamental properties to haematopoietic stem cells (HSC; CSH).
</p>
<ul>
    <li>
        They are capable of self replenishment
    </li>
    <li>
        They are pluripotent
    </li>
</ul>
<p>
    In the new born all of the bone marrow is haematopoietic and as the child grows and matures the bone develops and hardens externally. The haematopoietic cells are located in certain parts of the bone of adults; the very centre and red bone marrow – and only in certain bones: sternum vertebrae’s, ribs, clavicle, cranium. Contrary to children where haematopoiesis occurs in mainly the long bones such as the tibia and femur.
</p>
<p>
    <strong>Bone marrow is also an important place of maturation of B lymphocytes.</strong>
</p>
<h5>The thymus</h5>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/thymus.jpeg">
    <figcaption>Location of the thymus gland.</figcaption>
</figure>
<p>
    This organ is located at the base of the neck in the thorax. The thymus disappears with age and actually shrinks. <strong>It is the main location for maturation of T lymphocytes. This is actually where the T in the name for these lymphocytes comes from – meaning Thymus.</strong>
</p>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/thymusGland.jpg">
    <figcaption>The anatomy of a thymus gland.</figcaption>
</figure>
<p>
    This organ is constituted of two main lobes, each one containing lobules and in turn each lobule is differentiated into a cortical region on the exterior. And internally is the medulla. <strong>It is on the epithelial network in which the haematopoietic cells coming from the bone marrow insert themselves.</strong>
</p>
<p>
    When lymphocytes enter the thymus we call them thymocytes and they are not yet mature. Their maturation is done over a migration process whereby they penetrate deeper from the cortex to the medulla all the long undergoing a selection process.
</p>
<p>
    There exist two kinds of selections, positive and negative. The cells migrate and progressively they obtain their antigenic receptor, all thymocytes which do not acquire an antigenic receptor or recognise self-molecules as foreign are selected against and undergo an apoptosis.
</p>
<p>
    In the medulla we find numerous macrophages and dendrocytes.
</p>
<h5>The sack of Fabricius</h5>
<p>
    This is an organ only found in birds. It atrophies over a period of 6 weeks – from week 7 to 13 after eclosion. The mucous is folded back on itself mamy times and in it are annexed lymphatic follicules. In these follicules we find an external cortex which is separated from the internal medulla by a basal membrane. In this medulla there is creation of lymphocytes B (B for bone marrow).
</p>
<h4>Periphery: Secondary lymphatic organs</h4>
<p>
    These organs are filters which are found along the penetration pathways of antigens. These organs are responsible for the actuation of the immune response. They are the places where lymphocytes achieve and finish their differentiation and can experiment their functional capacities in the presence of an antigen. These organs are where the specific ig adaptive immune response is done through interaction with different partners.
</p>
<h5>The spleen</h5>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/spleen.jpg">
    <figcaption>The anatomy of the spleen.</figcaption>
</figure>
<p>
    The spleen is located in the mid abdomen right behind the stomach and is present in virtually all vertebrates. The spleen is responsible for filtering the blood and removing senescent blood cells. The spleen is surrounded by a conjunctive capsule which contains two types of tissues.
</p>
<ul>
    <li>
        Red pulp – Constituted of splenic cords, veinic sinuses
    </li>
    <li>
        White pulp – This corresponds to the part which acts in the immune response
    </li>
</ul>
<p>
    Around the central artery we found a “handle” – a region separated by two or more trabeculae* verify – which contains an area of T lymphocytes and annexed to this region we find lymphatic follicles which themselves contain B lymphocytes.
</p>
<p>
    It is in the marginal zone that we find the macrophages.
</p>
<p>
    The spleen is an organ which is responsible for the filtration of the circulatory system and allows for an immune response against antigens which could invade intravenously.
</p>
<h5>Lymphatic ganglions: Lymph nodes</h5>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/cardioLymphSys.gif">
    <figcaption>Illustration of the cardiovascular system and the lymph system.</figcaption>
</figure>
<p>
    These are associated to the lymphatic system and attached the capillaries and are present all over the body. These channels join together at the thoracic canal and come into contact with the cardiovascular circulatory system at a vein. Lymphocytes T and B flow into the ganglion and are impeded from backflow by valves in the lymph valves. At the node capillaries come in and come into direct contact with the B and T cells.
</p>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/lymphNode.png">
    <figcaption>The anatomy of a lymph node.</figcaption>
</figure>
<p>
    There are some areas of the body where there are no lymph nodes such as the eye, cartilage, the epithelium, the placenta and the internal ear.
</p>
<p>
    The lymph node that is responsible for draining the antigens that are transported by the lymphatic system is an individual organ. It is composed of a conjonctive capsule and is separated into different zones. Paracortical area area with T cells, and the secondary lymphatic follicle an area with a germinal centre where B lymphocytes are created. Even deeper we find the medulla with medullary cordons macrophages, and plasmocytes.
</p>
<h5>Lymphatic tissues annexed to the mucosae</h5>
<p>
    In an adult human there is about 400m<sup>2</sup> of mucus tissues which protect us from the environment. Mucosa membranes are present in various organs, from the respiratory tract, to the intestine, and even the uro-genital tract.
</p>
<ul>
    <li>
        Tissues associated to the respiratory tract – Bronchus Associated Lymphoid Tissue (BALT) tonsils and the adenoids (vegetations).
    </li>
    <li>
        Tissues associated to the intestines – Gut Associated Lymphoid Tissue (GALT) Peyer’s patch present all along the intestines.
    </li>
</ul>
<h3>Immunocompetent cells</h3>
<h4>The lymphatic cell line</h4>
<h5>Small lymphocytes</h5>
<h6>Characteristics</h6>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/homotopMap2.png">
    <figcaption>Lymphoid stem cell line.</figcaption>
</figure>
<p>
    B lymphocytes have a rugged cellular surface, T lymphocytes present a relatively smooth cellular surface. They both present a cellular receptor at their surface, respectively BCR (Igm, Igα, Igβ) and TCR (αβ, CD3). T cells present a couple of other cell surface receptors, CD4 and CD8.
</p>
<ul>
    <li>
        B lymphocytes secrete antibodies.
    </li>
    <li>
        T lymphocytes are divided into three subcategories
        <ol>
            <li>
                Th – T Helper cell – Aids B cells in differentiation into plasmocytes.
            </li>
            <li>
                Tr – Regulate the immune response and eliminate B cells.
            </li>
            <li>
                Tc – Cytotoxic cells which are responsible themselves for directly killing invaders.
            </li>
        </ol>
    </li>
</ul>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/TCR.png">
    <figcaption>TCR and BCR cells.</figcaption>
</figure>
<p>
    These are cells which range in size from 8 to 10 micrometres in diameter, there are two types B and T lymphocytes. They can be observed under an optical microscope, they appear round and don’t squish out. The nucleus is very round and takes up almost all of the area inside the cell. There are few ribosomes in these cells and do not have specialised organelles. The Golgi apparatus is not very developed and there are few mitochondria
</p>
<h6>Role and physiology</h6>
<p>
    In birds there is a clear physiological distinction between two types of lymphocytes. This was made apparent through couple of a rather simple experiment both of which resulted in the loss of an adaptive immune response.
</p>
<ul>
    <li>
        A thymectomy was done on the bird by ablation of the thymus, this resulted in the loss of cell mediated responses. The chicken could thus no longer reject any implanted tissues.
    </li>
    <li>
        The Fabricius sack was removed and there was no longer a production of antibodies.
    </li>
</ul>
<p>
    In mammals there are also two distinct types of lymphocytes.
</p>
<ul>
    <li>
        Source of LT – In the thymus or the thoracic channel.
    </li>
    <li>
        Source of LB – They are found in the spleen of a mouse which has had its thymus removed “nude” (do not grow a thymus) mice can also be used.
    </li>
</ul>
<p>
    <strong>Miller's Experiment:</strong> CBA Mice which have had their thymus removed are injected with sheep blood cells which act as an antigen. Then the spleen is removed and its cells are put into culture on a gel at 37oC along with the compliment. Miller observed lysis at the spots where the cells were added.
</p>
<p>
    <strong>Results:</strong> We interpret this in the following manner: A normal individual is used as a control and is not injected with the antigen another is. The removal of the thymus provokes the loss of a cellular mediated response and diminishes the intensity of humoral responses. If the mouse is injected with the antigen again there is a smaller number of antibodies which are produced. This means that there is a very important relationship between the LB and the LT cells.
</p>
<p class="warning">
    This means that the antigen is thymo-dependent and the removal of which provokes a diminished response.
</p>
<p>
    <strong>Why:</strong> The B lymphocytes need stimulation from the T lymphocytes in order to turn into plasmocytes capable of producing antibodies. The T lymphocytes must migrate into the spleen (secondary lymphatic organ) in order to then go and activate the B lymphocytes. Once the T lymphocytes have done their jobs they are no longer necessary. <strong>Even if the B lymphocytes have recognised the antigen they cannot change by themselves into plasmocytes</strong>, they need the T lymphocytes.
</p>
<p class="warning">
    The response depends on the antigen that is being used, some antigens are known as thymo- dependent and some are known as thymo-independent: Sheep blood cell needs LB/LT interaction and Pneumococque does not require LB/LT interaction and can use only the LB cells.
</p>
<h5>Big granular lymphocytes</h5>
<h6>Characteristics</h6>
<p>
    These cells in general have very large golgi apparatuses.
</p>
<h6>Role and physiology</h6>
<p>
    The natural killer (NK) cells are present in the circulatory system they compose around 5 to 15% of the cells. They are present in lymphatic organs such as the spleen, the tonsils, and peripheral lymph nodes. They are also present in certain tissues such as the liver the lungs and the placenta. Their main role is that of guards and sentinel cells.
</p>
<p>
    These cells do not have a membranary Ig nor a TCR. They possess markers which denote them as belonging to the lymphatic cell line and the myeloid cell line.
</p>
<p>
    The main action of these cells is to eliminate cells which have been infected by viruses or have otherwise become cancerous. They are naturally cytotoxic and are capable of killing by perforine granzymes.
</p>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/NK.png">
    <figcaption>Natural killer cell acting on a normal cell.</figcaption>
</figure>
<p>
    <strong>Function:</strong> NK cells are either activated or deactivated by cell surface receptors, NK cells possess a KIR and KAR ligands which fix onto target cells CL1 and L receptors. A KAR – L interaction instructs the NK cell to kill and a KIR CL1 interaction instructs the cell to deactivate.
</p>
<h4>Myeloid cell line</h4>
<h5>Monocytes and macrophages</h5>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/homotopMap3.png">
    <figcaption>Myeloid stem cell line, plus dendritic cells and NK cells.</figcaption>
</figure>
<p>
    This cell line is produced from haematopoietic cells after differentiation. Monocytes circulate in the cardiovascular system macrophages on the other hand are stagnant.
</p>
<p>
    <strong>Monocytes</strong> are smaller than macrophages. They present a U shaped nucleus and small granules in the cytoplasm.
</p>
<p>
    There are no specific markers for macrophages other than maybe (CD11B). They have cell surface receptors which are none specific such as FCR (receptor for the fragment FC and Ig) and a receptor necessitating a complex (CR).
</p>
<p>
    <strong>Roles:</strong> Professional phagocytes are for eliminating specific antigensà macrophages. They present antigens to T lymphocytes as well known as APC (CPA).
</p>
<h6>Granulocytes</h6>
<h7>Neutrophils</h7>
<p>
    These cells compose 55% of all blood cells and are professional phagocytes which intervene in the antibacterial defences. They eliminate immune-complexes.
</p>
<ul>
    <p>
        They have granules which hold:
    </p>
    <li>
        Lactoferrine.
    </li>
    <li>
        Lysozyme (for bacterial cell wall destruction).
    </li>
    <li>
        Proteolytic enzymes.
    </li>
    <li>
        Peroxidase.
    </li>
    <li>
        Other bacteriocidic substances; impede bacterial division.
    </li>
</ul>
<h7>Eosinophils</h7>
<p>
    These cells compose 2% of all blood cells they present a distinct morphology and appear to have two nuclei – it is simply two lobed. They intervene in the defence against parasites.
</p>
<ul>
    <p>
        They have granules which hold:
    </p>
    <li>
        Major basic protein (MBP).
    </li>
    <li>
        Cationic protein (ECP).
    </li>
    <li>
        Neurotoxine.
    </li>
</ul>
<h7>Basophils and mastocytes</h7>
<p>
    These cells compose 0.5% of blood cells.
</p>
<ul>
    <p>
        They have granules which hold:
    </p>
    <li>
        Histamine (10x more in mastocytes) – Increases inflammation by increasing blood vessel permeability. This allows white blood cells to pass into the body tissue to defend the body.
    </li>
</ul>
<p>
    Hyper-sensibility of these cells can cause allergies.
</p>
<h3>Molecules of the immune system</h3>
<h4>Cytokines: Soluble messengers</h4>
<p>
    Cytokines are proteins of the immune system which are soluble. They assure communication between cells and allow for communication between the cells and the environment as well. They form a complex network of communication which controls inflammatory responses, antimicrobial responses, haematopoiesis, and the migration/activation of leucocytes. Cytokines are produced by immune cells and other types of cells as well (epithelial, endothelial, adipocytes...). Cytokines link themselves to specific cell surface receptors of a cell and act as signals which actuate either regulation or development of certain cell functions.
</p>
<p>
    The term cytokine is very general and groups together the interleukines (1-38), colony stimulating factors (CSF) and chimiokines. Here is a brief description of each category.
</p>
<ul>
    <li>
        <strong>Interleukines:</strong> Pleiotropic (one gene affects more than one phenotype) functions inlcude Il-1 – IL-38, TNFs, and IFNs.
    </li>
    <li>
        <strong>Colony stimulating factors (CSF):</strong> Constitutive products implicated in haematopoiesis they include growth factors such as GM-CSF, G-CSF, M-CSF, EPO, TPO, and so on.
    </li>
    <li>
        <strong>Chimiokines:</strong> These have chemo-attractive properties and control the migration of leucocytes, family of C-C, C-X-C.
    </li>
</ul>
<h4>Production and function of cytokines</h4>
<p>
    Cytokines are secreted by immune and non-immune cells, generally they call for a response to a stimulation. The link between the receptors and the cytokines are of high affinity and high specificity. Expression of these receptors is controlled by development and even by other cytokines. Signal transduction causes a direct change in gene expression and thus a change in phenotype or behaviour, this is how cytokines act upon their targets. Cytokines can have an effect even at very low concentrations even up to pg/ml.
</p>
<h4>Properties of cytokines</h4>
<p>
    <strong>Proximity:</strong> Cytokines can be divided into various groups based upon their proximity of action eg autocrine or paracrine. They are different from hormones which have only one endocrinitic action.
</p>
<ol>
    <li>
        <strong>Autocrine:</strong> They act on the secreting cell.
    </li>
    <li>
        <strong>Paracrine:</strong> They act on nearby cells
    </li>
</ol>
<p>
    <strong>Pleiotropy:</strong> Cytokines can have different biological effects on different cell types.
</p>
<p>
    <strong>Redundancy:</strong> Cytokines which are different can have the same biological effect on the same cell type eg IL-2, IL-12, IL-15.
</p>
<p>
    <strong>Action:</strong> The action of cytokines can be synergetic (the action of two is superior to just one) ig activation of T cells or antagonistic ig γ-interferon blocks the commutation of class for immunoglobulin E which is induced by IL-4 ig γ-interferon blocks IL-4.
</p>
<p>
    <strong>Cascade:</strong> The action of one cytokine on one target cell can induce the production of another or a variety of other cytokines which in turn can bring other cells to produce even more cytokines.
</p>
<h5>Main functions of cytokines</h5>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/venDiagram.png">
</figure>
<ol>
    <li>
        Cytokines are important in innate immunity and inflammation - IL-1, TNFα, IL-17, IL-8, IFN α and β, IL- 6.
    </li>
    <li>
        Cytokines are important in the adaptive immunity - IL-2, IL-15, IL-4, IL-13.
    </li>
    <li>
        Cytokines are important growth factors for haematopoiesis - SCF, M-CSF, G-CSF, GM-CSF, IL-6.
    </li>
    <li>
        Cytokines are important inhibitors and anti-inflammatories - IL-10, TGFβ, IL-13.
    </li>
</ol>
<h2>Antigens</h2>
<p class="warning">
    <strong>Antigen:</strong> Any biological or synthetic molecule which causes an immune response when introduced into the body and is capable of reacting with the products of the immune system.
</p>
<h3>Properties</h3>
<h4>Immunogenicity</h4>
<p>
    Immunogenicity is the potential of a substance to induce an immune response. This depends on various factors, for example:
</p>
<ul>
    <li>
        The species and state of the animal – its genome, immunological past, and physiological state.
    </li>
    <li>
        The degree of structural similarity of the antigen to the molecules of the target animal.
    </li>
    <li>
        The physical and chemical characteristics of the antigen:
        <ul>
            <li>
                Its size it must contain at least two epitopes in order to be fixed by an antibody.
            </li>
            <li>
                Its form if it is a particle or not.
            </li>
            <li>
                Its rigidity in order to be complementary to other paratopes.
            </li>
        </ul>
    </li>
    <li>
        The dose of the injected antigen.
    </li>
</ul>
<h4>Antigenicity</h4>
<p>
    Antigenicity is the capacity of a molecule to be recognised by the immune system. A substance can antigenic without being immunogenic.
</p>
<h3>Kinds of antigens</h3>
<p>
    Antigens can be classified into two main categories exogenous and endogenous.
</p>
<ol>
    <li>
        Exogenous-antigens are strictly foreign to the individual and can be divided into two subcategories.
        <ol>
            <li>
                Allogenic antigens come from another individual of the same species.
            </li>
            <li>
                Xenogenic antigens come from another animal species.
            </li>
        </ol>
    </li>
    <li>
        Endogenous-antigens on the other hand come from the host itself (auto-antigen) and are considered foreign (cryptic antigen) to the body.
    </li>
</ol>
<h4>Natural antigens</h4>
<p>
    There are a variety of molecules which can be antigenic (reminder – capacity of being recognised not necessarily immunogenic).
</p>
<p>
    Proteins are generally very immunogenic and are often used in vaccines. However, immunogenicity of a protein depends on its molecular weight or size if it is superior to 1.5 kDa and its similarity to the proteins of the host.
</p>
<p>
    Polyoses are repeated and ordered structures made up of repeating and identical epitopes. Polyoses are ubiquitous at the cell surface of microorganisms.
</p>
<ul>
    <li>
        Homopolyoses – Simple sugar which is repeated, eg Dextran (polymer of glucose)
    </li>
    <li>
        Heteropolyoses – A pattern of 2 to 6 sugars which repeat themselves.
    </li>
</ul>
<p>
    Lipids are not very immunogen except if associate to another molecule such as a protein (lipoprotein) or a glucid ([saccharide or carbohydrate] glycolipid).
</p>
<p>
    Nucleic acids present low immunogenicity, and anti-DNA antibodies do exist eg lupus. Its immunogenicity can be increased through association with proteins ig nucleoproteins.
</p>
<h4>Artificial antigens</h4>
<p>
    Molecules which are inferior to 1.5 kDa have only one epitope (antigenic determinant) and are known as haptens and are non-immunogen by themselves. In order to render these molecules immunogenic scientist have had to link them to carrier proteins. These proteins carry at least one other epitope. This is what renders the molecule immunogenic – this means that it is now capable of reacting with the results of an immune response.
</p>
<h4>Synthetic antigens</h4>
<p>
    These are macromolecules which are obtained by amino acid polymerisation.
</p>
<h3>Antigenic valence</h3>
<p>
    Antigenic valence is the number of antibodies which are capable of affixing themselves unto one molecule at a time. This property is proportional to the surface area of a molecule. Here is a small table detailing some examples and their sizes relative to their valence.
</p>
<table>
    <thead>
        <tr>
            <th>Antigen</th>
            <th>Molecular Weight</th>
            <th>Valence</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Myoglobin</td>
            <td>17,000 Da</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Albumin serum</td>
            <td>70,000 Da</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Hemocyanin</td>
            <td>6.5 x 10<sup>6</sup> Da</td>
            <td>75</td>
        </tr>
    </tbody>
</table>
<p>
    However, it is important to note that the valence of a molecule does not directly correspond to the number of epitopes on the molecule. A molecule may present a great number of different epitopes all capable of being attached to an antibody however, steric overcrowding may hinder antigenic valence and reduce the number of antibodies capable of affixing themselves to the antigen.
</p>
<h3>Epitope</h3>
<p>
    An epitope is a three-dimensionally structured region of an antigen where an antibody can fix onto. An epitope profile is dependent on the three-dimensional folding of the protein; some epitopes may be accessible while other remain out of reach to the immune system. Proteins can be denatured and unfolded, this allows full access to all epitopes available on a given antigen. However, protein denaturation can also lead to the loss of certain other epitopes which were created from the association of distant amino acids on the same chain which were only brought together by protein folding.
</p>
<p>
    Continuous epitopes are formed by a primary sequence in adjacent amino acids. These are the ones which we use to create vaccines since the injected proteins are almost always denatured.
</p>
<p>
    Conformation epitopes are formed by a group of amino acids which are distant on the same polypeptide chain, they only form a functional epitope when they fold into the correct three-dimensional structure.
</p>
<h3>Thymo-dependent and thymo-independent antigens</h3>
<h2>The innate immune system</h2>
<h4>Superficial defence mechanisms</h4>
<h5>Physical barriers</h5>
<p>
    The skin is a good physical barrier to the outside world. The skin is continuously moving, pushing out and creating new cells through a process known as desquamation. The mucosal membranes are also important for separation from the outside world. The most important being, respiratory, intestinal, genito-urinal, and ocular. They act in more or less the same way whereby they produce mucous to continuously wash away any potential invaders. The respiratory system has a system of cilia and mucous production, the digestive tract has a peristaltism (stomach contractions) and the eyes blink and lashes protect them from foreign bodies while lacrimal glands wash away potential threats.
</p>
<h5>Biological and biochemical barriers</h5>
<p>
    The acidity of certain body parts can vary and present hostile environments to any potential pathogens stomach produces large quantities of acid, the urinary tract and vagina are also acidic in nature. Enzymes are produced by the body as well eg lysozymes proteolytic enzymes which are produced by the pancreas. There are toxic fatty acids present on our skin, and finally lactoferrin (protein) in the blood stops bacterial cell divisions.
</p>
<h5>Ecological barriers</h5>
<p>
    There are also ecological barriers present in the body which stop invading pathogens from setting up home. Intestinal fauna takes up the available resources and directly competes with any invading pathogens.
</p>
<h4>Deep defence mechanisms</h4>
<p>
    These mechanisms are a suite of biological activations which result in a inflammatory reaction. The inflammatory response provokes the following:
</p>
<ul>
    <li>
        The creation of a hostile environment for microorganisms.
    </li>
    <li>
        Elimination by phaogocytosis.
    </li>
    <li>
        Tissue repair.
    </li>
</ul>
<p>
    Phagocytic cells are recruited through chemeotactism. They follow a gradient of chimiotactical chemicals to find the infection site.
</p>
<p>
    Invading microorganisms adhere to phagocytic cells through a the pathogen recognition receptor (PRR) which recognise the molecular parterns of certain families of microorganisms or molecules through the pathogen associated molecular pattern (PAMP).
</p>
<p>
    PRR example:
</p>
<ul>
    <li>
        TLR2: Bacterial peptidoglycans are recognised gram-.
    </li>
    <li>
        TLR4: Bacterial LPS gram-
    </li>
    <li>
        CD14: LPS / LBP.
    </li>
    <li>
        Mannose Fucose Receptor (MFR): Glycoproteins of bacteria.
    </li>
    <li>
        Scavenger receptor (SR): Cellular and bacterial lipids.
    </li>
</ul>
<p class="warning">
    These are general patterns which are recognised and preprogramed by the body
</p>
<p>
    There is either a direct or indirect attachment which is done, in the case of indirect an opsonine intermediary may be used to then englobe the antigen. FcR and opsonine arrive later in the adaptive immune response. The next step is the phagocytosis and the creation of a phagosome.
</p>
<p>
    The final step is digestion and destruction. The phagolysosome liberates digestive enzymes. In certain cells destruction may be complete this is the case with neutrophils. In others the antigen may be only partially digestion and then incorporated into the MHC of the cell.
</p>
<p class="warning">
    To recap, the steps of antigen elimation are: Recognition, Fixation, Phagocytosis, Digestion.
</p>
<p>
    Lysis mechanism – After fusion of the phagosome to a lysosome lysis is done independently of oxygen, there is a production of a variety of bactericidic substances such as lactoferrine, lysosomes and other proteolytic enzymes. Oxydative explosion may be a tactic used whereby the cell will produce reactive oxygen species which are toxic to cells such as O<sub>2</sub><sup>-</sup>, OH<sup>-</sup>, H<sub>2</sub>O<sub>2</sub> through the activation of the NADH oxydase enzymatic system.
</p>
<h2>The adaptive immune system</h2>
<h3>Immunoglobulins and B lymphocytes</h3>
<h4>Definitions</h4>
<p>
    Glycoproteins are present in the plasma of blood and the lymphatic fluid of the body as well as other extravascular liquids which may contain active antibodies. Active antibodies are capable of linking onto a specific epitope. Glycoproteins present themselves at the surface of the B lymphocyte memebrane and are capable of being secreted by plasmocytes. Immunoglobulins are a very heterogenous class of proteins and in mammals there are the following: G, A, M, E, D.
</p>
<h4>Immunoglobulin strucutre</h4>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/antibodyStructure.jpg">
    <figcaption>Antibody strucutre.</figcaption>
</figure>
<p>
    Immunoglobulins are also known as antibodies. These proteins are constituted of 4 chains of proteins total, 2 heavy and 2 light. The heavy chains link together through di-sulfer bonds and the light chains are fixed onto the heavy ones through the same bond type. Each chain is constituted of a variable part and a constant part. Immunoglobulin has two sites of bondage to an epitope known as paratopes.
</p>
<p>
    Light chains are common to all classes of immunoglobulins and are named kappa, and lambda. Heavy chains are specific and vary depending on the class of immunoglobulin, they are the following with their associated class denoted by a Latin letter: Gamma G, Alpha A, Mu M, Epsilon E and Delta D.
</p>
<h4>Structural duality: The domains</h4>
<p>
    The amino acids which are conserved are mostly in the C-terminal ends of the heavy chains. The N-terminal end of the same protein chain is the most variable. The same is true of the light chains. Each chain is composed of a constant region and a variable region. A variable region may present in itself 3 hyper variable regions known as the complementarity determining region (CDR). In between each CDR are regions knowns as hinges or frameworks (FRn). The folding of the framework FRn region affects the formation of a paratope. The amino acids which constitute these regions are relatively constant.
</p>
<p class="wanring">
    The Edelman hypothesis: Edelman states that there is more homology between the constant region of the light chain and the constant region of the heavy chain than there is between the two light chains themselves.
</p>
<p>
    Each of the domains in an antibody VH, VL, CH, CL, possess independent thermodynamic properties which allow them to achieve the correct conformation. These structures and properties have arisen over time through evolution, there has been independent action on each of the domains which has either favoured or disfavoured the appearance of a specialise region. The heavy chain has intercatenary regions which allow for the formation of 4 regions of 110 amino acids.
</p>
<p>
    Homology is due to secondary structure and protein folding. Two esnembles of beta sheets, one of which has 4 folds and the other 3 are antiparallel. These sheets are linked together through an intercatenary bond which leads to the formation of a cylinder. These sheets have each much flexibility which is due to the glycine present in the chains.
</p>
<p>
    Here is a small list of the immunoglobulin families:
</p>
<ul>
    <li>
        Ig-like TCR has two domains.
    </li>
    <li>
        Class 2 MHC.
    </li>
    <li>
        CD3.
    </li>
    <li>
        CD4.
    </li>
    <li>
        PDGFR.
    </li>
    <li>
        NCAM.
    </li>
</ul>
<p class="warning">
    None have the same function they are just homologous in their secondary structure.
</p>
<h4>Structural function duality</h4>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/antibodyMol.png">
    <figcaption>A surface cartoon representation of an antibody; Fab and FC regions marked.</figcaption>
</figure>
<p>
    This duality is made clear when cleaved with pepsin and papain. Pepsin cuts the di-sulfur bonds between the two heavy chains in the immunoglobulin and the papain just above to the part linking to the paratope.
</p>
<p>
    There are a few main regions to an immunoglobuline:
</p>
<ol>
    <li>
        F(ab)'<sub>2</sub> This is the antigen binding site, two fragments are obtained after pepsine digestion – di-sulfur bonds.
    </li>
    <li>
        Fc This is the constant fragment and is obtained after papain digestion.
    </li>
</ol>
<p class="warning">
    The two variable parts of both chains, heavy and light, constitute the paratope.
</p>
<p>
    The structure of the paratope contains the 3 CDRs (complementarity determining region – this is the part of the variable region which can be hyper variable and thus determine the antigen specificity of the antibody). The amino acids of the framework region Frn maintain the integrity of the paratope. The Frn regions play a role in the folding of the variable domains as well.
</p>
<p>
    The link which is formed between paratope and the epitope is not a covalent bond. It is a weak bond type made up of many hydrogen bonds, and Van der Waals bonds, as well as electrostatic bonds and hydrophobic interactions.
</p>
<h4>AG-AB reaction</h4>
<h5>Variable parts</h5>
<p>
    There is perfect complementarity between the epitope and paratope. The attraction is strong and repulsion very small between the two. When complementarity is imperfect the induction of certain forces can cause repulsion thus a weak link between the two.
</p>
<p>
    <strong>Antibody affinity:</strong> Designates the force with which one paratope links to an epitope. It is the ensemble of attractive forces and repulsive forces that link the paratope to the epitope. For the force of affinity to be net positive the force of attractive forces has to be greater than the sum of the repulsive forces – weak affinity is due to the inverse being true.
</p>
<p>
    <strong>Antibody avidity:</strong> The force with which a multivalent antibody will link to a multivalent antigen. The avidity depends on the affinity of each site of the antibody for each epitope site. The force of avidity is superior to the sum of all affinity forces.
</p>
<h5>Constant parts</h5>
<p>
    These functions differ from class to class:
</p>
<ol>
    <li>
        IgG/IgM: The constant part increases phagocytosis and allows fixation of the compliment. The compliment which fixes the Ig will have recognised the antigen and thus favour elimination of this complex.
    </li>
    <li>
        IgG: Allows for neonatal immunity (passes through the placentae). Is responsible for cytotoxicity which is mediated by the ADCC antibodies.
    </li>
    <li>
        IgE: Causes hypersensitivity (allergies)
    </li>
    <li>
        IgA: Mucous immunity
    </li>
    <li>
        
    </li>
</ol>
<h4>Immunoglobulin classes</h4>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/antibodies.png">
    <figcaption>Depiction of all antibody types.</figcaption>
</figure>
<p>
    There are monomers, dimers, and pentamers. Dimeric Ig or pentameric ones are bound together thanks to a J-chain rich in cysteine.
</p>
<h5>IgG: Valence 2, 2nd IR Infectious agents</h5>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/igG.jpg">
    <figcaption>IgG antibodies.</figcaption>
</figure>
<p>
    The most well-known – IgG – composes the majority of human blood serum; around 70-75% of all circulating antibodies. Its structure is very general: Vgamma and C1, 2 and 3 gamma.
</p>
<p class="warning">
    IgG is always monomeric.
</p>
<p>
    Most antibodies have a molecular weight of around 146 kDa and a sedimentation coefficient of 7s. They play a role in the neutralisation of infectious agents. And are mostly involved in the secondary immune response. There exist four sub classes of IgGs which differ in the number of disulfer bonds which exists between the two heavy chains.
</p>
<ol>
    <li>
        IgG2 – Which has four disulfer bonds.
    </li>
    <li>
        IgG3 – Which has fifteen disulfer bonds and has a half-life of about 3.5 days.
    </li>
    <li>
        IgG1/4 – Which has two disulfer bonds and a half-life of about 10.5 days.
    </li>
</ol>
<h5>IgM: Valence 5, (10 theoretically), 1st IR Bacteria and CSR in immature LB</h5>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/antibody_igM.png">
    <figcaption>IgM pentameric antibody.</figcaption>
</figure>
<p>
    IgM makes about 10% of all blood serum circulating antibodies. It has a pentameric structure and contains 4 constant domains C&mu;: 1, 2, 3, 4. Its molecular weight is of around 960 kDa and its sedimentation coefficient is 19s. It has a small J-chain linking together its bridges between CH3 and CH4.
</p>
<p>
    Is primary function being to intervene against bacteria it neutralises infection agents and is important in the primary immune response. It is one of the first things to come into action after contamination.
</p>
<p>
    It has a second function that is as a cell surface antigenic receptor for immature B lymphocytes. In this role IgM is monomeric.
</p>
<p class="warning">
    IgM has a theoretical valence of 10 but in reality most often just 5 because of steric hindrance.
</p>
<h5>IgA: Mucous membranes</h5>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/antibody_igA.png">
    <figcaption>IgA dimeric antibody.</figcaption>
</figure>
<p>
    IgAs make up about 15-20% of all circulating antibodies in blood serum. They are split into two types.
</p>
<ol>
    <li>
        <strong>Steric:</strong> Made of a monomer which is characterised by a Valpha chain and 3 constant domains for a total weight of 160 kDa and a sedimentation rate of 7s. In this type there are two subclasses.
        <ol>
            <li>
                IgA1
            </li>
            <li>
                IgA2: Does not have disulfur bonds between its light chains and heavy chains. The light chains are on the inside between the heavy chains.
            </li>
        </ol>
    </li>
    <li>
        <strong>Exocrine:</strong> The structure is dimeric and has a weight of 400 kDa and has a sedimentary coefficient of 11s. There is an extra piece in this IgA called an S piece which confers a resistance to protein digestion in the mucous membranes. This piece comes from the cleavage of the Fc alpha receopter during its transportation.
    </li>
</ol>
<p>
    The function of this IgA is mostly to be secreted in the mucous membranes such as saliva, respiratory and colostrum.
</p>
<h5>IgD: Antigenic receptor for mature LB</h5>
<figure>
    <img class="lazy" data-src="/courses/documents/immunology/antibody_igD.png">
    <figcaption>IgD antibody.</figcaption>
</figure>
<p>
    These represent around 1% of antibodies in the blood serum, it’s a monomeric molecule constituted of three constant parts. Its molecular weight is of 176 kDa with a sedimentary coefficient of 7s. Its main role is as a antigenic receptor in mature B lymphocytes and can eventually be used to help maturation of LB.
</p>
<h5>IgE: Allergies and antiparasite associated with eosinophils</h5>
<p>
    There are only trace amounts in the blood serum of this Ig. It is characterised by heavy chain which has 4 domains C&epsilon;: 1, 2, 3, 4. Its function comes from its Fc fragment which will affix onto a mastocyte and act in case of allergies. They also intervene in case of parasite invasion; in this case they associate to eosinophils.
</p>
<h4>Ontogeny (production) of antibodies</h4>
<p>
    Feotuses are capable of producing immunoglobulins early on as early as the 10 week of developpement. However, they do not produce any Ig other than the M class. Diagnosis is important for detecting early illneses such as congenital syphilis.
</p>
<p>
    At birth a high number of IgG come from the mother. Two to three months after birth the number of IgGs drops and the baby is very vulnerable.
</p>
<p>
    Adult levels of IgM production are met at the age of 1 year. For IgG it does not reach basal levels until 2 years of age. The total nuber of Igs are met at puberty.
</p>
<h4>Heterogeneity of IgS</h4>
<p>
    When we inject Igs into an animal an immune response is made against these same antibodies – anti-antibodies are made.
</p>
<h4>Isotype</h4>
<p>
    At the heavy chain on its constant region: Differences due to gene difference in this region produces the different classes of Igs. The isotypes are made of different antigenic patterns among the same species.
</p>
<h4>Allotype</h4>
<p>
    Differences can be found at the level of the constant regions due to different alleles of the same gene. These variations produce different antigenic determinant.
</p>
<p>
    The allotypes are antigenic determinants which differ from group to group in individuals in the same species.
</p>
<h4>Idiotype</h4>
<p>
    Oudin’s experiment made this evident through the use of two rabbits a and b. Rabbits have their own identical allotype formula.
</p>
<p>
    At the variable region of antibodies are found antigenic determinants which we call the idiotype. Idiotype is the sum of all of the antigenic determinants at the variable region of an Ig.
</p>
<p class="warning">
    Idiotope is the paratope.
</p>
<p>
    We can produce antibodies which are anti a certain idiotype which can be the representation of the internal epitope or not.
</p>
<p class="incomplete">
    Jerne hypothesis.
</p>
<h4>Secreted antibodies and membranary antibodies</h4>
<p>
    Igs which are secreted have sumply lost their cytosolic region and are comparable to membranary antibodies. They are produced through alternative splicing.
</p>
<h4>Antigenic receptor maturation and expression of B lymphocytes</h4>
<p class="warning">
    <strong>Heavy chain rearrangements:</strong> 1 H chain is = Variable region + the constant region = VDJ segments + C segment. Rearrangements are somatic which are done in the nucleus of the cell at its DNA.
</p>
<p class="warning">
    <strong>Rearrangement of the light chain:</strong>1 L chain = Variable region + the constant region = segments VJ + C segment. Cellular precursors for the immune system have nothing at their cell surface.
</p>
<p>
    CS precurosors CS (come out of the bonne marrow) have a cytoplasmic μ chain which becomes a pre B lymphocyte then it becomes the immature B lymphocyte which will have IgM at its surface. B lymphocytes will mature and then have IgM and IgD.
</p>
<p>
    Mature B lymphocytes circulate in the lymphatic system and the blood system. They meet antigens and will then be activated and proliferate. There after lymphocytes will be able to differentiate and become either plasmocytes or B memory lymphocytes.
</p>
<p>
    The plasmocytes which are secreted are IgM pentameric versions. IgA/G/E can be produced afterwards depending on the situation (M become another class of Ig through class commutation).
</p>
<h4>Class commutation</h4>
<p>
    After antigen recognition a B lymphocyte becomes activated and corresponds to the changing of the Ig class this is called isotype switching.
</p>
<p class="warning">
    The association of the same variable part and a different constant part is done in order to obtain a different class of Ig.
</p>
<p>
    Class commutation between M and D is done through alternative splicing.
</p>
<h3>TCR/CD3 and T lymphocytes</h3>
<h4>Antigenic receptor (TCR)</h4>
<h5>Structure</h5>
<ul>
    <li>
        90% of T lymphocytes have TCR alpha/beta.
    </li>
    <li>
        10% of T lymphocytes have TCR with Y/delta these intervene in the innate immune response.
    </li>
    <li>
        Alpha/beta TCR have two chains alpha and beta. These two chains each have a constant and a variable region.
    </li>
    <li>
        We only have one site of recognition and so one site of bondage to the epitope at the TCR.
    </li>
    <li>
        The beta chain resembles more a heavy chain.
    </li>
</ul>
<h5>Gene rearrangements for TCR production</h5>
<p>
    Rearrangements of the D and J are made to produce the heavy chain which are added onto a V+ constant region. Each light chain is an association of V and J plus a constant region.
</p>
<h5>Role</h5>
<p>
    The MHC of the self must present an antigenic fragment to the TCR of the T lymphocyte. The TCR recognises this associated peptide and the MHC this is a double “antigen” recognition. Unlike antibodies of which both paratopes only recognise only one and the same epitope. There is a phenomen of restriction at the MHC of the self.
</p>
<h3>CD3 multimolecular complex</h3>
<h4>Structure</h4>
<p>
    5 Chains - gamma / delta / epsilon / and 2 more in mice. The CD3 presents a long extracellular Ig like domain. In mice 90% of the chains are zeta/zeta and 10% are eta/zeta. Each mouse has an intracellular part that is longer than in humans.
</p>
<p>
    Each transmembranary domain has amino acids which are negatively charged this allows for there to be ionic bonds to the positive amino acids of the TCRs transmembranary part.
</p>
<p>
    CD3 chains have a ITAM pattern this is the pattern of activation which depends on tyrosine which after stimulation of the TCR will come into contact with intracytoplasmic tyrosine kinases.
</p>
<p>
    On the eta/zeta chains there are 3 ITAM patterns.
</p>
<p>
    The CD3 associates to the SU epsilon/delta or epsilon/gamma and with a ITAM pattern for each complex.
</p>
<h4>Role</h4>
<p>
    Responsible for the expression of a complete TCR/CD3 thanks to the zeta chain. Responsible for the comodulation of the TCR/CD3 complex through the gamma and delta chains. Responsible for signal transduction to the inside of the cell notably by the zeta chain which calls fo cell activation and proliferation in T lymphocytes.
</p>
<h3>T lymphocyte development</h3>
<p>
    Stem cells give off precursor T lymphocytes. They then migrate from the bone marrow onto the thymus. Immature T lymphocytes express CD4/CD8 during maturation they migrate from the thymus cortex into the medulla. Then they go on to circulate onto the secondary lymphatic organs.
</p>
<p>
    Immature thymocytes do not express CD4/CD8 they are negative for TCR.
</p>
<p>
    Association to a pre alpha chain is done to make the pre-TCR this is called a pseudo alpha chain. Then there is transformation from a double negative for CD4/CD8 to double positive for CD4/CD8 and a pre-TCR is expressed.
</p>
<p>
    Rarrangments of the alpha chain will be made. This will definitvily associate the beta chain to form a TCR.
</p>
<p>
    The thymocytes will then undergo new selection processes to become CD4+ (lymphocyte helpers) or to expres CD8+ (precursor cytotoxic lymphocyte).
</p>
<p>
    There is firstly a positive selection that is done, to select for T lymphocytes which only have MHC of the self.
</p>
<p>
    The link with the MHC class 2 will give a CD4+ lymphocyte through simple interaction and a loss of the CD8 receptor.
</p>
<p>
    Negative selection there is elimation of T lymphocytes which react with the self. A cell death signal is induced after presentation of a self peptide is made.
</p>
<h3>Histocompatibility molecules and CPA</h3>
<p>
    These molecules are membranary polypeptides which defin the self they are specific to the organism.
</p>
<p>
    These molecules are coded for by the MHC major histocompatibility complex.
</p>
<ol>
    <li>
        In humans: HLA
    </li>
    <li>
        In mice: H2
    </li>
</ol>
<p>
    This complex is an ensemble of polygenic genes and polymorphic genes (multi-allelic) which are expressed through a co-dominant mechanism.
</p>
<p>
    The products of the the MHC genes are expressed in a manner so that the different alleles of both chromosomes are expressed. Each parent gives their allele. This makes an organ transplant between parent and child impossible.
</p>
<h4>Molecular structure of the MHC</h4>
<div class="numHeadersCont">
    <div class="numHeaders">
        Class 1
    </div>
    <p>
        Class 1 are transmembranary glycoproteins which each have one chain and three domains – alpha 1 and alpha 3. The alpha chain is coded by the MHC. There is a beta2m subunit which is bound to this chain. The site of bonding is at the CD8 and is located on the alpha 3 part of the chain.
    </p>
    <p>
        In humans there are three loci which code for the alpha chains A, B, and C.
    </p>
    <p>
        In mice there are three as well, K, D and L.
    </p>
    <p>
        Each class 1 molecule is expressed by all cells of the organism which contain a nucleus.
    </p>
    <div class="numHeaders">
        Class 2
    </div>
    <p>
        Class 2 have 2 chains alpha and beta each containing two extracellular domains 1 (alpha1/beta1) and 2 (alpha2/beta2). However, these 2 chains are very similar in structure. The B2 part is carries the linking site to for the CD4 receptor.
    </p>
    <p>
        There are three loci in men DP, DQ and DR.
    </p>
    <p>
        Two loci in mice which code for the IA, and IE molecules.
    </p>
    <p>
        These class 2 molecules are expressed only by CPA cells (dendrites macrophages and LB)
    </p>
</div>
<h4>Roles of the MHC classes</h4>
<p>
    They are necessary for the presentation of the antigen to the mature lymphocytes.
</p>
<p>
    Th (helper) lymphocytes reinforce the MHC interaction with the CPA/TCA thanks to a CD4.
</p>
<p>
    These T lymphocytes are directors of the immune response. After their activation they will secret a number of cytokines and other factors to orient the immune response towards a humoral type or a cellular one.
</p>
<p>
    For cytotoxic T lymphocytes the CD8 molecule increases interaction between the T lymphocyte and the MHC 1 of any cellular target.
</p>
<p>
    The T CD8 lymphocyte is an effector of the cellar mediation immune system. It recognises and lyses any infected or anormal cells.
</p>
<h4>Professional CPA cells</h4>
<p>
    Conditions to be a professional CPA:
</p>
<ol>
    <li>
        Capable of phagocytosis and digestion of the antigen.
    </li>
    <li>
        Expression of class 2 MHC molecule
    </li>
    <li>
        Expression of B7 (CD80 and CD86) costimulating molecules that allow to generate the secondary activation signal (necessary to activate a naïve lymphocyte)
    </li>
</ol>
<h3>Dendritic cells</h3>
<p>
    The most efficient CPAs are dendritic cells. They are present at the immature sentinel state. They are then activated under the action of an antigen and a danger signal. Thereafter they can be transformed into mature dendritic cells found in the secondary lymphatic organs.
</p>
<ol>
    <li>
        In the case of cells:
        <li>
            <li>
                They are capable of capturing an antigen; endocytosis/phagocytosis.
            </li>
            <li>
                They are incapable of activating T lymphocytes.
            </li>
        </ul>
    </li>
    <li>
        They are capable of capturing an antigen and activating T lymphocytes (mature).
    </li>
</ol>
<p>
    There is a costimulation signal necessary in order to avoid the activation of autoreactive T lymphocytes.
</p>
<h3>Macrophages</h3>
<ul>
    <li>
        No stimulation: weak expression of class 2 MHC and no expression of costimulators.
    </li>
    <li>
        Under infection: Work to increase class 2 MHC and express costimulation molecules.
    </li>
    <li>
        No migration to secondary lymphatic organs necessary:
        <ul>
            <li>
                Local amplification
            </li>
        </ul>
    </li>
    <li>
        Strong phagocytic capacities: They repair damaged tissue
    </li>
</ul>
<h3>B Lymphocytes</h3>
<ul>
    <li>
        These CPAs are specific to only one antigen.
    </li>
    <li>
        Their expression is constitutive of class 2 MHC, no costimulators.
    </li>
    <li>
        Recognition of soluble antigens:
        <ul>
            <li>
                The most important in secondary immune response.
            </li>
            <li>
                Most effective if there are weak concentrations of antigens.
            </li>
        </ul>
    </li>
    <li>
        Costimulation can be induced if there is an infection.
    </li>
</ul>
<h4>Activation and anergy (self-tolerence) of T lymphocytes</h4>
<ul>
    <li>
        CD3 transmits an antigen specific message.
    </li>
    <li>
        CD28 produces a second signal; non-specific:
        <ul>
            <li>
                Activation is done and there is interleukine 2 production.
            </li>
        </ul>
    </li>
</ul>

<h1>Cellular cooperation</h1>
<h2>Reminders: antigens, thymo-dependent/independent</h2>
<p>
    To eliminate a thymo-dependent antigen there must be the help of the T lymphocytes. If it is a thymo- independent antigen then T lymphocytes are not involved.
</p>
<div class="note">
    The difference is due essentially to the structure.
</div>
<p>
    Antigens which are thymo-dependent have repetitive epitopes this results in the cross-linking of IgMs and thus activation of B lymphocytes and so production of IgM.
</p>
<p>
    Only IgM is produced when the antigen is thmyo-independent and there is no immunological memory.
</p>
<table>
    <tr>
        <th></th>
        <th>Thymo independent</th>
        <th>Thymo independent</th>
    </tr>
    <tr>
        <th>Structure</th>
        <td>Simples epitopes repetitive</td>
        <td>Complexes varied epitopes</td>
    </tr>
    <tr>
        <th>Degradation/CPA</th>
        <td>Not required</td>
        <td>Obligatory</td>
    </tr>
    <tr>
        <th>Presentation CMH 2</th>
        <td>Not required</td>
        <td>Obligatory</td>
    </tr>
    <tr>
        <th>Cooperation</th>
        <td>Not required</td>
        <td>Obligatory</td>
    </tr>
    <tr>
        <th>Isotype of antibody products</th>
        <td>M</td>
        <td>M, G, A, E</td>
    </tr>
    <tr>
        <th>Memory</th>
        <td>No</td>
        <td>Yes</td>
    </tr>
</table>
<!-- <h2>CD4+ T lymphocyte activation: director of the immune response</h2> -->

<!-- <a aria-describedby="foot-label" href="#link">LINK</a> -->
<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <!-- <li id="">
        
    </li> -->
</ol>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
