<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
        content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">

    <%- include ../templates/includes/head.ejs %>

    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>
            <h1>Introduction to Statistics</h1>
            <h1>Mean, median, and mode</h1>
            <p>
                These properties allow us to put number sets into perspective; to see the middle numbers and the relationship of the central mass of the data to the outliers.
            </p>
            <br>
            <ul>
                <li>
                    Mean: The average, sum of all points divided by the number of all points.
                </li>
                <li>
                    Median: The centre of the data set if all points are aligned in order.
                </li>
                <li>
                    Mode: The most frequent/repeating point.
                </li>
            </ul>
            <h2>Mean</h2>
            <p>
                The mean is great for talking about data that is <strong>normally</strong> distributed. meaning that the data is equally spread out on both sides, with the most common values appearing in the middle.
            </p>
            <figure>
                <img class="lazy" data-src="/courses/documents/introduction-to-statistics/statsNormalDist.png">
                <figcaption>A typical normal distribution of an arbitrary data set, note the blue line in the centre represents the mean.</figcaption>
            </figure>
            <p class="note">
                <strong>Distribution</strong> shows us how often each value occurs in a data set; otherwise called a frequency.
            </p>
            <h2>Median</h2>
            <p>
                Allows us to reduce the influence of extreme values, outliers, on a data set. It is the central number with data lined up in order. If two numbers are in the central point then we take the man of both to produce the median. The median shows the central number, both sides are as A- and B are equal.
            </p>
            <h1>Introduction: Statistics</h1>
            <p>
                What is statistics? It's a methodology in mathematics that allows us to do the following:
            </p>
            <ul>
                <li>
                    Collect data
                </li>
                <li>
                    Visualise data
                </li>
                <li>
                    Process data
                </li>
                <li>
                    Interpret data
                </li>
            </ul>
            <p>
                When referring to data, statistics often allows to do these things on a massive scale. In the era of big-data"" in biology this is of course very interesting.
            </p>
            <p>
                Some computer programmes that allow us to deal with data and statistics are the following:
            </p>
            <ul>
                <li>
                    Xlstat Based on Excel
                </li>
                <li>
                    Minitab
                </li>
                <li>
                    SPSS
                </li>
                <li>
                    SPAD
                </li>
                <li>
                    Statgraphics
                </li>
            </ul>
            <p>
                There are a couple standard ones that allow us to work in a command line environment; R and Matlab. JavaScript can also be used with the help of the correct libraries, one that I found recently and will have to take a deeper look into is: <a href="https://gojs.net/latest/index.html?utm_source=webdev&utm_medium=orgchart&utm_term=javascript&utm_content=samples&utm_campaign=reddit">GoJS</a>.
            </p>
            <h2>Basic Concepts: Variable</h2>
            <p>
                Each measure is called an <strong>observation</strong>. For one instance we can have multiple measures, thus multiple observations. A <strong>statistical series</strong> is thus an ensemble of observations.
            </p>
            <p>
                <strong>Quantitative Variables:</strong> A variable can be a variety of things. It can be: quantitative, the height of a man, number of accidents. It can either be continous, such as the height of a man, or discontinous such as the number of accidents; which can only be expressed by whole integers.
            </p>
            <p>
                <strong>Qualitative Variables:</strong> It can also be qualitative and thus descriptive. Such as, the colour of vehicules, the sex of a person. Here each possibility is called a modality or a class: <a href="../../../dictionaries/dicFormulas.html#FDic_classModality">Class or Modality</a>.
            </p>
            <p>
                Moreover a quantitative variable can be expressed in qualitative ordinal form by constituting classes d'appartenance"".
            </p>
            <p>
                <strong>Example:</strong> Consider a population of employees in France. A monthly salary S is the quantitative variable we are measuring. We can thus construct the variable SO which is an ordinal qualitative variable and holds four modalities or classes:
            </p>
            <ul>
                <li>
                    Class 1: S &lt; 10 000
                </li>
                <li>
                    Class 2: 10 000 &lt; S &lt; 20 000
                </li>
                <li>
                    Class 3: 20 000 &lt; S &lt; 30 000
                </li>
                <li>
                    Class 4: S &gt; 40 000
                </li>
            </ul>
            <p>
                <strong>Census:</strong> A study of all individuals from a specific population. This is difficult in practice when dealing with large populations.
            </p>
            <p>
                <strong>Survey:</strong> The gathering of data points from a specific population. The part of this population that is studies is called the <strong>sample</strong>. The gathering of survey data from an initial population is done by statistical techniques called: <strong>Sampling Methods</strong>.
            </p>
            <h3>Example: Flow of the Nile</h3>
            <p>
                We are interested in the flow of the Nile river between <span>1870 and 1970</span>.
            </p>
            <ul>
                <li>
                    Variable studied: Flow in kilo Liters
                </li>
                <li>
                    Population: 100 years, 1970-1870
                </li>
                <li>
                    One individual: The year 1900 for examle
                </li>
                <li>
                    Statistical series (one dimensional):
                </li>
                <li>
                    1120 1160 963 1210 1160 1160 813 1230 1370 1140 995 935 1110 994 1020 960 1180 799 958 1140 1100 1210 1150 1250 1260 1220 1030 1100 774 840 874 694 940 833 701 916 692 1020 1050 969 831 726 456 824 702 1120 1100 832 764 821 768 845 864 862 698 845 744 796 1040 759 781 865 845 944 984 897 822 1010 771 676 649 846 812 742 801 1040 860 874 848 890 744 749 838 1050 918 986 797 923 975 815 1020 906 901 1170 912 746 919 718 714 740
                </li>
            </ul>
            <p>
                Note that in order to truly understand you have to start now, by abstracting your current known meaning of these words we will use: population, individual etc.
            </p>
            <h1>Law of Probabilities</h1>
            <p>
                In the laws of probabilities you can have two cases, discrete and continous probabilities.
            </p>
            <ul>
                <li>
                    Discret: Binomial law, Poisson...
                </li>
                <li>
                    Continous: Normal law, Law of Chi2...
                </li>
            </ul>
            <p>
                In discret cases the law of probability noted <span>P(X)</span> is assinged the probability of <span>p(X=u)</span> at each value of u which belongs to an ensemble of possible values taken from the random variable <span>X</span>.
            </p>
            <p>
                In continous cases the law of probability noted <span>P(X)</span> is assinged the probability of <span>P(a &le; X &le; b)</span> within the specific interval <span>[a, b]</span> which in turn belongs to the space <span>X</span>.
            </p>
            <p>
                To put things into stupid so that I can understand it myself a discret law will have its values <span>u</span> equal to one value that comes from the whole of <span>X</span> which can be anything since it is random. But in the case of continous laws, here we have the law of probability which assigns the possibilities to an interval meaning that the answers or results can only fall within a certain interval, and of course this interval belongs to the space of <span>X</span>; so here <span>X</span> is greatly limited.
            </p>
            <p>
                It seems that in the discret case being that <span>X</span> can be random its values have infinite possibilities, thus you limit it by going into the continous case by placing it into an interval.
            </p>
            <p>
                <strong>Question/Reasoning:</strong>Think of the previous example: a man's height, varies between certain intervals and can be something other than whole integers thus it is related by a continous law. The number of car accidents is something that can only be expressed by whole integers and thus falls into the category of discret probabilities; moreover it can either be <span>0 - + &infin;</span>? This makes some sense, but I have a question, how is it that we are able to attribute this case to a discret law if we are excluding all negative integers? How is it not more workable in the continous case since it needs this interval: <span>0 - + &infin;</span>.
            </p>
            <h2>Discrete Laws: Bionomial Law</h2>
            <div class="mathsFormulas">
                $$
                p(k) = \Bbb{P}(X = k) = \binom{n}{k} p^k q^{n - k} = \binom{n}{k} p^k (1 - p)^{n - k}
                $$
            </div>
            <p>
                There are two parameters:
            </p>
            <ul>
                <li>
                    n = Number of trials
                </li>
                <li>
                    p = Probability of success
                </li>
                <li>
                    q = 1 - p = Probability of failure
                </li>
            </ul>
            <p>
                <span>P(X = k)</span> is the probability of obtaining success <span>k</span> when <span>n</span> number of trails are run, all relating to the probability <span>p</span>.
            </p>
            <h3>Example: Flipping a coin</h3>
            <p>
                Imagine flipping a coin, these are the parameters and the formula to follow. The question to address is: what is the probability of flipping heads 8 times in a row?
            </p>
            <div>
                <ul>
                    <li>
                        Population: n = 20 flips
                    </li>
                    <li>
                        Probability (Heads): p = 1/2
                    </li>
                    <li>
                        Probability (Tails): q = 1/2
                    </li>
                </ul>
            </div>
            <div class="mathsFormulas">
                $$
                P(k = 8) = \binom{20}{8}p^{8}(1 - p)^{20 - 8} = 0.12013
                $$
            </div>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
