<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
    content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

<title>Introduction to machine learning with R</title>
<h1>Introduction to machine learning with R</h1>
<div class="courseInfo">
    <div class="articleData">12 April 2020</div>
    <div class="articleData">Université de Paris-Saclay</div>
</div>


<!-- <a aria-describedby="footLabel" href="#"></a> -->
<ol class="foot-notes">
    <div class="foot-notes-head">
        Footnotes:
    </div>
    <li id="">
        <a href="https://www.udemy.com/course/data-science-and-machine-learning-bootcamp-with-r" target="_blank">Inspired by the course: Data Science and Machine Learning Bootcamp with R</a>.
    </li>
    <li>
        <a target="_blank" href="http://www-bcf.usc.edu/~gareth/ISL/ISLR%20Sixth%20Printing.pdf">Reading material: Gareth James; An Introduction to Statistical Learning</a>
    </li>
</ol>
        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
