<!DOCTYPE html>
<html lang="en-uk">

<head>
    <title>
        Dereck's Notes
    </title>
    <meta name="description"
    content="The online brain of Dereck de Mezquita; making sciencing easier.">
    <meta name="keywords"
        content="Science, Programming, Bioinformatics, Biology, Technology, Education, Art, Dictionary, Blog">
</head>

<body>
    <%- include ../templates/includes/info-bar.ejs %>
    <%- include ../templates/includes/header.ejs %>

    <%- include ../templates/includes/nav.ejs %>

    <div class="content-wrapper">
        <%- include ../templates/includes/side-bar.ejs %>

        <article>

<title>Introduction to Biology</title>
    <h1>Intro To Biology</h1>
    <div class="courseInfo">
        <div class="articleData">24 December 2015</div>
        <div class="articleData">Dereck de Mézquita</div>
    </div>
    <h1>The Basics of Life</h1>
        <p>
            Biology is a complex science which can deal with molecules that range in size from a single atom. A proton for example is an important biological player consisting of only one. Polymers of DNA can be over billions of atoms in size. The first chromosome in humans for example is over 247 million base pairs long, and can contain over 15 billion atoms. So representations of these molecules can become a little problematic. This problem is especially present in the representation of proteins and other large molecules. Representation of these molecules will be made on this site mostly as space fill models, with different colours to indicate different amino acid chains. Reason being that space fill is one of the most realistic protein representations which exists, not giving us too much information while still enough to understand basic structure and its relation to function. When necessary or interesting to do so, a schematic model using α helixes and β sheets will be shown for illustrative purposes.
        </p>
        <figure>
            <img class="lazy" data-src="/courses/documents/intro-biology/20190328_schematicTreeOfLife.svg">
            <figcaption>An overview of the the tree of life.</figcaption>
        </figure>
        <p>
            All space fill protein and molecule representations on this site are made using QuteMol (unless indicated otherwise), with the help of PDB files on the illustrative 1 pre-set. All α/β schematic representations are made using MacPyMOL (student licence) using again different colours for different amino acid chains. These are both free open source programs available on both Mac and PC, links and operating instructions will be available in the annex portion of the site.

        </p>
        <p>
            GIFs will be largely favoured on this website; these are universally accessible files which can be automatically displayed on any machine without user input or manipulation necessary.
        </p>
        <p>
            Here you will find some basic concepts to get you started in the beautiful field of biology and a short explicative introduction to the website. These are the essential basics that will help you to understand the other courses on this site. Feel free to reference this section at any time. Please read carefully and try to understand these basics, this will greatly help you advance through the main material in a faster and more fluid way without having to stop every few minutes to read on what a protein is or how DNA is structured. So here are some quick simplified concepts of the basics of life.

        </p>
        <p>
            Life on earth began around 3.5 billion years ago, no one knows what sparked it nor how it began for sure. It is however, agreed upon that all life existing today descends from LUCA or the Last Universal Common Ancestor. LUCA was one cell which would birth all forms of life on Earth today, over time this single organism evolved and spawned many other species including those which would go on to form the other domains of life: Eukaryota, Prokaryota, and Archaea. The universal tree of life shown here was created from DNA sequence comparison from many organisms, it is an unrooted tree which at its centre holds LUCA.

        </p>
        <p>
            This three domain system proposed by Carl Woese in the 1990’s caused a lot of controversy and was contested by many scientists. It came to replace the 5 kingdom system – Animalia, Plantae, Fungi, Protista, Monera. Woese’s work today is as respected and an important work to biology as Watson and Crick’s article on DNA and the Origin of the Species by Charles Darwin.

        </p>
        <p>
            In the following subsections we’ll take a closer look at the tree domains and their characteristics.
        </p>
    <h1>Bacteria</h1>
        <figure>
            <img class="lazy invertImageColours" data-src="/courses/documents/intro-biology/20190328_schematicAvgProkaryot.svg">
            <figcaption>Anatomy of an average prokaryotic (bacteria) organism (<a target="_blank" href="https://www.researchgate.net/publication/283728646_Review_article_Inhibition_of_methanogenic_archaea_by_statins_as_a_targeted_management_strategy_for_constipation_and_related_disorders"><span class="cite">Gottlieb</span> <em>et al.</em></a>)</figcaption>
        </figure>
        <p>
            Bacterial cells represent some of the simplest forms of life. They can be characterised by a few key aspects:

        </p>
        <ul>
            <li>
                Bacteria are usually single celled organisms
            </li>
            <li>
                They usually contain peptidoglycan in their cell wall
            </li>
            <li>
                Their cell membranes are made of unbranched fatty acid chains which are joined to glycerol by ester bonds
            </li>
            <li>
                Bacteria lack a nucleus
            </li>
            <li>
                Some bacteria can photosynthesis - cyanobacteria
            </li>
        </ul>
        <p>
            Bacterial structure is rather simple lets study it from the outside in. On the outside of most bacteria is a capsule, this outer layer is composed of polysaccharides. The cell wall of bacteria can vary in size depending on the species and strain in question. The cell wall is contains peptidoglycan and trichroic acids. The plasma membrane is composed of lipids, proteins, and sugars. Its is selectively permeable. On the membrane there may be small invaginations called mesosomes which are normally used for fixation. It is important to note that bacteria do not possess a nucleus and have their contents floating in their cytoplasm. The cytoplasm contains ribosomes the central circular chromosome and plasmids if present. The genetic material in a bacteria may concentrate in a region or portion of the cell, this is called the nucleoid it is normally not bound to the membrane but in some cases can be. Flagella are present allowing for motility and pilli for the transfer of genetic information, motility and attachment to substrates or other cells.

        </p>
    <h1>Archaea</h1>
        <p>
            This domain distinguishes itself from bacteria through unique rRNA sequences, they have a mixture molecular features from bacteria and eukaryote, although they lack peptidoglycan in cell walls. Oftentimes these organisms have unique lipids in their membranes such as isoprenoids attached to glycerol via ether linkages. Some have unusual metabolic characteristics and many live in extreme environments. Archaea contain a cell wall, a plasma membrane, cytoplasm, ribosomes, a nucleoid, and flagella/pilli.

        </p>
    <h1>Eukarota</h1>     
    <table>
        <thead>
            <tr>
                <th>Comparison chart</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Eukaryota</td>
                <td>Bacteria</td>
                <td>Archaea</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Structure/Anatomy</td>
                <td>Cell size</td>
                <td>10-100μm</td>
                <td>1-10μm</td>
                <td>0.1-15μm</td>
            </tr>
            <tr>
                <td></td>
                <td>Cell type</td>
                <td>Usually multicellular</td>
                <td>Usually unicellular</td>
                <td>Unknown</td>
            </tr>
            <tr>
                <td></td>
                <td>Flagella</td>
                <td>Undulipodium</td>
                <td>Flagellum</td>
                <td>Archaellum</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Made of Microtubules</td>
                <td>Made of Flagellin</td>
                <td>Made of Flagellin</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Microtubules in 9 doublets</td>
                <td>20nm ø</td>
                <td>12-15nm ø</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Components added to tip</td>
                <td>Components added to tip</td>
                <td>Components added to base</td>
            </tr>
            <tr>
                <td></td>
                <td>Pilli</td>
                <td>N/A</td>
                <td>Two types</td>
                <td>Two types</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>1.     Conjugative – Transfer of genetic material</td>
                <td>1.     Conjugative – Transfer of genetic material</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>2.     Type IV motility</td>
                <td>2.     Type IV motility</td>
            </tr>
            <tr>
                <td>Genetics/Nucleus</td>
                <td>Nucleus</td>
                <td>Present</td>
                <td>Absent</td>
                <td>Absent</td>
            </tr>
            <tr>
                <td></td>
                <td>Plasmids</td>
                <td>Separate from chromosome</td>
                <td>Separate from chromosome</td>
                <td>Separate from chromosome</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Generally circular and double stranded</td>
                <td>Generally circular and double stranded</td>
                <td>Generally circular and double stranded</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Mostly yeast/fungi/plants</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td></td>
                <td>Nuclear membrane permeability</td>
                <td>Selective</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td></td>
                <td>Chromosomes</td>
                <td>More than one</td>
                <td>One pseudo-chromosome + plasmid</td>
                <td>One pseudo-chromosome + plasmid</td>
            </tr>
            <tr>
                <td></td>
                <td>Genetic Recombination</td>
                <td>Meiosis and fusion of gametes</td>
                <td>Horizontal transfer and Vertical</td>
                <td>Horizontal transfer and Vertical</td>
            </tr>
            <tr>
                <td>Plasma membrane</td>
                <td>Composition</td>
                <td>Lipids, proteins, sugars</td>
                <td>Lipids, proteins, sugars</td>
                <td>Lipids, proteins, sugars</td>
            </tr>
            <tr>
                <td></td>
                <td>Steroid</td>
                <td>Yes</td>
                <td>Usually no</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Lipid type</td>
                <td>Lipids – fatty acid + glycerol-3-phosphate – ester bonds</td>
                <td>Lipids – fatty acid + glycerol-3-phosphate – ester bonds</td>
                <td>Lipids – isoprenoid + glycerol-1-phosphate – ether bonds</td>
            </tr>
            <tr>
                <td></td>
                <td>Structure</td>
                <td>Lipid bilayer structure</td>
                <td>Lipid bilayer structure</td>
                <td>Lipid bilayer structure*</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Thermophiles can have monolayer</td>
            </tr>
            <tr>
                <td></td>
                <td>Permeability</td>
                <td>Selective</td>
                <td>Selective</td>
                <td>Selective</td>
            </tr>
            <tr>
                <td>Cell Wall</td>
                <td>Type</td>
                <td>Plants and fungi</td>
                <td>Gram +, Gram –</td>
                <td>Most have S layer, sulfonated proteins auto assembly into honeycomb like structure</td>
            </tr>
            <tr>
                <td></td>
                <td>Peptidoglycan</td>
                <td>Does not contain peptidoglycan</td>
                <td>Contains peptidoglycan and teichoic acid</td>
                <td>Does not contain peptidoglycan</td>
            </tr>
            <tr>
                <td>Ribosomes</td>
                <td>Size</td>
                <td>Large 25-30nm ø</td>
                <td>Small 20nm ø</td>
                <td>Closer in ø to bacteria</td>
            </tr>
            <tr>
                <td></td>
                <td>Construction</td>
                <td>50% rRNA 50% proteins</td>
                <td>65% rRNA 35% proteins</td>
                <td>Unknown</td>
            </tr>
            <tr>
                <td></td>
                <td>Subunits</td>
                <td>80s = 40s + 60s</td>
                <td>70s = 30s0 + 50s</td>
                <td>70s = 30s0 + 50s</td>
            </tr>
            <tr>
                <td></td>
                <td>Location</td>
                <td>Cytoplasm/endoplasmic reticulum</td>
                <td>Cytoplasm</td>
                <td>Cytoplasm</td>
            </tr>
        </tbody>
    </table>
        <p>
            Eukaryotes can be either unicellular (yeast) or multicellular. Some algae and plants perform photosynthesis for energy production and carbon fixation. All eukaryotes have membrane bound nucleuses. The cell membrane is made of unbranched fatty acid chains which are joined to glycerol by ester bonds. Eukaryotes are highly organised and compartmentalised. They are generally larger than bacteria or archaea.

        </p>           
    <h1>Molecules of Life</h1>
        <p>
            Nucleic acids are composed of three molecules, a nitrogenous base, a pentose sugar (desoxyribose/ribose) and phosphate groups.
        </p>
        <p>
            Proteins are composed of amino acids, of which there are 20 standard ones, which are all bound together through a variety of chemical bonds: peptide bond, disulfer, hydrogen, or other. Proteines can be composed of one or more subunits and can be modified post transcriptionally (glycolysation, phosphorylation, hydrolysation)
        </p>
        <p>
            Lipids are amphipathic molecules (one polar end and non-polar end) they are composed of glycerol which is attached to either fatty acids or isoprenoid units. Fatty acids are attached to the glycerol by ester bonds while isoprenoid units are attached by ether bonds.
        </p>
        <p>
            Carbohydrates are sugars composed of carbon, hydrogen and oxygen atoms. They are also referred to as saccharides.
        </p>
    <h2>Nucleic Acids</h2>
        <figure>
            <img class="lazy invertImageColours" data-src="/courses/documents/intro-biology/20190328_schematicDNA.svg">
            <figcaption>Molecular structure of DNA.</figcaption>
        </figure>
        <p>
            All forms of life use nucleic acids for the transfer of genetic information even viruses which are not generally considered as living rely on nucleic acids for their existence. Nucleic acids can carry genetic information in cells for a few reasons, a double strand DNA complex is resilient and stable over time allowing for easy replication and its reading through de-hybridisation through the use of enzymes.
        </p>
        <p>
            There are two main forms of nucleic acids DNA and RNA. DNA is composed of the adenine (A), guanine (G), cytosine (C), and thymine (T), along with a desoxyribose sugar. RNA is made of A, G, C, however it uses uracil (U) instead of T along with a ribose sugar.
        </p>
        <p>
            Nucleic acids can be split into two large categories depending on the structure of the nitrogenous base, purines and pyrimidines.
        </p>
        <table>
            <tr>
                <th class="tableHeader" colspan="3">Nucleic Acids</th>
            </tr>
            <tr>
                <td class="verticalTableHeader" rowspan="4">Code</td>
                <td>Purines</td>
                <td>Pyrimidines</td>
            </tr>
            <tr>
                <td>A</td>
                <td>C</td>
            </tr>
            <tr>
                <td>G</td>
                <td>T</td>
            </tr>
            <tr>
                <td></td>
                <td>U</td>
            </tr>
        </table>

    <h1>DNA Desoxyribonucleic Acid</h1>


        <p>
            DNA appears in most organisms as a double stranded helix structure. It can occur as a single strand although it is more fragile in this state. The structure of DNA was first described by Watson and Crick by x-ray diffraction visualisation methods.
        </p>
        <p>
            DNA is composed of nucleotides ie nitrogenous base, sugar, phosphate group all held together by a phosphodiester bond which connects a phosphate to the sugar of the following molecule. Two DNA molecules can join together through hydrogen bonds forming a double stranded structure. A binds to T forming 2 hydrogen bonds and C binds to G forming 3 hydrogen bonds. The more hydrogen bonds present in a double stranded complex the greater the amount of energy (temperature) that will be needed to separate the two; the number of hydrogen bonds can be increased through a greater proportion in C/G and or having a longer strand.

        </p>
        <p>       
            Genetic information is stored in sequences of A/T/C/G which compose segments known as genes. Eukaryotic organisms have exons and introns in their genes, often times requiring a maturation process of the pre-mRNA before their genes can be translated whereby the introns are removed from the mRNA – exons code for proteins. This allows for a greater control and diversity of gene expression.
        </p>


        <figure>
            <img class="lazy invertImageColours" data-src="/courses/documents/intro-biology/20190328_schematicChromatinStructure.png">
            <figcaption>Substructure of DNA, its coiling and compaction.</figcaption>
        </figure>

        <p>
            DNA in eukaryotes is stored in the nucleus in highly coiled structures. The double helix strands twist on themselves wrapped around histone proteins so as to take up less space. The DNA from a single human cell can span the length of 2m end to end. These supercoiled structures are organised into chromosomes. In archaea and bacteria chromosomes are generally circular but sometimes can be linear. Eukaryotes have multiple linear chromosomes stored in the nucleus of the cell. In humans DNA is organised into 23 pairs of chromosomes.
        </p>
    <h1>RNA Ribonucleic Acid</h1>
        <p>
            RNA is an important molecule in life, it allows for the transmission of genetic information (mRNA) to the ribosomes to the translation (rRNA/tRNA) and regulation (siRNA) of this information before translation. It is normally found as a single stranded molecule but can be double stranded and form complex structures such as in tRNA.

        </p>
        <p>
            In this image we see yeast tRNAPhe. Generally tRNA are shown in this clover-like structure so as to visualise all of the important domains of the molecule in catalysis.
        </p>
        <p>
            RNA can be divided into two basic groups, mRNA which is to be translated into proteins (after removal of introns) and non-coding RNA which composes about 95% of all known RNA. Non-coding RNAs can be further split into two classes tRNA and rRNA, other RNAs such as siRNAs, snoRNAs, and shRNAs, are involved in protein and gene regulation.
        </p>
    <h1>Proteins</h1>

        <figure>
            <img class="lazy invertImageColours" data-src="/courses/documents/intro-biology/20190328_schematicPeptideBond.png">
            <figcaption>Chemical reaction leading to the formation of a peptide bond.</figcaption>
        </figure>

        <p>
            Proteins are the workers of the cell. They can assure everything from structure to reaction catalysis. They are all made of amino acids, most organisms use the standard 20 amino acids to make their proteins, few use selenocyteine and pyrrolysine.
        </p>
        <p>
            The properties of a protein are determined by its sequence in amino acids, and by its three dimensional structure. Amino acids are composed of three main chemical functions, COOH, NH2, and OH. This central carbon is asymmetrical (known as the α carbon) in all amino acids except alanine which has the simplest of all side chains; the side chain or lateral chain is the part of amino acids which determine the chemical properties of each individual amino acid. The structure and enzymatic properties are determined by the chemical characteristics of the side chains of each individual amino acid.
        </p>
        <p>
            Amino acids are linked together by peptide bonds (shown in red) – this is the bond between C and N of each adjacent amino acid. All amino acids are derived from intermediates in the primary metabolic pathway of the cell; glycolysis, the citric acid cycle (krebs cycle) and from the pentose phosphate pathway.
        </p>
        <p>
            Amino acids are linked together by peptide bonds (shown in red) – this is the bond between C and N of each adjacent amino acid. All amino acids are derived from intermediates in the primary metabolic pathway of the cell; glycolysis, the citric acid cycle (krebs cycle) and from the pentose phosphate pathway.
        </p>
        <p>
            Proteins are fairly unstable in vitro and require a variety of buffers and other chemicals to avoid denaturation. A denatured protein has lost its three dimensional form thus losing its enzymatic activity. All proteins have a limited life span after which they are targeted for destruction and recycling by the cell. Proteins can have lifespans from a few seconds up to many months. The average life span for a human protein is a little over one day, DNA on the other hand can be stable for up to 100,000s of years.
        </p>
    <h1>Lipids</h1>

        <figure>
            <img class="lazy invertImageColours" data-src="/courses/documents/intro-biology/20190328_phosphoLipid.png">
            <figcaption>Chemical structure of a phospholipid, main component of the lipid bilayer.</figcaption>
        </figure>

        <p>
            Lipids are molecules made by combining glycerol and either a fatty acid (in bacteria and eukaryotes) or isoprenoid (archaea). The basic structure of lipids. Phospholipid structure is typically constituted of two fatty acid groups attached to a glycerol molecule which in turn is fixed to a phosphate plus an alcohol chemical function.
        </p>
    <h1>Sugars</h1>

        <figure>
            <img class="lazy invertImageColours" data-src="/courses/documents/intro-biology/20190328_lactose.svg">
            <figcaption>Chemical composition and structure of lactose, composed of glucose and galactose.</figcaption>
        </figure>

        <p>
            There are three main categories under which we can class sugars or carbohydrates also known as saccharides. There are the monosaccharides which are simple sugars made of one basic molecule and created by gluconeogenesis. Disaccharides are made by combining two monosaccharides and form for example sucrose (glucose + fructose) and lactose (glucose + galactose). Polysaccharides are made by combining three or more monosaccharide types in this category we find glycogen which is composed of many glucose molecules in one chain.
        </p>
    <h1>Amino Acid Synthesis</h1>
        <p>
            In order for protein production to take place by way of transcription and translation, the cell must first have in place the building blocks necessary for the creation of proteins; amino acids. Amino acids are produced by way of different metabolic pathways such as: glycolysis, the citric cycle (krebs cycle) etc.
        </p>
        <p>
            In this schematic we see how various amino acids are produced by the cell. Know that not all amino acids can be synthesised by humans and some must be consumed and absorbed through balanced nutrition. These are known as essential* amino acids.
        </p>
        
    <h1>Central Dogma of Biology</h1>

        <p>
            The central dogma of biology is the idea that all information in life flows from DNA to protein expression and action by means of transcription and then translation. This idea was stated by Francis Crick in 1958, Crick then worked with James Watson in order to uncover the structure of DNA.
        </p>
        <p>
            This idea as stated initially by Crick was correct in general but heavily simplified (left image) and not entirely representative of reality. In reality information and regulation can and does from in the opposite sense (right image) from time to time, for example from RNA to DNA by means of reverse transcription, and from RNA to RNA by replication of RNA through an RNA dependent RNA polymerase.
        </p>
        <h2>DNA Replication</h2>

        <figure>
            <img class="lazy invertImageColours" data-src="/courses/documents/intro-biology/20190328_DnaReplication.svg">
            <figcaption>Chemical composition and structure of lactose, composed of glucose and galactose.</figcaption>
        </figure>

        <h3>Steps In DNA Replication</h3>
        <ol>
            <li>
                DNA ligase joins the Okazaki fragments.
            </li>
            <li>
                The topoisomerase unwinds the DNA.
            </li>
            <li>
                Helicase beaks hydrogen bonds separating the two strands.
            </li>
            <li>
                SSB proteins stabilise each individual strand of DNA.
            </li>
            <li>
                DNA primase adds the 5’ à 3’ RNA primer to start DNA replication.
            </li>
            <li>
                DNA polymerase uses the RNA as a template.
            </li>
            <li>
                DNA polymerase removes the RNA primer.
            </li>
        </ol>
        <p>
            In this case we have shown replication of the lagging strand of DNA, DNA synthesis is always done from a 3’ end – that means that nucleotides are added from onto the 3’ end of a strand extending it. Be careful as this can get quite confusion sometimes. Sometimes it is said that replication happens from 5’ à 3’ this simply means that the strand that is extended has on its opposite end a 5’. As replication can only be done from 5’ à 3’ this limits the replication on one of the strands, this is the lagging strand, its synthesis is incontinuous and done so in fragments, known as Okazaki fragments. The leading strand is however, synthesised continuously. Most often DNA replication is done in a bi-directional manner, with two replication forks flowing down the DNA strands.
        </p>
        <p>
            Check out the following video for a representation of DNA replication:
        </p>
        <p>
            DNA replication means that each nucleotide must be copied exactly, this is however, not always the case. That is why cells have in place DNA proofreading mechanisms in order to detect and excise any errors which may occur. This concept was first proposed by John Hopfield and Jacques Ninio. DNA can be proofread while it is being synthesised this process is assured by the DNA polymerase complex itself. Proofreading can also be done after DNA has been synthesised as well.
        </p>

    <h2>Transcription</h2>
    <h3>In Bacteria</h3>
        <p>
            Transcription is the first step in gene expression, this is the process of copying genetic information and transforming it from DNA to RNA so that it can be then passed unto the ribosomes whom will assure protein synthesis by translation. DNA is copied into mRNA which has a few key differences, it possesses a ribose sugar backbone instead of desoxyribose, and uracil (U) replaces thymine (T). 
        </p>
    <h3>In Eukaryotes</h3>
        <p>
            The process is similar in eukaryotes the transcription factors change however, and the process has more steps possible in the regulation of gene expression ie transcription. This increase in complexity is probably due to the fact that eukaryotes are often multicellular organisms with all cells possessing the same genome. The only difference between cells is the expression of certain genes in this genome, some must be silenced or turned off, while others should be on to allow for the creation of different tissues and cells. 
        </p>

    <h2>RNA Polymerase</h2>
        <p>
            The enzyme, RNA polymerase responsible for transcription presents many similarities across all three domains of life. This is shown in the image below which highlights homologous regions of the enzyme through all three domains, the colours represent different homologous domains. Notice how the claw like structure or pincer is retained in all three domains of life.
        </p>

    <h2>RNA Structure</h2>
        <p>
            Transcription produces an RNA molecule, as previously stated this molecule is composed of a ribose backbone with A/U/C/G nitrogenous bases and phosphate groups to form the different nucleotides of the RNA fragment. In eukaryotes this sequence can be divided into exons and introns, the introns are to be removed in order to allow for pre-mRNA maturation and then the translation. Introns are excised from the molecule by a protein complex called the spliceosome. Introns are generally found in eukaryotic organisms but can also be found in bacteria and archaea.
        </p>
        <p>
            For a representation of transcription watch the following video: 
        </p>
    <h2>Translation</h2>

        <figure>
            <a id="translation-ribosome-prot-orientation invertImageColours" href="/courses/documents/intro-biology/20190328_schematicRibosome.svg"><img class="lazy" data-src="/courses/documents/intro-biology/20190328_schematicRibosome.svg"></a>
            <figcaption>An overview of translation, done by a free ribosome.</figcaption>
        </figure>
        <p>
            Translation is the process by which mRNA is transformed into a protein, this process involves the use of an mRNA molecule, a ribosome, tRNA and amino acids, along with some other translation factors. For more information please refer to the biochemistry course on translation.
        </p>
        <p>
            The mRNA forms a complex with the ribosome and is threaded through codon by codon. A codon is a unit of measure it is equal to three nucleotides on an mRNA strand. These codons are read one by one by the ribosome through tRNA matching, after there is a match the amino acid which is carried by the tRNA is linked onto the growing polypeptide chain. It is important to note that an mRNA molecule passes through the ribosome with its 5’ end going in first, and the NH2 end of the protein is the first to come out of the exit channel. Termination is done with a stop codon.
        </p>
        <p>
            After protein synthesis there may be post-translational modifications. One such exampls is the removal of inteins as depicted in the adjacent image above.
        </p>
        <p>
            Watch the following video for an illustration of translation: 
        </p>

        </article>
    </div>

    <%- include ../templates/includes/footer.ejs %>
</body>

</html>
